Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kairu-ms, @fengzhou-msft, @qwordy, @houk-ms, @jsntcy, @Juliehzl, @jiasli, @zhoxing-ms, @evelyn-ys, @xfz11, @08nholloway, @necusjz, @jonunezd, @Diego-Perez-Botero, @tamirkamara, @panchagnula, @dannysongg, @wilcobmsft, @jeffrey-ace, @kalyanaj, @amsoedal, @temandr, @alegal, @alexeldeib, @linggengmsft, @jeffj6123, @xiangyul, @demyanenko, @amirhbk, @chiragg4u, @pichandwork, @andyzhangx, @andyliuliming, @fumingzhang, @swbae31, @b-lefr, @iviark, @guy-microsoft, @geektrainer, @peizhou298, @farehar, @akashkeshari, @alphaWizard, @gautamd-ms, @mirdaki, @mit2nil, @shahbj79, @RudraSharma93Microsoft, @tarostok, @kairu, @bquantump, @limingu, @YalinLi0312, @anpaz-msft, @rlrossiter, @danybeam, @N6UDP, @NarayanThiru, @jonathan-innis, @ilayr, @orhasban, @astauben, @ebencarek, @calcha, @StrawnSC, @changlong-liu, @gehuan, @sotaneja, @mabenedi, @mjain2, @wwendyc, @vikashj, @wmengmsft, @MehaKaushik, @kavskalyan, @greenms, @zackliu, @93mishra, @adrianabedon, @sambitratha, @mkarmark, @gzuber, @HuangYT2000, @ashutoshsuman99, @yugangw-msft, @lynshi, @ZengTaoxu, @calvinsID, @haroonf, @nascarsayan

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/linter_exclusions.yml @kairu-ms @fengzhou-msft

/src/index.json @fengzhou-msft @qwordy @houk-ms @kairu-ms @jsntcy @Juliehzl @jiasli @zhoxing-ms @evelyn-ys @xfz11 @08nholloway @necusjz

/src/footprint/ @jonunezd @Diego-Perez-Botero

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula @dannysongg

/src/aem/ @qwordy

/src/subscription/ @wilcobmsft

/src/alias/ @Juliehzl

/src/managementpartner/ @jeffrey-ace

/src/eventgrid/ @kalyanaj

/src/storage-preview/ @Juliehzl

/src/db-up/ @Juliehzl

/src/dev-spaces/ @amsoedal

/src/dms-preview/ @temandr

/src/dnc/ @alegal

/src/dns-resolver/ @necusjz

/src/edgeorder/ @necusjz

/src/express-route-cross-connection/ @necusjz @kairu-ms @jsntcy

/src/application-insights/ @alexeldeib

/src/log-analytics/ @alexeldeib

/src/logz/ @kairu-ms @necusjz

/src/mesh/ @linggengmsft @jeffj6123

/src/mixed-reality/ @xiangyul

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @necusjz @kairu-ms @jsntcy

/src/virtual-network-tap/ @necusjz @kairu-ms @jsntcy

/src/virtual-wan/ @necusjz @kairu-ms @jsntcy

/src/front-door/ @pichandwork

/src/interactive/ @jiasli

/src/aks-preview/ @andyzhangx @andyliuliming @fumingzhang

/src/vm-repair/ @swbae31

/src/netappfiles-preview/ @b-lefr

/src/network-manager/ @necusjz @kairu-ms @jsntcy

/src/healthcareapis/ @fengzhou-msft @iviark

/src/healthbot/ @guy-microsoft

/src/hack/ @geektrainer

/src/internet-analyzer/ @jsntcy

/src/spring-cloud/ @peizhou298

/src/peering/ @jsntcy

/src/connectedmachine/ @farehar

/src/ip-group/ @necusjz @kairu-ms @jsntcy

/src/connectedk8s/ @akashkeshari @alphaWizard

/src/storagesync/ @jsntcy

/src/maintenance/ @gautamd-ms

/src/ai-examples/ @mirdaki

/src/notification-hub/ @fengzhou-msft

/src/connection-monitor-preview/ @kairu-ms @jsntcy

/src/support/ @mit2nil @shahbj79 @RudraSharma93Microsoft

/src/alertsmanagement/ @qwordy

/src/stream-analytics/ @houk-ms @necusjz

/src/databricks/ @fengzhou-msft @xfz11

/src/powerbidedicated/ @Juliehzl @tarostok @evelyn-ys

/src/blueprint/ @fengzhou-msft

/src/storage-blob-preview/ @Juliehzl

/src/logic/ @jsntcy @kairu

/src/hardware-security-modules/ @bquantump

/src/databox/ @jsntcy

/src/datadog/ @limingu

/src/hpc-cache/ @zhoxing-ms

/src/timeseriesinsights/ @jiasli

/src/portal/ @YalinLi0312

/src/import-export/ @xfz11

/src/account/ @jiasli @fengzhou-msft

/src/quantum/ @anpaz-msft

/src/datashare/ @fengzhou-msft

/src/ssh/ @rlrossiter @danybeam @fengzhou-msft @N6UDP

/src/k8s-configuration/ @NarayanThiru @jonathan-innis

/src/k8s-extension/ @NarayanThiru @jonathan-innis

/src/log-analytics-solution/ @zhoxing-ms

/src/kusto/ @ilayr @orhasban @astauben

/src/appservice-kube/ @ebencarek @calcha @StrawnSC

/src/custom-providers/ @jsntcy

/src/costmanagement/ @kairu-ms @jsntcy

/src/datafactory/ @kairu-ms  @evelyn-ys @Juliehzl

/src/blockchain/ @jsntcy

/src/desktopvirtualization/ @changlong-liu

/src/attestation/ @YalinLi0312 @houk-ms

/src/guestconfig/ @gehuan

/src/swiftlet/ @zhoxing-ms

/src/maintenance/ @sotaneja

/src/scheduled-query/ @jsntcy

/src/cli-translator/ @houk-ms @fengzhou-msft

/src/vmware/ @Juliehzl @zhoxing-ms

/src/stack-hci/ @zhoxing-ms

/src/acrtransfer/ @mabenedi

/src/securityinsight/ @houk-ms

/src/communication/ @kairu-ms @jsntcy

/src/automation/ @zhoxing-ms

/src/monitor-control-service/ @jsntcy @kairu-ms

/src/rdbms-connect/ @mjain2 @Juliehzl

/src/confluent/ @zhoxing-ms @jsntcy

/src/offazure/ @houk-ms

/src/resource-mover/ @houk-ms

/src/providerhub/ @wwendyc @vikashj

/src/cosmosdb-preview/ @wmengmsft @MehaKaushik @kavskalyan

/src/ad/ @evelyn-ys

/src/next/ @zhoxing-ms

/src/redisenterprise/ @greenms

/src/cloudservice/ @zhoxing-ms

/src/webpubsub/ @zackliu

/src/connectedvmware/ @93mishra

/src/diskpool/ @Juliehzl

/src/serial-console/ @adrianabedon

/src/dataprotection/ @sambitratha

/src/authV2/ @mkarmark

/src/purview/ @kairu-ms @jsntcy

/src/enterprise-edge/ @StrawnSC

/src/functionapp/ @gzuber

/src/elastic/ @kairu-ms @jsntcy

/src/image-gallery/ @zhoxing-ms

/src/init/ @zhoxing-ms @HuangYT2000

/src/datamigration/ @ashutoshsuman99

/src/amg/ @yugangw-msft

/src/confidentialledger/ @kairu-ms @lynshi

/src/quota/ @kairu-ms @ZengTaoxu

/src/containerapp/ @calvinsID @haroonf @panchagnula @StrawnSC

/src/scvmm/ @nascarsayan

Removed accidental changes
  src/aks-preview/azext_aks_preview/_params.py
Owners: @andyzhangx, @andyliuliming, @fumingzhang

Removed whitespace
  src/aks-preview/azext_aks_preview/_params.py
Owners: @andyzhangx, @andyliuliming, @fumingzhang

Removed unnecessary changed
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2022_03_02_preview/aio/operations/_managed_clusters_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2022_03_02_preview/operations/_managed_clusters_operations.py
Owners: @andyzhangx, @andyliuliming, @fumingzhang

Removed whitespace diff
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2022_03_02_preview/aio/operations/_managed_clusters_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2022_03_02_preview/operations/_managed_clusters_operations.py
Owners: @andyzhangx, @andyliuliming, @fumingzhang

re-recorded the tests
  src/connectedk8s/azext_connectedk8s/tests/latest/recordings/test_connectedk8s.yaml
Owners: @akashkeshari, @alphaWizard

Moved constant to constants.py.
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_up_utils.py
Owners: @calvinsID, @haroonf, @panchagnula, @StrawnSC

Wrote better dapr-component tests. Fixed old tests that required live only.
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_components.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
Owners: @calvinsID, @haroonf, @panchagnula, @StrawnSC

add timeout to container app ping for ssh/logstream
  src/containerapp/azext_containerapp/_ssh_utils.py
Owners: @calvinsID, @haroonf, @panchagnula, @StrawnSC

Various tests (Ingress, Traffic, Dapr, Env) (#87)
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_components.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_storage.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
Owners: @calvinsID, @haroonf, @panchagnula, @StrawnSC
