Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @williexu, @tjprescott, @tamirkamara, @panchagnula, @yugangw-msft, @wilcobmsft, @rajshah11, @rahulgouthamDOTgs, @chewong, @troydai, @jeffrey-ace, @muwaqar, @zackliu, @kalyanaj, @swagatmishra2007, @saurabsa, @temandr, @alexeldeib, @linggengmsft, @albaloo, @demyanenko, @amirhbk, @chiragg4u, @trpresco

add _ to private method
  src/botservice/azext_bot/custom.py
Owners: @swagatmishra2007

add botbuilder sdk v4 related features (publish, create). Also update index.json (#311)
  src/botservice/MANIFEST.in
  src/botservice/azext_bot/_params.py
  src/botservice/azext_bot/commands.py
  src/botservice/azext_bot/custom.py
  src/botservice/azext_bot/webappv4.template.json
  src/botservice/setup.py
  src/index.json
Owners: @swagatmishra2007, @williexu, @tjprescott

fixed the way it grabs the network name
  src/mesh/azext_mesh/commands.py
  src/mesh/azext_mesh/custom.py
  src/mesh/setup.py
Owners: @linggengmsft

fix prepapre publish
  src/botservice/azext_bot/commands.py
  src/botservice/azext_bot/custom.py
  src/index.json
Owners: @swagatmishra2007, @williexu, @tjprescott

fix prepapre publish (#313)
  src/botservice/azext_bot/commands.py
  src/botservice/azext_bot/custom.py
  src/index.json
Owners: @swagatmishra2007, @williexu, @tjprescott

fix help and examples
  src/log-analytics/README.rst
  src/log-analytics/azext_loganalytics/_help.py
Owners: @alexeldeib

improve summary description
  src/log-analytics/azext_loganalytics/_help.py
Owners: @alexeldeib

bump version of package
  src/log-analytics/azext_loganalytics/_help.py
  src/log-analytics/setup.py
Owners: @alexeldeib

remove stray text
  src/log-analytics/azext_loganalytics/_help.py
Owners: @alexeldeib

fix help, redux
  src/log-analytics/azext_loganalytics/_help.py
Owners: @alexeldeib

update index
  src/index.json
Owners: @williexu, @tjprescott

name linting on parmeters is *really* strict (?) https://github.com/Microsoft/knack/issues/85
  src/log-analytics/azext_loganalytics/_help.py
Owners: @alexeldeib

Updating to use the latest SDK
  src/index.json
  src/webapp/azext_webapp/__init__.py
  src/webapp/azext_webapp/_help.py
  src/webapp/azext_webapp/azext_metadata.json
  src/webapp/azext_webapp/custom.py
  src/webapp/setup.py
Owners: @williexu, @tjprescott, @panchagnula

Updating setup description to match index.json
  src/webapp/setup.py
Owners: @panchagnula

trying different tricks to validate
  src/log-analytics/azext_loganalytics/_help.py
Owners: @alexeldeib

revert experiments with parameter names
  src/log-analytics/azext_loganalytics/_help.py
Owners: @alexeldeib

Updating Index.json
  src/index.json
Owners: @williexu, @tjprescott

webapp: Updating to use the latest SDK & adding exception analysis incase of error (#312)
  src/index.json
  src/webapp/azext_webapp/__init__.py
  src/webapp/azext_webapp/_help.py
  src/webapp/azext_webapp/azext_metadata.json
  src/webapp/azext_webapp/custom.py
  src/webapp/setup.py
Owners: @williexu, @tjprescott, @panchagnula

fix webapp remote-connection create fails if specifying --port
  src/index.json
  src/webapp/azext_webapp/tunnel.py
  src/webapp/setup.py
Owners: @williexu, @tjprescott, @panchagnula

remove params to make CI happy, update index, history
  src/index.json
  src/log-analytics/HISTORY.rst
  src/log-analytics/azext_loganalytics/_help.py
  src/log-analytics/azext_loganalytics/_params.py
  src/log-analytics/setup.py
Owners: @williexu, @tjprescott, @alexeldeib

debump version, migrate to azure storage
  src/index.json
  src/log-analytics/azext_loganalytics/_help.py
  src/log-analytics/azext_loganalytics/_params.py
  src/log-analytics/setup.py
Owners: @williexu, @tjprescott, @alexeldeib

fix hash and history
  src/index.json
  src/log-analytics/HISTORY.rst
Owners: @williexu, @tjprescott, @alexeldeib

tolower() sha256
  src/index.json
Owners: @williexu, @tjprescott

[Log Analytics] Fix help + examples (#316)
  src/index.json
  src/log-analytics/HISTORY.rst
  src/log-analytics/README.rst
  src/log-analytics/azext_loganalytics/_help.py
  src/log-analytics/azext_loganalytics/_params.py
  src/log-analytics/setup.py
Owners: @williexu, @tjprescott, @alexeldeib

fix webapp remote-connection create fails if specifying --port (#281)
  src/index.json
  src/webapp/azext_webapp/tunnel.py
  src/webapp/setup.py
Owners: @williexu, @tjprescott, @panchagnula

Fixing the issue where the geo_regions api changed to name vs geo_regions_name
  src/index.json
  src/webapp/azext_webapp/custom.py
Owners: @williexu, @tjprescott, @panchagnula

Fixing the issue where the geo_regions api changed to name vs geo_regions_name (#319)
  src/index.json
  src/webapp/azext_webapp/custom.py
Owners: @williexu, @tjprescott, @panchagnula

Added new CI test and script to test that all modules are loaded successfully.
  .travis.yml
  scripts/ci/verify_module_load.sh
Owners: none

Added pycharm .idea folder.
  .gitignore
Owners: none

Update README.md
  README.md
Owners: none

verify extension loads for modifeid index entries
  .travis.yml
  scripts/ci/verify_modified_index.sh
Owners: none

make script executable
  scripts/ci/verify_modified_index.sh
Owners: none

changed ending message
  scripts/ci/verify_modified_index.sh
Owners: none

minor commit
  scripts/ci/verify_modified_index.sh
Owners: none

verify extension loads for modified index entries (#324)
  .travis.yml
  scripts/ci/verify_modified_index.sh
Owners: none

Fix app service plan creation in webapp up command
  src/index.json
  src/webapp/azext_webapp/custom.py
  src/webapp/setup.py
Owners: @williexu, @tjprescott, @panchagnula

Updated docker image name.
  .travis.yml
  scripts/avail-ext-doc/README.md
Owners: none

- Update README and Travis for new run requirements - Update run requirements - Correctly detect ms.date-only diffs
  .travis.yml
  scripts/avail-ext-doc/README.md
  scripts/avail-ext-doc/main.py
  scripts/avail-ext-doc/requirements.txt
Owners: none

!fixme In-progress work on list publisher
  scripts/avail-ext-doc/Dockerfile
  scripts/avail-ext-doc/list-template.md
  scripts/avail-ext-doc/main.py
  scripts/avail-ext-doc/requirements.txt
  scripts/ci/available_extensions_doc.py
Owners: none

Address review feedback.
  scripts/avail-ext-doc/README.md
  scripts/avail-ext-doc/main.py
Owners: none

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/src/index.json @williexu @tjprescott

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula

/src/aem/ @yugangw-msft

/src/subscription/ @wilcobmsft

/src/managementgroups/ @rajshah11

/src/rdbms_vnet/ @rahulgouthamDOTgs

/src/alias/ @chewong @troydai

/src/managementpartner/ @jeffrey-ace

/src/dns/ @muwaqar

/src/signalr/ @zackliu

/src/eventgrid/ @kalyanaj

/src/botservice/ @swagatmishra2007

/src/storage-preview/ @williexu

/src/dev-spaces-preview/ @saurabsa

/src/dms-preview/ @temandr

/src/express-route-cross-connection/ @tjprescott

/src/log-analytics/ @alexeldeib

/src/mesh/ @linggengmsft

/src/find/ @albaloo

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @trpresco

/src/virtual-network-tap/ @trpresco

/src/virtual-wan/ @trpresco
