Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kairu-ms, @fengzhou-msft, @qwordy, @houk-ms, @jsntcy, @Juliehzl, @jiasli, @zhoxing-ms, @evelyn-ys, @xfz11, @08nholloway, @jonunezd, @Diego-Perez-Botero, @tamirkamara, @panchagnula, @dannysongg, @wilcobmsft, @jeffrey-ace, @kalyanaj, @amsoedal, @temandr, @alegal, @alexeldeib, @linggengmsft, @jeffj6123, @xiangyul, @demyanenko, @amirhbk, @chiragg4u, @pichandwork, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @swbae31, @b-lefr, @iviark, @guy-microsoft, @geektrainer, @peizhou298, @farehar, @akashkeshari, @alphaWizard, @gautamd-ms, @mirdaki, @mit2nil, @shahbj79, @RudraSharma93Microsoft, @tarostok, @kairu, @bquantump, @limingu, @YalinLi0312, @anpaz-msft, @rlrossiter, @danybeam, @N6UDP, @NarayanThiru, @jonathan-innis, @ilayr, @orhasban, @astauben, @qiaozha, @derekbekoe, @changlong-liu, @gehuan, @sotaneja, @mabenedi, @mjain2, @wwendyc, @vikashj, @wmengmsft, @MehaKaushik, @kavskalyan, @greenms, @zackliu, @sanmishra18, @sambitratha

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/linter_exclusions.yml @kairu-ms @fengzhou-msft

/src/index.json @fengzhou-msft @qwordy @houk-ms @kairu-ms @jsntcy @Juliehzl @jiasli @zhoxing-ms @evelyn-ys @xfz11 @08nholloway

/src/footprint/ @jonunezd @Diego-Perez-Botero

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula @dannysongg

/src/aem/ @qwordy

/src/subscription/ @wilcobmsft

/src/alias/ @Juliehzl

/src/managementpartner/ @jeffrey-ace

/src/eventgrid/ @kalyanaj

/src/storage-preview/ @Juliehzl

/src/db-up/ @Juliehzl

/src/dev-spaces/ @amsoedal

/src/dms-preview/ @temandr

/src/dnc/ @alegal

/src/express-route-cross-connection/ @kairu-ms @jsntcy

/src/application-insights/ @alexeldeib

/src/log-analytics/ @alexeldeib

/src/mesh/ @linggengmsft @jeffj6123

/src/mixed-reality/ @xiangyul

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @kairu-ms @jsntcy

/src/virtual-network-tap/ @kairu-ms @jsntcy

/src/virtual-wan/ @kairu-ms @jsntcy

/src/front-door/ @pichandwork

/src/interactive/ @jiasli

/src/aks-preview/ @zqingqing1 @gtracer @xizhamsft @andyliuliming

/src/vm-repair/ @swbae31

/src/netappfiles-preview/ @b-lefr

/src/healthcareapis/ @fengzhou-msft @iviark

/src/healthbot/ @guy-microsoft

/src/hack/ @geektrainer

/src/internet-analyzer/ @jsntcy

/src/spring-cloud/ @peizhou298

/src/peering/ @jsntcy

/src/connectedmachine/ @farehar

/src/ip-group/ @kairu-ms @jsntcy

/src/connectedk8s/ @akashkeshari @alphaWizard

/src/storagesync/ @jsntcy

/src/maintenance/ @gautamd-ms

/src/ai-examples/ @mirdaki

/src/notification-hub/ @fengzhou-msft

/src/connection-monitor-preview/ @kairu-ms @jsntcy

/src/support/ @mit2nil @shahbj79 @RudraSharma93Microsoft

/src/alertsmanagement/ @qwordy

/src/stream-analytics/ @houk-ms

/src/databricks/ @fengzhou-msft @xfz11

/src/powerbidedicated/ @Juliehzl @tarostok @evelyn-ys

/src/blueprint/ @fengzhou-msft

/src/storage-blob-preview/ @Juliehzl

/src/logic/ @jsntcy @kairu

/src/hardware-security-modules/ @bquantump

/src/databox/ @jsntcy

/src/datadog/ @limingu

/src/hpc-cache/ @zhoxing-ms

/src/timeseriesinsights/ @jiasli

/src/portal/ @YalinLi0312

/src/import-export/ @xfz11

/src/account/ @jiasli @fengzhou-msft

/src/quantum/ @anpaz-msft

/src/datashare/ @fengzhou-msft

/src/ssh/ @rlrossiter @danybeam @fengzhou-msft @N6UDP

/src/k8sconfiguration/ @NarayanThiru @jonathan-innis

/src/k8s-configuration/ @NarayanThiru @jonathan-innis

/src/k8s-extension/ @NarayanThiru @jonathan-innis

/src/log-analytics-solution/ @zhoxing-ms

/src/kusto/ @ilayr @orhasban @astauben

/src/custom-providers/ @jsntcy

/src/costmanagement/ @kairu-ms @jsntcy

/src/datafactory/ @qiaozha @fengzhou-msft @qwordy

/src/blockchain/ @jsntcy

/src/codespaces/ @derekbekoe

/src/desktopvirtualization/ @changlong-liu

/src/attestation/ @YalinLi0312 @houk-ms

/src/guestconfig/ @gehuan

/src/swiftlet/ @qwordy

/src/maintenance/ @sotaneja

/src/scheduled-query/ @jsntcy

/src/cli-translator/ @houk-ms @fengzhou-msft

/src/vmware/ @Juliehzl @zhoxing-ms

/src/stack-hci/ @zhoxing-ms

/src/acrtransfer/ @mabenedi

/src/securityinsight/ @houk-ms

/src/communication/ @kairu-ms @jsntcy

/src/automation/ @qwordy

/src/monitor-control-service/ @jsntcy @kairu-ms

/src/rdbms-connect/ @mjain2 @Juliehzl

/src/confluent/ @fengzhou-msft

/src/offazure/ @houk-ms

/src/resource-mover/ @houk-ms

/src/providerhub/ @wwendyc @vikashj

/src/cosmosdb-preview/ @wmengmsft @MehaKaushik @kavskalyan

/src/ad/ @evelyn-ys

/src/next/ @zhoxing-ms

/src/redisenterprise/ @greenms

/src/cloudservice/ @qwordy

/src/webpubsub/ @zackliu

/src/connectedvmware/ @sanmishra18

/src/diskpool/ @Juliehzl

/src/dataprotection/ @sambitratha

remove
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/__init__.py
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/_blob_client_async.py
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/_blob_service_client_async.py
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/_container_client_async.py
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/_download_async.py
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/_lease_async.py
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/_list_blobs_helper.py
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/_models.py
  src/storage-blob-preview/azext_storage_blob_preview/vendored_sdks/azure_storage_blob/v2020_06_12/aio/_upload_helpers.py
Owners: @Juliehzl

[vmware] global reach connections (#3528)
  src/vmware/CHANGELOG.md
  src/vmware/DEVELOPMENT.md
  src/vmware/azext_vmware/__init__.py
  src/vmware/azext_vmware/_help.py
  src/vmware/azext_vmware/_params.py
  src/vmware/azext_vmware/_validators.py
  src/vmware/azext_vmware/commands.py
  src/vmware/azext_vmware/custom.py
  src/vmware/azext_vmware/tests/latest/recordings/test_vmware_global_reach_connection.yaml
  src/vmware/azext_vmware/tests/latest/test_global_reach_connection_scenario.py
  src/vmware/linter_exclusions.yml
Owners: @Juliehzl, @zhoxing-ms

[vmware] add SRM recorded tests (#3535)
  src/vmware/azext_vmware/_help.py
  src/vmware/azext_vmware/tests/latest/recordings/test_vmware_addon.yaml
  src/vmware/azext_vmware/tests/latest/test_addon_scenario.py
Owners: @Juliehzl, @zhoxing-ms

{AKS} Polish scripts in aks live test pipeline (#3563)
  src/aks-preview/azcli_aks_live_test/scripts/clean_up.sh
  src/aks-preview/azcli_aks_live_test/scripts/clone_repo.sh
  src/aks-preview/azcli_aks_live_test/scripts/prepare_image.sh
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
  src/aks-preview/azcli_aks_live_test/scripts/start_container.sh
  src/aks-preview/azcli_aks_live_test/scripts/test_cli_live.sh
  src/aks-preview/azcli_aks_live_test/scripts/test_ext_live.sh
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-live-test.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-unit-test.yaml
Owners: @zqingqing1, @gtracer, @xizhamsft, @andyliuliming

uncommented tests, put them in a list to not run
  src/aks-preview/azcli_aks_live_test/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Owners: @zqingqing1, @gtracer, @xizhamsft, @andyliuliming
