Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @williexu, @tjprescott, @tamirkamara, @panchagnula, @yugangw-msft, @wilcobmsft, @rajshah11, @rahulgouthamDOTgs, @chewong, @troydai, @jeffrey-ace, @muwaqar, @dijyotir, @zackliu, @kalyanaj, @swagatmishra2007, @saurabsa, @temandr, @alexeldeib, @linggengmsft, @jeffj6123, @xiangyul, @albaloo, @demyanenko, @amirhbk, @chiragg4u, @trpresco, @zqingqing1, @yareyes, @b-lefr

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/src/index.json @williexu @tjprescott

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula

/src/aem/ @yugangw-msft

/src/subscription/ @wilcobmsft

/src/managementgroups/ @rajshah11

/src/rdbms_vnet/ @rahulgouthamDOTgs

/src/alias/ @chewong @troydai

/src/managementpartner/ @jeffrey-ace

/src/dns/ @muwaqar

/src/privatedns/ @dijyotir

/src/signalr/ @zackliu

/src/eventgrid/ @kalyanaj

/src/botservice/ @swagatmishra2007

/src/storage-preview/ @williexu

/src/db-up/ @williexu

/src/dev-spaces-preview/ @saurabsa

/src/dms-preview/ @temandr

/src/express-route-cross-connection/ @tjprescott

/src/application-insights/ @alexeldeib

/src/log-analytics/ @alexeldeib

/src/mesh/ @linggengmsft @jeffj6123

/src/mixed-reality/ @xiangyul

/src/find/ @albaloo

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @trpresco

/src/virtual-network-tap/ @trpresco

/src/virtual-wan/ @trpresco

/src/express-route/ @trpresco

/src/front-door/ @trpresco

/src/interactive/ @williexu

/src/aks-preview/ @zqingqing1

/src/sqlvm-preview/ @yareyes

/src/anf-preview/ @b-lefr

finished logic for up/downloads and run-command
  src/storage-preview/azext_storage_preview/_help.py
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/_validators.py
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/operations/azcopy.py
Owners: @williexu

simplified upload/download and added delete
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/_validators.py
  src/storage-preview/azext_storage_preview/azcopy/azcopy_windows_amd64_10.0.7/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/operations/azcopy.py
Owners: @williexu

add 10.0.8 files
  src/storage-preview/azext_storage_preview/azcopy/azcopy_darwin_amd64_10.0.8/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_linux_amd64_10.0.8/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_windows_amd64_10.0.8/ThirdPartyNotice.txt
Owners: @williexu

small fixes and testing
  src/storage-preview/azext_storage_preview/_client_factory.py
  src/storage-preview/azext_storage_preview/_help.py
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/_validators.py
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/operations/azcopy.py
  src/storage-preview/azext_storage_preview/operations/blob.py
  src/storage-preview/azext_storage_preview/sdkutil.py
  src/storage-preview/azext_storage_preview/tests/latest/test_azcopy_scenarios.py
Owners: @williexu

pylint
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/tests/latest/test_azcopy_scenarios.py
Owners: @williexu

fixed test
  src/storage-preview/azext_storage_preview/tests/latest/test_azcopy_scenarios.py
Owners: @williexu

flake8
  src/storage-preview/azext_storage_preview/tests/latest/test_azcopy_scenarios.py
Owners: @williexu

fix bug with python script
  scripts/ci/test_static.py
Owners: none

add examples for new commands
  src/storage-preview/azext_storage_preview/_help.py
Owners: @williexu

[storage-preview] Azcopy- release blob delete/upload/download commands (#587)
  scripts/ci/test_static.py
  src/storage-preview/azext_storage_preview/_client_factory.py
  src/storage-preview/azext_storage_preview/_help.py
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/_validators.py
  src/storage-preview/azext_storage_preview/azcopy/__init__.py
  src/storage-preview/azext_storage_preview/azcopy/azcopy_darwin_amd64_10.0.7/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_darwin_amd64_10.0.8/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_linux_amd64_10.0.7/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_linux_amd64_10.0.8/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_windows_amd64_10.0.8/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/operations/azcopy.py
  src/storage-preview/azext_storage_preview/sdkutil.py
  src/storage-preview/azext_storage_preview/tests/latest/test_azcopy_scenarios.py
  src/storage-preview/azext_storage_preview/util.py
  src/storage-preview/setup.py
Owners: @williexu

initial support for agentpool operations
  src/aks-preview/azext_aks_preview/__init__.py
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_completers.py
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/container_service_client.py
Owners: @zqingqing1

minor cleanup
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/models.py
Owners: @zqingqing1

fixing format errors
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

fix lint errors
  src/aks-preview/azext_aks_preview/commands.py
Owners: @zqingqing1

fix aks list and support agent pool scale
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

remove debug messages for scale
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

official 0201 SDK
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_02_01/models/managed_cluster_agent_pool_profile.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_02_01/models/managed_cluster_agent_pool_profile_py3.py
Owners: @zqingqing1

fixing orchestrator version and remove aks list work around
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_02_01/operations/agent_pools_operations.py
Owners: @zqingqing1

support aks nodepool upgrade
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

fix tests and managed_clusters reference
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_command_preview.py
Owners: @zqingqing1

workaround for agentpool name issue
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_02_01/operations/agent_pools_operations.py
Owners: @zqingqing1

support node zones and kubernetes versions
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

Change agent-zones to node-zones
  src/aks-preview/HISTORY.md
  src/aks-preview/README.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/index.json
Owners: @zqingqing1, @williexu, @tjprescott

fixing format errors
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

more cleanup
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

Combined enable https using frontdoor and key vault into one command
  src/front-door/azext_front_door/_help.py
  src/front-door/azext_front_door/_params.py
  src/front-door/azext_front_door/commands.py
  src/front-door/azext_front_door/custom.py
Owners: @trpresco

[Storage] Remove min_profile and max_profile in the example
  src/storage-preview/azext_storage_preview/_help.py
Owners: @williexu

[Storage] Remove min_profile and max_profile in the example (#590)
  src/storage-preview/azext_storage_preview/_help.py
Owners: @williexu

index change release
  src/index.json
Owners: @williexu, @tjprescott

history, readme, docs, help
  src/storage-preview/HISTORY.rst
  src/storage-preview/README.md
  src/storage-preview/azext_storage_preview/_help.py
  src/storage-preview/setup.py
Owners: @williexu

index
  src/index.json
Owners: @williexu, @tjprescott

added params help
  src/index.json
  src/storage-preview/azext_storage_preview/_params.py
Owners: @williexu, @tjprescott

Fix static analysis - 1
  src/front-door/azext_front_door/custom.py
Owners: @trpresco

Fix the delete command for frontend endpoint
  src/front-door/azext_front_door/commands.py
Owners: @trpresco

[storage-preview] Release azcopy (#589)
  src/index.json
  src/storage-preview/HISTORY.rst
  src/storage-preview/README.md
  src/storage-preview/azext_storage_preview/_help.py
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/setup.py
Owners: @williexu, @tjprescott

Add support for available zones (#576)
  src/aks-preview/HISTORY.md
  src/aks-preview/README.md
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Owners: @zqingqing1
