Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kairu-ms, @fengzhou-msft, @qwordy, @houk-ms, @jsntcy, @Juliehzl, @jiasli, @zhoxing-ms, @evelyn-ys, @xfz11, @08nholloway, @necusjz, @jonunezd, @Diego-Perez-Botero, @tamirkamara, @panchagnula, @dannysongg, @wilcobmsft, @arpishahmsft, @jeffrey-ace, @kalyanaj, @evelyn_ys, @calvinhzy, @amsoedal, @am-lim, @temandr, @alegal, @alexeldeib, @linggengmsft, @jeffj6123, @xiangyul, @demyanenko, @amirhbk, @chiragg4u, @pichandwork, @ReaNAiveD, @andyzhangx, @andyliuliming, @fumingzhang, @aavalang, @haagha, @b-lefr, @kiall, @mbashtovaya, @priyamshet, @iviark, @guy-microsoft, @geektrainer, @peizhou298, @farehar, @akashkeshari, @sirireddy12, @gautamd-ms, @rahulm-msft, @mirdaki, @mit2nil, @shahbj79, @RudraSharma93Microsoft, @tarostok, @kairu, @bquantump, @limingu, @ZengTaoxu, @YalinLi0312, @anpaz-msft, @rlrossiter, @danybeam, @N6UDP, @NarayanThiru, @bavneetsingh16, @deeksha345, @anagg929, @ilayr, @orhasban, @astauben, @ebencarek, @howang-ms, @LaylaLiu-gmail, @changlong-liu, @gehuan, @sotaneja, @mabenedi, @mjain2, @yashjain4, @wwendyc, @vikashj, @wmengmsft, @MehaKaushik, @kavskalyan, @greenms, @zackliu, @93mishra, @adrianabedon, @sambitratha, @mkarmark, @gzuber, @HuangYT2000, @ashutoshsuman99, @yugangw-msft, @lynshi, @ruslany, @sanchitmehta, @JennyLawrance, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @jijohn14, @nascarsayan, @hsurana06, @yuwzho, @linglingtong, @thisisdevanshu, @pdaru, @ealianis, @strawnsc, @rmodh, @japani, @kukulkarni1, @liftr-nginx, @gaoyp830, @rkapso, @msft-adrianma, @sornaks, @juhee0202, @venkatr21, @kareemshibli, @nikhilsaxena2609, @BryceDFisher, @SethHollandsworth, @hgarvison, @stevendongatmsft, @jaishals, @sunnycarter, @msftsettiy, @CarolineNB, @BharathaAravind, @allyw, @amatukmolina, @aim-for-better, @yuc-Li, @pikanghosh1, @8Gitbrix

fix --top
  src/logic/azext_logic/commands.py
  src/logic/azext_logic/custom.py
  src/logic/azext_logic/tests/latest/recordings/test_logic.yaml
  src/logic/azext_logic/tests/latest/test_logic_scenario.py
Owners: @jsntcy, @kairu

Changes to fix response format for mesh get-revisions and get-upgrades commands
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Owners: @andyzhangx, @andyliuliming, @fumingzhang

Fix linting error
  src/containerapp/azext_containerapp/_up_utils.py
Owners: @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14

Add test for bugfix
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
  src/containerapp/azext_containerapp/tests/latest/utils.py
Owners: @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14

fix local linting issues
  src/apic-extension/azext_apic_extension/commands.py
  src/apic-extension/azext_apic_extension/custom.py
Owners: @arpishahmsft

remove default from update
  src/apic-extension/azext_apic_extension/aaz/latest/apic/api/_update.py
  src/apic-extension/azext_apic_extension/aaz/latest/apic/api/definition/_update.py
  src/apic-extension/azext_apic_extension/aaz/latest/apic/api/deployment/_update.py
  src/apic-extension/azext_apic_extension/aaz/latest/apic/api/version/_update.py
  src/apic-extension/azext_apic_extension/aaz/latest/apic/environment/_update.py
Owners: @arpishahmsft

generate new commands
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_upgrade_extension.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_wait.py
Owners: @farehar

update machine related tests
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_machine_and_extension.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/test_ConnectedMachineAndExtension_scenario.py
Owners: @farehar

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/linter_exclusions.yml @kairu-ms @fengzhou-msft

/src/index.json @fengzhou-msft @qwordy @houk-ms @kairu-ms @jsntcy @Juliehzl @jiasli @zhoxing-ms @evelyn-ys @xfz11 @08nholloway @necusjz

/src/footprint/ @jonunezd @Diego-Perez-Botero

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula @dannysongg

/src/aem/ @qwordy

/src/subscription/ @wilcobmsft

/src/apic-extension/ @arpishahmsft

/src/alias/ @Juliehzl

/src/managementpartner/ @jeffrey-ace

/src/eventgrid/ @kalyanaj

/src/storage-preview/ @evelyn_ys @calvinhzy

/src/db-up/ @Juliehzl

/src/dev-spaces/ @amsoedal

/src/devcenter/ @am-lim

/src/dms-preview/ @temandr

/src/dnc/ @alegal

/src/dns-resolver/ @necusjz

/src/edgeorder/ @necusjz

/src/express-route-cross-connection/ @necusjz @kairu-ms @jsntcy

/src/application-insights/ @alexeldeib

/src/log-analytics/ @alexeldeib

/src/logz/ @kairu-ms @necusjz

/src/mesh/ @linggengmsft @jeffj6123

/src/mixed-reality/ @xiangyul

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @necusjz @kairu-ms @jsntcy

/src/virtual-network-tap/ @necusjz @kairu-ms @jsntcy

/src/virtual-wan/ @necusjz @kairu-ms @jsntcy

/src/front-door/ @pichandwork

/src/interactive/ @jiasli @zhoxing-ms @ReaNAiveD

/src/aks-preview/ @andyzhangx @andyliuliming @fumingzhang

/src/bastion/ @aavalang

/src/vm-repair/ @haagha

/src/netappfiles-preview/ @b-lefr

/src/networkcloud/  @kiall @mbashtovaya @priyamshet

/src/network-manager/ @necusjz @kairu-ms @jsntcy

/src/healthcareapis/ @fengzhou-msft @iviark

/src/healthbot/ @guy-microsoft

/src/hack/ @geektrainer

/src/internet-analyzer/ @jsntcy

/src/spring-cloud/ @peizhou298

/src/peering/ @jsntcy

/src/connectedmachine/ @farehar

/src/ip-group/ @necusjz @kairu-ms @jsntcy

/src/connectedk8s/ @akashkeshari @sirireddy12

/src/storagesync/ @jsntcy

/src/maintenance/ @gautamd-ms

/src/managednetworkfabric/ @rahulm-msft

/src/ai-examples/ @mirdaki

/src/notification-hub/ @fengzhou-msft

/src/connection-monitor-preview/ @kairu-ms @jsntcy

/src/support/ @mit2nil @shahbj79 @RudraSharma93Microsoft

/src/alertsmanagement/ @qwordy

/src/stream-analytics/ @houk-ms @necusjz

/src/databricks/ @fengzhou-msft @xfz11

/src/powerbidedicated/ @Juliehzl @tarostok @evelyn-ys

/src/blueprint/ @fengzhou-msft

/src/storage-blob-preview/ @evelyn_ys @calvinhzy

/src/logic/ @jsntcy @kairu

/src/hardware-security-modules/ @bquantump

/src/databox/ @jsntcy

/src/datadog/ @limingu

/src/hpc-cache/ @zhoxing-ms

/src/timeseriesinsights/ @jiasli

/src/palo-alto-networks/ @kairu-ms @ZengTaoxu

/src/portal/ @YalinLi0312

/src/import-export/ @xfz11

/src/account/ @jiasli @fengzhou-msft

/src/quantum/ @anpaz-msft

/src/datashare/ @fengzhou-msft

/src/ssh/ @rlrossiter @danybeam @fengzhou-msft @N6UDP

/src/k8s-configuration/ @NarayanThiru @bavneetsingh16 @deeksha345 @anagg929

/src/k8s-extension/ @NarayanThiru @bavneetsingh16 @deeksha345 @anagg929

/src/log-analytics-solution/ @zhoxing-ms

/src/kusto/ @ilayr @orhasban @astauben

/src/appservice-kube/ @ebencarek @howang-ms @Juliehzl @LaylaLiu-gmail 

/src/custom-providers/ @jsntcy

/src/costmanagement/ @kairu-ms @jsntcy

/src/datafactory/ @kairu-ms @evelyn-ys @Juliehzl

/src/blockchain/ @jsntcy

/src/desktopvirtualization/ @changlong-liu

/src/attestation/ @YalinLi0312 @houk-ms

/src/guestconfig/ @gehuan

/src/swiftlet/ @zhoxing-ms

/src/maintenance/ @sotaneja

/src/scheduled-query/ @jsntcy

/src/cli-translator/ @houk-ms @fengzhou-msft

/src/vmware/ @Juliehzl @zhoxing-ms

/src/stack-hci/ @zhoxing-ms

/src/acrtransfer/ @mabenedi

/src/securityinsight/ @houk-ms

/src/communication/ @kairu-ms @jsntcy

/src/automation/ @zhoxing-ms

/src/monitor-control-service/ @jsntcy @kairu-ms

/src/rdbms-connect/ @mjain2 @Juliehzl

/src/confluent/ @zhoxing-ms @jsntcy

/src/offazure/ @houk-ms

/src/resource-mover/ @houk-ms @yashjain4

/src/providerhub/ @wwendyc @vikashj

/src/cosmosdb-preview/ @wmengmsft @MehaKaushik @kavskalyan

/src/ad/ @evelyn-ys

/src/next/ @zhoxing-ms

/src/redisenterprise/ @greenms

/src/cloudservice/ @zhoxing-ms

/src/webpubsub/ @zackliu

/src/connectedvmware/ @93mishra

/src/diskpool/ @Juliehzl

/src/serial-console/ @adrianabedon

/src/dataprotection/ @sambitratha

/src/authV2/ @mkarmark

/src/purview/ @kairu-ms @jsntcy

/src/functionapp/ @gzuber

/src/elastic/ @kairu-ms @jsntcy

/src/image-gallery/ @zhoxing-ms

/src/keyvault-preview/ @evelyn_ys @calvinhzy

/src/init/ @zhoxing-ms @HuangYT2000

/src/datamigration/ @ashutoshsuman99

/src/amg/ @yugangw-msft

/src/confidentialledger/ @kairu-ms @lynshi

/src/quota/ @kairu-ms @ZengTaoxu

/src/containerapp/ @ruslany @sanchitmehta @ebencarek @JennyLawrance @howang-ms @vinisoto @chinadragon0515 @vturecek @torosent @pagariyaalok @Juliehzl @jijohn14

/src/scvmm/ @nascarsayan @hsurana06

/src/spring/ @yuwzho

/src/change-analysis/ @linglingtong

/src/orbital/ @thisisdevanshu

/src/fluid-relay/ @kairu-ms @necusjz @ZengTaoxu

/src/fleet/ @pdaru @ealianis

/src/staticwebapp/ @strawnsc

/src/traffic-collector/ @rmodh @japani @kukulkarni1

/src/new-relic/ @necusjz @ZengTaoxu

/src/nginx/ @liftr-nginx

/src/elastic-san/ @calvinhzy

/src/reservation/ @gaoyp830 @rkapso @msft-adrianma @sornaks @juhee0202

/src/scenario-guide/ @zhoxing-ms @ReaNAiveD

/src/dynatrace/ @jsntcy

/src/load/ @venkatr21

/src/adp/ @kareemshibli

/src/nsp/ @nikhilsaxena2609

/src/billing-benefits/ @gaoyp830 @rkapso @msft-adrianma @sornaks

/src/serviceconnector-passwordless/ @xfz11

/src/mobile-network/ @jsntcy

/src/automanage/ @calvinhzy

/src/voice-service/ @jsntcy

/src/confcom/ @BryceDFisher @SethHollandsworth @hgarvison @stevendongatmsft

/src/storage-mover/ @calvinhzy

/src/alb/ @jaishals

/src/aosm/ @sunnycarter

/src/managedccfs/ @msftsettiy

/src/acrquery/ @CarolineNB

/src/workloads/ @jsntcy

/src/self-help/ @BharathaAravind

/src/qumulo/ @jsntcy

/src/amlfs/ @jsntcy

/src/command-change/ @allyw

/src/graphservices/ @amatukmolina

/src/site-recovery/ @calvinhzy

/src/hdinsightonaks/ @aim-for-better @yuc-Li

/src/network-analytics/ @pikanghosh1

/src/azurelargeinstance/ @8Gitbrix
