Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @williexu, @tjprescott, @tamirkamara, @panchagnula, @yugangw-msft, @wilcobmsft, @rajshah11, @rahulgouthamDOTgs, @chewong, @troydai, @jeffrey-ace, @muwaqar, @dijyotir, @zackliu, @kalyanaj, @swagatmishra2007, @saurabsa, @temandr, @alexeldeib, @linggengmsft, @jeffj6123, @xiangyul, @albaloo, @demyanenko, @amirhbk, @chiragg4u, @trpresco, @zqingqing1, @yareyes, @b-lefr

updated mesh
  src/index.json
Owners: @williexu, @tjprescott

Update version Batch Extension supported SDK versions to accurate values (#560)
  src/index.json
Owners: @williexu, @tjprescott

[AKS] Improve messages for upgrade command (#558)
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

updated mesh (#571)
  src/index.json
Owners: @williexu, @tjprescott

Seperate commands to enable and disable. Added validation of parameters
  src/front-door/azext_front_door/_help.py
  src/front-door/azext_front_door/_params.py
  src/front-door/azext_front_door/_validators.py
  src/front-door/azext_front_door/commands.py
  src/front-door/azext_front_door/custom.py
Owners: @trpresco

Removing protocol and certificate type paramter
  src/front-door/azext_front_door/_help.py
  src/front-door/azext_front_door/custom.py
Owners: @trpresco

Increment the version
  src/front-door/setup.py
Owners: @trpresco

finished sql commands and test, plus minor changes to mysql/postgres
  src/db-up/azext_db_up/_params.py
  src/db-up/azext_db_up/commands.py
  src/db-up/azext_db_up/custom.py
  src/db-up/azext_db_up/tests/latest/recordings/test_sql_flow.yaml
  src/db-up/azext_db_up/tests/latest/test_db_up_scenarios.py
Owners: @williexu

more progress on sql up just need to run commands using pyodbc
  src/db-up/azext_db_up/_params.py
  src/db-up/azext_db_up/commands.py
  src/db-up/azext_db_up/custom.py
  src/db-up/azext_db_up/util.py
  src/db-up/setup.py
Owners: @williexu

re-record
  src/db-up/azext_db_up/tests/latest/recordings/test_sql_flow.yaml
Owners: @williexu

sql done
  src/db-up/azext_db_up/_params.py
  src/db-up/azext_db_up/commands.py
  src/db-up/azext_db_up/custom.py
Owners: @williexu

Update service principal secret to include special character
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

Change certificate type from shared to dedicated
  src/front-door/azext_front_door/custom.py
Owners: @trpresco

Remove certificate type and protocol validators
  src/front-door/azext_front_door/_params.py
  src/front-door/azext_front_door/_validators.py
Owners: @trpresco

Fix static issues
  src/front-door/azext_front_door/custom.py
Owners: @trpresco

Fix static issues - 1
  src/front-door/azext_front_door/custom.py
Owners: @trpresco

Fix static issues - 2
  src/front-door/azext_front_door/_validators.py
  src/front-door/azext_front_door/commands.py
  src/front-door/azext_front_door/custom.py
Owners: @trpresco

Update service principal secret to include special character (#573)
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1

update help
  src/db-up/azext_db_up/_help.py
  src/db-up/azext_db_up/tests/latest/recordings/test_sql_flow.yaml
  src/db-up/azext_db_up/tests/latest/test_db_up_scenarios.py
Owners: @williexu

add support available zones
  src/aks-preview/HISTORY.md
  src/aks-preview/README.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
  src/index.json
Owners: @zqingqing1, @williexu, @tjprescott

remove sql commands
  src/db-up/HISTORY.rst
  src/db-up/azext_db_up/commands.py
  src/db-up/azext_db_up/custom.py
  src/db-up/setup.py
Owners: @williexu

add to index
  src/index.json
Owners: @williexu, @tjprescott

static check
  src/db-up/azext_db_up/commands.py
Owners: @williexu

linter
  src/db-up/azext_db_up/_help.py
  src/index.json
Owners: @williexu, @tjprescott

[db-up] Revert sql and release db-up with mysql and postgres updates (#578)
  src/db-up/HISTORY.rst
  src/db-up/azext_db_up/_help.py
  src/db-up/azext_db_up/commands.py
  src/db-up/azext_db_up/custom.py
  src/db-up/setup.py
  src/index.json
Owners: @williexu, @tjprescott

address service bug remove azure access after other firewall rules are configured
  src/db-up/azext_db_up/custom.py
  src/db-up/setup.py
Owners: @williexu

address service bug remove azure access after other firewall rules are configured (#581)
  src/db-up/azext_db_up/custom.py
  src/db-up/setup.py
Owners: @williexu

release postgres fix
  src/db-up/HISTORY.rst
  src/index.json
Owners: @williexu, @tjprescott

Adding feature to export snapshots instead of images. This allows for non-generalized osStates to be copied and deployed across regions.
  src/image-copy/azext_imagecopy/__init__.py
  src/image-copy/azext_imagecopy/create_target.py
  src/image-copy/azext_imagecopy/custom.py
Owners: @tamirkamara

minor linting fixes
  src/image-copy/azext_imagecopy/create_target.py
  src/image-copy/azext_imagecopy/custom.py
Owners: @tamirkamara

Update create_target.py
  src/image-copy/azext_imagecopy/create_target.py
Owners: @tamirkamara

Adding new-line. More Linting issues.
  src/image-copy/azext_imagecopy/create_target.py
Owners: @tamirkamara

Bumping version to 0.8.0
  src/dms-preview/setup.py
  src/index.json
Owners: @temandr, @williexu, @tjprescott

release postgres fix (#582)
  src/db-up/HISTORY.rst
  src/index.json
Owners: @williexu, @tjprescott

added azcopy and call
  src/storage-preview/azext_storage_preview/azcopy/azcopy_darwin_amd64_10.0.4/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_linux_amd64_10.0.4/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_windows_amd64_10.0.4/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/operations/blob.py
  src/storage-preview/setup.py
Owners: @williexu

Change agent-zones to node-zones
  src/aks-preview/HISTORY.md
  src/aks-preview/README.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/index.json
Owners: @zqingqing1, @williexu, @tjprescott

abstract azcopy from operating system
  src/storage-preview/azext_storage_preview/azcopy/__init__.py
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/operations/blob.py
  src/storage-preview/azext_storage_preview/util.py
Owners: @williexu

implemented basic upload batch for non oauth flow
  src/storage-preview/azext_storage_preview/_client_factory.py
  src/storage-preview/azext_storage_preview/_validators.py
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/operations/blob.py
Owners: @williexu

initial oauth wiring
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/_validators.py
  src/storage-preview/azext_storage_preview/azcopy/azcopy_darwin_amd64_10.0.4/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_darwin_amd64_10.0.7/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_linux_amd64_10.0.4/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_linux_amd64_10.0.7/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_windows_amd64_10.0.4/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/azcopy_windows_amd64_10.0.7/ThirdPartyNotice.txt
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/operations/azcopy.py
  src/storage-preview/azext_storage_preview/operations/blob.py
  src/storage-preview/azext_storage_preview/util.py
Owners: @williexu

add run-command, and cleaned up upload and download code
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/_validators.py
  src/storage-preview/azext_storage_preview/azcopy/util.py
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/operations/azcopy.py
Owners: @williexu

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/src/index.json @williexu @tjprescott

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula

/src/aem/ @yugangw-msft

/src/subscription/ @wilcobmsft

/src/managementgroups/ @rajshah11

/src/rdbms_vnet/ @rahulgouthamDOTgs

/src/alias/ @chewong @troydai

/src/managementpartner/ @jeffrey-ace

/src/dns/ @muwaqar

/src/privatedns/ @dijyotir

/src/signalr/ @zackliu

/src/eventgrid/ @kalyanaj

/src/botservice/ @swagatmishra2007

/src/storage-preview/ @williexu

/src/db-up/ @williexu

/src/dev-spaces-preview/ @saurabsa

/src/dms-preview/ @temandr

/src/express-route-cross-connection/ @tjprescott

/src/application-insights/ @alexeldeib

/src/log-analytics/ @alexeldeib

/src/mesh/ @linggengmsft @jeffj6123

/src/mixed-reality/ @xiangyul

/src/find/ @albaloo

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @trpresco

/src/virtual-network-tap/ @trpresco

/src/virtual-wan/ @trpresco

/src/express-route/ @trpresco

/src/front-door/ @trpresco

/src/interactive/ @williexu

/src/aks-preview/ @zqingqing1

/src/sqlvm-preview/ @yareyes

/src/anf-preview/ @b-lefr
