Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @williexu, @tjprescott, @tamirkamara, @panchagnula, @yugangw-msft, @wilcobmsft, @rajshah11, @rahulgouthamDOTgs, @chewong, @troydai, @jeffrey-ace, @muwaqar, @zackliu, @kalyanaj, @swagatmishra2007, @saurabsa, @temandr, @alexeldeib, @linggengmsft, @albaloo, @demyanenko, @amirhbk, @chiragg4u, @trpresco

Fix more review issues.
  scripts/avail-ext-doc/main.py
Owners: none

Docs/update publisher (#304)
  .travis.yml
  scripts/avail-ext-doc/Dockerfile
  scripts/avail-ext-doc/README.md
  scripts/avail-ext-doc/list-template.md
  scripts/avail-ext-doc/main.py
  scripts/avail-ext-doc/requirements.txt
  scripts/ci/available_extensions_doc.py
Owners: none

added documentation for extension metadata
  README.md
Owners: none

Fix app service plan creation in webapp up command (#326)
  src/index.json
  src/webapp/azext_webapp/custom.py
  src/webapp/setup.py
Owners: @williexu, @tjprescott, @panchagnula

added documentation for extension metadata (#329)
  README.md
Owners: none

Updated test recordings.
  src/eventgrid/azext_eventgrid/advanced_filter.py
  src/eventgrid/azext_eventgrid/custom.py
  src/eventgrid/azext_eventgrid/tests/latest/recordings/eventgrid_test_create_event_subscriptions_to_arm_resource_group.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/eventgrid_test_create_event_subscriptions_to_resource.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/eventgrid_test_create_event_subscriptions_with_filters.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/eventgrid_test_create_topic.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/eventgrid_test_topic_types.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/test_advanced_filters.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/test_create_domain.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/test_create_event_subscriptions_to_arm_resource_group.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/test_create_event_subscriptions_to_resource.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/test_create_event_subscriptions_with_20180501_features.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/test_create_event_subscriptions_with_filters.yaml
  src/eventgrid/azext_eventgrid/tests/latest/recordings/test_create_topic.yaml
  src/eventgrid/azext_eventgrid/tests/latest/test_eventgrid_commands.py
Owners: @kalyanaj

Linter fixes
  src/eventgrid/azext_eventgrid/advanced_filter.py
  src/eventgrid/azext_eventgrid/custom.py
Owners: @kalyanaj

flake8
  src/storage-preview/azext_storage_preview/_params.py
Owners: @williexu

only remaining test recordings
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_create_account_sas.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_create_storage_account.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_create_storage_account_file_aad.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_create_storage_account_hierarchical_namespace.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_create_storage_account_premium_sku.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_create_storage_account_with_assigned_identity.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_customer_managed_key.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_list_locations.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_list_storage_accounts.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_logging_operations.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_management_policy.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_metrics_operations.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_renew_account_key.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_show_usage.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_account_service_endpoints.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_account_show_exit_codes.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_append.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_container_operations.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_incremental_copy.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_lease_operations.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_metadata_operations.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_snapshot_operations.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_socket_timeout.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_soft_delete.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_update_service_properties.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_container_acl_scenarios.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_cors_scenario.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_create_default_sku.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_immutability_policy.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_legal_hold.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_queue_general_scenario.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_share_acl_scenarios.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_update_storage_account_with_assigned_identity.yaml
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_blob_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_validators.py
Owners: @williexu

removed stuff already present in CLI core
  src/storage-preview/azext_storage_preview/_client_factory.py
  src/storage-preview/azext_storage_preview/_help.py
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/_transformers.py
  src/storage-preview/azext_storage_preview/_validators.py
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/completers.py
  src/storage-preview/azext_storage_preview/operations/account.py
  src/storage-preview/azext_storage_preview/operations/acl.py
  src/storage-preview/azext_storage_preview/operations/blob.py
  src/storage-preview/azext_storage_preview/operations/cors.py
  src/storage-preview/azext_storage_preview/operations/directory.py
  src/storage-preview/azext_storage_preview/operations/file.py
  src/storage-preview/azext_storage_preview/operations/logging.py
  src/storage-preview/azext_storage_preview/operations/metrics.py
  src/storage-preview/azext_storage_preview/operations/table.py
  src/storage-preview/azext_storage_preview/tests/latest/test_immutability_policy.py
  src/storage-preview/azext_storage_preview/tests/latest/test_legal_hold.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_account_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_acl_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_batch_operations.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_blob_copy_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_blob_live_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_blob_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_cors_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_file_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_queue_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_scenarios_non_ascii_chars.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_table_scenarios.py
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_url_helpers.py
Owners: @williexu

add update service props recording
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_blob_update_service_properties.yaml
Owners: @williexu

file-aad recording
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_create_storage_account_file_aad.yaml
Owners: @williexu

Update to batch extension 2.5.1
  src/index.json
Owners: @williexu, @tjprescott

Updated the help file to remove comma from example
  src/dms-preview/azext_dms/_help.py
  src/dms-preview/setup.py
  src/index.json
Owners: @temandr, @williexu, @tjprescott

Update to batch extension 2.5.1 (#333)
  src/index.json
Owners: @williexu, @tjprescott

update readme
  src/storage-preview/README.md
Owners: @williexu

help msg
  src/storage-preview/azext_storage_preview/__init__.py
Owners: @williexu

publish to index
  src/index.json
  src/storage-preview/setup.py
Owners: @williexu, @tjprescott

Storage doc (#334)
  src/index.json
  src/storage-preview/README.md
  src/storage-preview/azext_storage_preview/__init__.py
  src/storage-preview/setup.py
Owners: @williexu, @tjprescott

Add VisualStudio proj and sln files. Update help.
  .gitignore
  .vs/azure-cli-extensions/v14/.suo
  .vs/azure-cli-extensions/v15/.suo
  .vs/config/applicationhost.config
  Backup/azure-cli-extensions.sln
  azure-cli-extensions.pyproj
  azure-cli-extensions.pyproj.user
  azure-cli-extensions.sln
  src/front-door/azext_front_door/_help.py
  src/front-door/azext_front_door/_params.py
  src/front-door/azext_front_door/azext_metadata.json
  src/front-door/readme.md
  src/front-door/setup.py
  src/index.json
Owners: @williexu, @tjprescott

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/src/index.json @williexu @tjprescott

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula

/src/aem/ @yugangw-msft

/src/subscription/ @wilcobmsft

/src/managementgroups/ @rajshah11

/src/rdbms_vnet/ @rahulgouthamDOTgs

/src/alias/ @chewong @troydai

/src/managementpartner/ @jeffrey-ace

/src/dns/ @muwaqar

/src/signalr/ @zackliu

/src/eventgrid/ @kalyanaj

/src/botservice/ @swagatmishra2007

/src/storage-preview/ @williexu

/src/dev-spaces-preview/ @saurabsa

/src/dms-preview/ @temandr

/src/express-route-cross-connection/ @tjprescott

/src/log-analytics/ @alexeldeib

/src/mesh/ @linggengmsft

/src/find/ @albaloo

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @trpresco

/src/virtual-network-tap/ @trpresco

/src/virtual-wan/ @trpresco
