Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zikalino, @tamirkamara, @panchagnula, @yugangw-msft, @wilcobmsft, @rajshah11, @adewaleo, @jeffrey-ace, @muwaqar, @dijyotir, @kalyanaj, @limingu, @amsoedal, @temandr, @MyronFanQiu, @alexeldeib, @linggengmsft, @jeffj6123, @xiangyul, @albaloo, @demyanenko, @amirhbk, @chiragg4u, @pichandwork, @zqingqing1, @gtracer, @xizhamsft, @swbae31, @b-lefr

Remove unused import
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Upgrade pylint to address distutils.versions importing issue
  scripts/ci/test_static.sh
Owners: none

Disable lint error
  .travis.yml
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Update index.json
  src/index.json
Owners: @zikalino

Fix codestyle
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Fix load command issue
  src/aks-preview/azext_aks_preview/commands.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Update index
  src/index.json
Owners: @zikalino

Rename agent-pool-availability-type to vm-set-type
  src/aks-preview/README.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Update helper message
  src/aks-preview/azext_aks_preview/_help.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Update index.json
  src/index.json
Owners: @zikalino

Update helper doc
  src/aks-preview/azext_aks_preview/_help.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Update index.json
  src/index.json
Owners: @zikalino

Update index.json after re-publishing aks-preview wheel bits
  src/index.json
Owners: @zikalino

Bump version to 0.4.11
  src/aks-preview/HISTORY.md
  src/aks-preview/setup.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Update index.json
  src/index.json
Owners: @zikalino

Update helper doc
  src/aks-preview/azext_aks_preview/_help.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Update index.json
  src/index.json
Owners: @zikalino

Rename run-list to list-scripts
  src/index.json
  src/vm-repair/azext_vm_repair/_help.py
  src/vm-repair/azext_vm_repair/commands.py
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/azext_vm_repair/scripts/win-run-driver.ps1
  src/vm-repair/azext_vm_repair/telemetry.py
Owners: @zikalino, @swbae31

AKS-Preview CLI extension default to SLB+VMSS (#906)
  .travis.yml
  scripts/ci/test_static.sh
  src/aks-preview/HISTORY.md
  src/aks-preview/README.md
  src/aks-preview/azext_aks_preview/__init__.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/container_service_client.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/__init__.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/_configuration.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/_container_service_client.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/models/__init__.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/models/_container_service_client_enums.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/models/_models.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/models/_models_py3.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/models/_paged_models.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/operations/__init__.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/operations/_agent_pools_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/operations/_managed_clusters_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/operations/_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_08_01/version.py
  src/aks-preview/setup.py
  src/index.json
Owners: @zqingqing1, @gtracer, @xizhamsft, @zikalino

Set vmas/blb as default
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Bump version
  src/aks-preview/HISTORY.md
  src/aks-preview/setup.py
Owners: @zqingqing1, @gtracer, @xizhamsft

bring back enable-vmss for back-compatibility; add validator for load-balancer-sku and vm-set-type; refactoring for code reuse
  src/aks-preview/README.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Import validator functions
  src/aks-preview/azext_aks_preview/_params.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Fix update check
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Fix get-versions issue
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/container_service_client.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Fix api_server_access_profile
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft

update index.json
  src/index.json
Owners: @zikalino

fix wording in custom.py
  src/asc/azext_asc/custom.py
Owners: none

use latest sdk
  src/asc/azext_asc/_help.py
  src/asc/azext_asc/custom.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/__init__.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/_configuration.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/_microservices4_spring_management_client.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/models/__init__.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/models/_microservices4_spring_management_client_enums.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/models/_models.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/models/_models_py3.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/models/_paged_models.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/operations/_app_clusters_operations.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/operations/_apps_operations.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/operations/_bindings_operations.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/operations/_deployments_operations.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/operations/_microservices4_spring_management_client_operations.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/operations/_operations.py
  src/asc/azext_asc/vendored_sdks/microservices4spring/version.py
Owners: none

Fix code style
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/index.json
Owners: @zqingqing1, @gtracer, @xizhamsft, @zikalino

Fix code style
  src/aks-preview/azext_aks_preview/custom.py
  src/index.json
Owners: @zqingqing1, @gtracer, @xizhamsft, @zikalino

Add support for using managed identity to manage AKS cluster resource group
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Owners: @zqingqing1, @gtracer, @xizhamsft

Fix custom file error bug
  src/index.json
  src/vm-repair/azext_vm_repair/_help.py
  src/vm-repair/azext_vm_repair/_params.py
  src/vm-repair/azext_vm_repair/_validators.py
  src/vm-repair/azext_vm_repair/custom.py
Owners: @zikalino, @swbae31

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/src/index.json @zikalino

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula

/src/aem/ @yugangw-msft

/src/subscription/ @wilcobmsft

/src/managementgroups/ @rajshah11

/src/alias/ @adewaleo

/src/managementpartner/ @jeffrey-ace

/src/dns/ @muwaqar

/src/privatedns/ @dijyotir

/src/eventgrid/ @kalyanaj

/src/storage-preview/ @limingu

/src/db-up/ @yugangw-msft

/src/dev-spaces/ @amsoedal

/src/dms-preview/ @temandr

/src/express-route-cross-connection/ @MyronFanQiu

/src/application-insights/ @alexeldeib

/src/log-analytics/ @alexeldeib

/src/mesh/ @linggengmsft @jeffj6123

/src/mixed-reality/ @xiangyul

/src/find/ @albaloo

/src/resource-graph/ @demyanenko @amirhbk @chiragg4u

/src/azure-firewall/ @MyronFanQiu

/src/virtual-network-tap/ @MyronFanQiu

/src/virtual-wan/ @MyronFanQiu

/src/express-route/ @MyronFanQiu

/src/front-door/ @pichandwork

/src/interactive/ @yugangw-msft

/src/aks-preview/ @zqingqing1 @gtracer @xizhamsft

/src/vm-repair/ @swbae31

/src/netappfiles-preview/ @b-lefr

/src/healthcare/ @zikalino
