Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @derekbekoe, @tamirkamara, @panchagnula, @yugangw-msft, @wilcobmsft, @rajshah11, @rohit-joy, @chewong, @troydai, @jeffrey-ace, @muwaqar, @zackliu, @kalyanaj

fix lint issue
  src/image-copy/azext_imagecopy/__init__.py
Owners: @tamirkamara

updating keyvault-preview version and install location
  src/index.json
Owners: @derekbekoe

updating keyvault-preview version and install location (#152)
  src/index.json
Owners: @derekbekoe

Image-Copy: better resource names, allow tags & image name override (#151)
  src/image-copy/azext_imagecopy/__init__.py
  src/image-copy/azext_imagecopy/cli_utils.py
  src/image-copy/azext_imagecopy/create_target.py
  src/image-copy/azext_imagecopy/custom.py
  src/image-copy/setup.py
Owners: @tamirkamara

remove debug statement
  src/image-copy/azext_imagecopy/create_target.py
Owners: @tamirkamara

add version 0.0.6 to index
  src/index.json
Owners: @derekbekoe

Added eventgrid preview extension to index.json.
  src/eventgrid/azext_eventgrid/azext_metadata.json
  src/index.json
Owners: @kalyanaj, @derekbekoe

Image-Copy: update index with version 0.0.6 (#153)
  src/image-copy/azext_imagecopy/create_target.py
  src/index.json
Owners: @tamirkamara, @derekbekoe

Made the hash lowercase.
  src/index.json
Owners: @derekbekoe

Regenerated using Wheel 0.30
  src/index.json
Owners: @derekbekoe

Updating index metadata to match with what's in the package.
  src/index.json
Owners: @derekbekoe

Updated the description to match what's in the package.
  src/index.json
Owners: @derekbekoe

Added minCliCoreVersion in index.json to match with the metadata in the package.
  src/index.json
Owners: @derekbekoe

eventgrid 0.2.0 (#154)
  src/eventgrid/azext_eventgrid/azext_metadata.json
  src/index.json
Owners: @kalyanaj, @derekbekoe

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/src/index.json @derekbekoe

/src/image-copy/ @tamirkamara

/src/webapp/ @panchagnula

/src/aem/ @yugangw-msft

/src/subscription/ @wilcobmsft

/src/managementgroups/ @rajshah11

/src/rdbms/ @rohit-joy

/src/alias/ @chewong @troydai

/src/managementpartner/ @jeffrey-ace

/src/dns/ @muwaqar

/src/signalr/ @zackliu

/src/eventgrid/ @kalyanaj
