Repository Azure/azure-cli-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jiasli, @fengzhou-msft, @mabenedi, @evelyn-ys, @qwordy, @mirdaki, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @Juliehzl, @alexeldeib, @YalinLi0312, @houk-ms, @mkarmark, @zhoxing-ms, @kairu-ms, @jsntcy, @derekbekoe, @akashkeshari, @alphaWizard, @farehar, @sanmishra18, @wmengmsft, @MehaKaushik, @kavskalyan, @xfz11, @limingu, @sambitratha, @changlong-liu, @amsoedal, @temandr, @alegal, @kalyanaj, @jonunezd, @Diego-Perez-Botero, @pichandwork, @gehuan, @geektrainer, @bquantump, @guy-microsoft, @iviark, @tamirkamara, @NarayanThiru, @jonathan-innis, @ilayr, @orhasban, @astauben, @kairu, @gautamd-ms, @sotaneja, @jeffrey-ace, @linggengmsft, @jeffj6123, @xiangyul, @b-lefr, @tarostok, @wwendyc, @vikashj, @anpaz-msft, @mjain2, @greenms, @demyanenko, @amirhbk, @chiragg4u, @adrianabedon, @peizhou298, @rlrossiter, @danybeam, @N6UDP, @wilcobmsft, @mit2nil, @shahbj79, @RudraSharma93Microsoft, @swbae31, @panchagnula, @dannysongg, @zackliu

made changes to use v1.3.016682 of CSP and tested the changes on windows
  src/connectedk8s/azext_connectedk8s/_constants.py
Owners: @akashkeshari, @alphaWizard

added dns-zone commands
  src/vmware/azext_vmware/_help.py
  src/vmware/azext_vmware/_params.py
  src/vmware/azext_vmware/commands.py
  src/vmware/azext_vmware/custom.py
Owners: @Juliehzl, @zhoxing-ms

allow dhcp server and relay calls with None parameters
  src/vmware/azext_vmware/custom.py
Owners: @Juliehzl, @zhoxing-ms

added workload_network dns-zone commands
  src/vmware/azext_vmware/_help.py
  src/vmware/azext_vmware/custom.py
  src/vmware/azext_vmware/tests/latest/recordings/test_vmware_dhcp.yaml
  src/vmware/azext_vmware/tests/latest/test_dhcp_scenario.py
Owners: @Juliehzl, @zhoxing-ms

Remove version 0.10.13
  src/index.json
Owners: none

Add version 0.10.16
  src/index.json
Owners: none

[IoT] IoT Extension Release v0.10.16 (#3887)
  src/index.json
Owners: none

use os.path.basename, add exception when a directory is passed
  src/storage-blob-preview/azext_storage_blob_preview/_exception_handler.py
  src/storage-blob-preview/azext_storage_blob_preview/_validators.py
  src/storage-blob-preview/azext_storage_blob_preview/commands.py
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_blob_upload_scenarios.yaml
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/test_storage_blob_preview_scenario.py
Owners: @Juliehzl

Update src/vmware/CHANGELOG.md
  src/vmware/CHANGELOG.md
Owners: @Juliehzl, @zhoxing-ms

added commands for workload-network dhcp (#3875)
  src/vmware/CHANGELOG.md
  src/vmware/DEVELOPMENT.md
  src/vmware/azext_vmware/_help.py
  src/vmware/azext_vmware/_params.py
  src/vmware/azext_vmware/_validators.py
  src/vmware/azext_vmware/commands.py
  src/vmware/azext_vmware/custom.py
  src/vmware/azext_vmware/tests/latest/recordings/test_vmware_dhcp.yaml
  src/vmware/azext_vmware/tests/latest/test_dhcp_scenario.py
Owners: @Juliehzl, @zhoxing-ms

fix(aks): check parent scopes role assignments in pod identity assignment
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft, @andyliuliming

fix(aks): check parent scopes role assignments in pod identity assignment (#3889)
  src/aks-preview/azext_aks_preview/custom.py
Owners: @zqingqing1, @gtracer, @xizhamsft, @andyliuliming

[Release] Update index.json for extension [ aks-preview ] (#3883)
  src/index.json
Owners: none

updated csp to 1.3.017131
  src/connectedk8s/azext_connectedk8s/_constants.py
Owners: @akashkeshari, @alphaWizard

[k8s-extension] Release v0.7.1 with DF Fix (#3885)
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/consts.py
  src/k8s-extension/azext_k8s_extension/custom.py
  src/k8s-extension/azext_k8s_extension/tests/latest/MockClasses.py
  src/k8s-extension/azext_k8s_extension/tests/latest/test_custom.py
  src/k8s-extension/azext_k8s_extension/tests/latest/test_open_service_mesh.py
  src/k8s-extension/setup.py
Owners: @NarayanThiru, @jonathan-innis

[Release] Update index.json for extension [ k8s-extension ]
  src/index.json
Owners: none

[Release] Update index.json for extension [ k8s-extension ] (#3890)
  src/index.json
Owners: none

lint
  src/storage-blob-preview/azext_storage_blob_preview/_exception_handler.py
Owners: @Juliehzl

[spring-cloud] app deploy && app deployment create add --source-path argument (#3860)
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_params.py
  src/spring-cloud/azext_spring_cloud/_utils.py
  src/spring-cloud/azext_spring_cloud/custom.py
  src/spring-cloud/setup.py
Owners: @peizhou298

[Release] Update index.json for extension [ spring-cloud ]
  src/index.json
Owners: none

Remove v0.10.16
  src/index.json
Owners: none

Remove v0.10.16 (#3892)
  src/index.json
Owners: none

renamed dhcp test files to workload-network
  src/vmware/azext_vmware/tests/latest/recordings/test_vmware_dhcp.yaml
  src/vmware/azext_vmware/tests/latest/test_dhcp_scenario.py
Owners: @Juliehzl, @zhoxing-ms

IoT Extension Release v0.10.17
  src/index.json
Owners: none

IoT Extension Release v0.10.17 (#3893)
  src/index.json
Owners: none

Add quantum version check
  src/quantum/azext_quantum/__init__.py
Owners: @anpaz-msft

[db-up] `az sql up`: Fix pymssql installation issue (#3874)
  src/db-up/HISTORY.rst
  src/db-up/azext_db_up/custom.py
  src/db-up/setup.py
Owners: @Juliehzl

[Release] Update index.json for extension [ db-up ]
  src/index.json
Owners: none

[Release] Update index.json for extension [ db-up ] (#3897)
  src/index.json
Owners: none

.github/CODEOWNERS:

/src/account/ @jiasli @fengzhou-msft
/src/acrtransfer/ @mabenedi
/src/ad/ @evelyn-ys
/src/aem/ @qwordy
/src/ai-examples/ @mirdaki
/src/aks-preview/ @zqingqing1 @gtracer @xizhamsft @andyliuliming
/src/alertsmanagement/ @qwordy
/src/alias/ @Juliehzl
/src/application-insights/ @alexeldeib
/src/attestation/ @YalinLi0312 @houk-ms
/src/authV2/ @mkarmark
/src/automation/ @zhoxing-ms
/src/azure-firewall/ @kairu-ms @jsntcy
/src/blockchain/ @jsntcy
/src/blueprint/ @fengzhou-msft
/src/cli-translator/ @houk-ms @fengzhou-msft
/src/cloudservice/ @zhoxing-ms
/src/codespaces/ @derekbekoe
/src/communication/ @kairu-ms @jsntcy
/src/confluent/ @zhoxing-ms @jsntcy
/src/connectedk8s/ @akashkeshari @alphaWizard
/src/connectedmachine/ @farehar
/src/connectedvmware/ @sanmishra18
/src/connection-monitor-preview/ @kairu-ms @jsntcy
/src/cosmosdb-preview/ @wmengmsft @MehaKaushik @kavskalyan
/src/costmanagement/ @kairu-ms @jsntcy
/src/custom-providers/ @jsntcy
/src/databox/ @jsntcy
/src/databricks/ @fengzhou-msft @xfz11
/src/datadog/ @limingu
/src/datafactory/ @kairu-ms  @evelyn-ys @Juliehzl
/src/dataprotection/ @sambitratha
/src/datashare/ @fengzhou-msft
/src/db-up/ @Juliehzl
/src/desktopvirtualization/ @changlong-liu
/src/dev-spaces/ @amsoedal
/src/diskpool/ @Juliehzl
/src/dms-preview/ @temandr
/src/dnc/ @alegal
/src/eventgrid/ @kalyanaj
/src/express-route-cross-connection/ @kairu-ms @jsntcy
/src/footprint/ @jonunezd @Diego-Perez-Botero
/src/front-door/ @pichandwork
/src/guestconfig/ @gehuan
/src/hack/ @geektrainer
/src/hardware-security-modules/ @bquantump
/src/healthbot/ @guy-microsoft
/src/healthcareapis/ @fengzhou-msft @iviark
/src/hpc-cache/ @zhoxing-ms
/src/image-copy/ @tamirkamara
/src/import-export/ @xfz11
/src/interactive/ @jiasli
/src/internet-analyzer/ @jsntcy
/src/ip-group/ @kairu-ms @jsntcy
/src/k8s-configuration/ @NarayanThiru @jonathan-innis
/src/k8s-extension/ @NarayanThiru @jonathan-innis
/src/k8sconfiguration/ @NarayanThiru @jonathan-innis
/src/kusto/ @ilayr @orhasban @astauben
/src/log-analytics-solution/ @zhoxing-ms
/src/log-analytics/ @alexeldeib
/src/logic/ @jsntcy @kairu
/src/maintenance/ @gautamd-ms
/src/maintenance/ @sotaneja
/src/managementpartner/ @jeffrey-ace
/src/mesh/ @linggengmsft @jeffj6123
/src/mixed-reality/ @xiangyul
/src/monitor-control-service/ @jsntcy @kairu-ms
/src/netappfiles-preview/ @b-lefr
/src/next/ @zhoxing-ms
/src/notification-hub/ @fengzhou-msft
/src/offazure/ @houk-ms
/src/peering/ @jsntcy
/src/portal/ @YalinLi0312
/src/powerbidedicated/ @Juliehzl @tarostok @evelyn-ys
/src/providerhub/ @wwendyc @vikashj
/src/purview/ @kairu-ms @jsntcy
/src/quantum/ @anpaz-msft
/src/rdbms-connect/ @mjain2 @Juliehzl
/src/redisenterprise/ @greenms
/src/resource-graph/ @demyanenko @amirhbk @chiragg4u
/src/resource-mover/ @houk-ms
/src/scheduled-query/ @jsntcy
/src/securityinsight/ @houk-ms
/src/serial-console/ @adrianabedon
/src/spring-cloud/ @peizhou298
/src/ssh/ @rlrossiter @danybeam @fengzhou-msft @N6UDP
/src/stack-hci/ @zhoxing-ms
/src/storage-blob-preview/ @Juliehzl
/src/storage-preview/ @Juliehzl
/src/storagesync/ @jsntcy
/src/stream-analytics/ @houk-ms
/src/subscription/ @wilcobmsft
/src/support/ @mit2nil @shahbj79 @RudraSharma93Microsoft
/src/swiftlet/ @zhoxing-ms
/src/timeseriesinsights/ @jiasli
/src/virtual-network-tap/ @kairu-ms @jsntcy
/src/virtual-wan/ @kairu-ms @jsntcy
/src/vm-repair/ @swbae31
/src/vmware/ @Juliehzl @zhoxing-ms
/src/webapp/ @panchagnula @dannysongg
/src/webpubsub/ @zackliu
