Repository Azure/azure-cli-extensions, pull requests merged in 2020-10, with the labels that each got.

#2464 [connectedk8s] Add check for AKS cluster
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/custom.py
Labels: Connected Kubernetes

#2481 fix docker image in doc
  src/codespaces/README.rst
  src/codespaces/azext_codespaces/tests/latest/recordings/test_codespaces_plan.yaml
  src/codespaces/azext_codespaces/tests/latest/test_codespaces_scenario.py
Labels: Packaging

#2495 aks-preview: release version 0.4.64
  src/aks-preview/HISTORY.md
  src/aks-preview/setup.py
Labels: AKS

#2499 mark databricks extension ga since service ga
  src/databricks/azext_databricks/azext_metadata.json
Labels: Data Bricks

#2500 release GA databricks extension
  src/databricks/HISTORY.rst
  src/databricks/setup.py
Labels: Data Bricks

#2440 Improve collection arguments documentation for network rules
  src/azure-firewall/HISTORY.rst
  src/azure-firewall/azext_firewall/_params.py
  src/azure-firewall/setup.py
Labels: customer-reported

#2453 [Spring-Cloud] update endpoint cross cloud
  src/spring-cloud/azext_spring_cloud/_utils.py
  src/spring-cloud/azext_spring_cloud/custom.py
Labels: Spring Cloud

#2540 [Account] account alias create: Add --reseller-id
  src/account/HISTORY.rst
  src/account/azext_account/generated/_params.py
  src/account/azext_account/generated/custom.py
  src/account/azext_account/tests/latest/recordings/test_account.yaml
  src/account/azext_account/tests/latest/test_account_scenario.py
  src/account/azext_account/vendored_sdks/subscription/models/_models.py
  src/account/azext_account/vendored_sdks/subscription/models/_models_py3.py
  src/account/setup.cfg
  src/account/setup.py
Labels: Subscription

#2519 [AKS] Honor addon names defined in Azure CLI
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#2508 [AKS] az aks create/update: Add LicenseType support for Windows
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ahub.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_windows.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2567 [Blueprint] Fix user identity in blueprint assignment
  linter_exclusions.yml
  src/blueprint/HISTORY.rst
  src/blueprint/azext_blueprint/_help.py
  src/blueprint/azext_blueprint/_params.py
  src/blueprint/azext_blueprint/_validators.py
  src/blueprint/azext_blueprint/custom.py
  src/blueprint/azext_blueprint/tests/latest/recordings/test_blueprint.yaml
  src/blueprint/azext_blueprint/tests/latest/recordings/test_blueprint_import.yaml
  src/blueprint/azext_blueprint/tests/latest/test_blueprint_scenario.py
  src/blueprint/setup.py
Labels: Blueprint
