Repository Azure/azure-cli-extensions, pull requests merged in 2020-02, with the labels that each got.

#1240 add outboundType param for userDefinedRouting
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_loadbalancer.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
  src/index.json
Labels: AKS

#1310 [hotfix] netappfiles download url 404
  src/index.json
Labels: NetAppFiles

#1314 [CI] Move Travis CI job "syncing available extensions to Microsoft/azure-docs-cli" to ADO
  .travis.yml
  scripts/ci/avail-ext-doc/README.md
  scripts/ci/avail-ext-doc/list-template.md
  scripts/ci/avail-ext-doc/requirements.txt
  scripts/ci/avail-ext-doc/update_extension_list.py
Labels: CI

#1319 add --context to az aks get-credential
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
  src/index.json
Labels: AKS, extension/aks-preview
