Repository Azure/azure-cli-extensions, pull requests merged in 2020-09, with the labels that each got.

#2251 Disable role assignment check for vnet for Azure Spring Cloud
  src/spring-cloud/azext_spring_cloud/_validators.py
  src/spring-cloud/azext_spring_cloud/tests/latest/test_asc_validator.py
Labels: Spring Cloud

#2255 Add check for vnet location for Azure Spring Cloud
  src/spring-cloud/azext_spring_cloud/_validators.py
  src/spring-cloud/azext_spring_cloud/tests/latest/test_asc_validator.py
Labels: Spring Cloud

#2253 Add acc sgx addon cli support
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_confcom_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_confcom_addon_helper_disabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_addons_confcom_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_addons_confcom_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/linter_exclusions.yml
Labels: AKS

#2284 [ImageCopy] fix image copy failure when resource group location and disk location differ
  src/image-copy/azext_imagecopy/custom.py
Labels: Compute

#2223 Use string length to cover corner case for decimal number count
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
Labels: AKS

#2323 [AKS] Remove preview from azure policy addon for cli extension
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
Labels: AKS

#2337 [AKS] Fixed case sensitive issue for AKS dashboard addon
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#2339 vm-repair: Fix Encrypted Ubuntu Bug, add LVM support
  azure-cli-extensions.pyproj
  src/vm-repair/azext_vm_repair/_validators.py
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/azext_vm_repair/repair_utils.py
  src/vm-repair/azext_vm_repair/scripts/linux-run-driver.sh
  src/vm-repair/azext_vm_repair/scripts/mount-encrypted-disk.sh
  src/vm-repair/azext_vm_repair/scripts/win-run-driver.ps1
  src/vm-repair/azext_vm_repair/tests/latest/test_repair_commands.py
  src/vm-repair/setup.py
Labels: Compute

#2338 [ai-examples] Send User ID hash for rate limiting
  src/ai-examples/HISTORY.rst
  src/ai-examples/azext_ai_examples/custom.py
  src/ai-examples/setup.py
Labels: AI

#2374 Bump spring-cloud version to 1.1.0
  src/spring-cloud/HISTORY.md
  src/spring-cloud/setup.py
Labels: Spring Cloud

#2344 [AKS] add ephemeral os functionality
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_appgw_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_subnet_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ephemeral_disk.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_managed_disk.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2373 Add bindings for Start/Stop operation
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_stop_and_start.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2397 [Firewall] Network.DNS.EnableProxy shoule be lowercase
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_management_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy.yaml
  src/azure-firewall/setup.py
Labels: Network - Firewall

#2402 [ai-did-you-mean-this] Make the extension retired
  .github/CODEOWNERS
  src/ai-did-you-mean-this/HISTORY.rst
  src/ai-did-you-mean-this/README.md
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/__init__.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_cli_command.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_cmd_table.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_command.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_const.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_help.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_logging.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_parameter.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_style.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_suggestion.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_suggestion_encoder.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_telemetry.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_timer.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_types.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/_util.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/arguments.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/azext_metadata.json
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/commands.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/custom.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/__init__.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/__init__.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/aladdin_scenario_test_base.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/data/__init__.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/data/_command_normalization_scenario.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/data/_command_parameter_normalization_scenario.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/data/_scenario.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/data/fault.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/data/scenarios.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/data/telemetry_property.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/data/user_fault_type.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/extension_telemetry_test_base.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/mock/__init__.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/mock/aladdin_service.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/mock/const.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/mock/extension_telemetry_session.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/test_ai_did_you_mean_this_scenario.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/test_command_parameter_normalization.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/test_extension_logging.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/tests/latest/test_extension_telemetry.py
  src/ai-did-you-mean-this/azext_ai_did_you_mean_this/version.py
  src/ai-did-you-mean-this/setup.cfg
  src/ai-did-you-mean-this/setup.py
  src/index.json
Labels: AI

#2406 [AKS] Fixed indentation
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#2393 [ApplicationInsights] Help shows api-keys in plural, should be singular
  src/application-insights/azext_applicationinsights/_help.py
Labels: customer-reported

#2405 [AKS] Add az aks nodepool get-upgrades command
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2446 aks-preview: add open-service-mesh as an aks addon
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_openservicemesh_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_openservicemesh_addon_with_mesh_name.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_addon_openservicemesh.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_addon_with_openservicemesh.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_addon_with_openservicemesh_with_mesh_name.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2443 [AKS] Expect kube-dashboard addon be disabled by default
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#2448 [Databricks] GA CMK feature
  src/databricks/HISTORY.rst
  src/databricks/azext_databricks/_params.py
  src/databricks/azext_databricks/_validators.py
  src/databricks/setup.py
Labels: Data Bricks

#2392 [Connectedk8s] Added proxy cert support in connectedk8s
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_help.py
  src/connectedk8s/azext_connectedk8s/_params.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes
