Repository Azure/azure-cli-extensions, pull requests merged in 2020-11, with the labels that each got.

#2583 [KubernetesConfiguration] BREAKING CHANGE: Add ApiVersion 2020-10-01-preview
  src/k8sconfiguration/HISTORY.rst
  src/k8sconfiguration/azext_k8sconfiguration/_help.py
  src/k8sconfiguration/azext_k8sconfiguration/_params.py
  src/k8sconfiguration/azext_k8sconfiguration/custom.py
  src/k8sconfiguration/azext_k8sconfiguration/tests/latest/recordings/test_k8sconfiguration.yaml
  src/k8sconfiguration/azext_k8sconfiguration/tests/latest/test_kubernetesconfiguration_scenario.py
  src/k8sconfiguration/azext_k8sconfiguration/vendored_sdks/_source_control_configuration_client.py
  src/k8sconfiguration/azext_k8sconfiguration/vendored_sdks/models/__init__.py
  src/k8sconfiguration/azext_k8sconfiguration/vendored_sdks/models/_models.py
  src/k8sconfiguration/azext_k8sconfiguration/vendored_sdks/models/_models_py3.py
  src/k8sconfiguration/azext_k8sconfiguration/vendored_sdks/models/_source_control_configuration_client_enums.py
  src/k8sconfiguration/azext_k8sconfiguration/vendored_sdks/operations/_operations.py
  src/k8sconfiguration/azext_k8sconfiguration/vendored_sdks/operations/_source_control_configurations_operations.py
  src/k8sconfiguration/azext_k8sconfiguration/vendored_sdks/version.py
  src/k8sconfiguration/setup.py
Labels: Kubernetes Configuration

#2531 [Network] Add front-door load-balancing update
  src/front-door/azext_front_door/_help.py
  src/front-door/azext_front_door/_params.py
  src/front-door/azext_front_door/commands.py
  src/front-door/azext_front_door/custom.py
  src/front-door/azext_front_door/tests/latest/recordings/test_backend_pool_basic.yaml
  src/front-door/azext_front_door/tests/latest/recordings/test_frontend_endpoint_basic.yaml
  src/front-door/azext_front_door/tests/latest/recordings/test_load_balancing_basic.yaml
  src/front-door/azext_front_door/tests/latest/recordings/test_probe_basic.yaml
  src/front-door/azext_front_door/tests/latest/recordings/test_route_rule_basic.yaml
  src/front-door/azext_front_door/tests/latest/test_backend_pool_scenarios.py
  src/front-door/azext_front_door/tests/latest/test_frontend_endpoint_scenarios.py
  src/front-door/azext_front_door/tests/latest/test_load_balancing_scenarios.py
  src/front-door/azext_front_door/tests/latest/test_probe_scenarios.py
  src/front-door/azext_front_door/tests/latest/test_route_rule_scenarios.py
  src/front-door/setup.py
Labels: Network - Front Door

#2621 [ai-examples] Update to use appropriate User ID hash
  src/ai-examples/HISTORY.rst
  src/ai-examples/azext_ai_examples/custom.py
  src/ai-examples/setup.py
Labels: Telemetry

#2640 {k8sconfiguration} Revert release of version 0.2.0
  src/index.json
Labels: Kubernetes Configuration

#2645 [Firewall] Support to configure policy sku with --sku
  src/azure-firewall/azext_firewall/_params.py
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py
Labels: Network - Firewall

#2539 [AKS] update idletimeout to 100 minutes
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_validators.py
Labels: AKS

#2622 [AKS] az aks browse: point to Azure Portal Kubernetes resources view if k8s >=1.19 or kube-dashboard not enabled
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#2571 [AKS] Support updating from SPN cluster to MSI cluster
  linter_exclusions.yml
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_to_msi_cluster.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, do-not-merge

#2010 enable aks gitops extension
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2617 [dev-spaces] Add deprecation info to dev-spaces extension
  src/dev-spaces/azext_dev_spaces/custom.py
Labels: AKS

#2690 [cli-translator] Fix can't recognize ~ in path problem
  src/cli-translator/HISTORY.md
  src/cli-translator/azext_cli_translator/custom.py
  src/cli-translator/setup.py
Labels: cli-translater

#2605 add --private-dns-zone for AKS private cluster
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_none_private_dns_zone.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2647 [healthcareapis] Private Link and BYOK updates
  linter_exclusions.yml
  src/healthcareapis/HISTORY.rst
  src/healthcareapis/azext_healthcareapis/__init__.py
  src/healthcareapis/azext_healthcareapis/azext_metadata.json
  src/healthcareapis/azext_healthcareapis/generated/_client_factory.py
  src/healthcareapis/azext_healthcareapis/generated/_help.py
  src/healthcareapis/azext_healthcareapis/generated/_params.py
  src/healthcareapis/azext_healthcareapis/generated/_validators.py
  src/healthcareapis/azext_healthcareapis/generated/action.py
  src/healthcareapis/azext_healthcareapis/generated/commands.py
  src/healthcareapis/azext_healthcareapis/generated/custom.py
  src/healthcareapis/azext_healthcareapis/tests/__init__.py
  src/healthcareapis/azext_healthcareapis/tests/latest/test_healthcareapis_scenario.py
  src/healthcareapis/azext_healthcareapis/vendored_sdks/healthcareapis/_version.py
  src/healthcareapis/azext_healthcareapis/vendored_sdks/healthcareapis/setup.py
  src/healthcareapis/report.md
  src/healthcareapis/setup.py
Labels: extension/healthcare

#2718 [Spring-Cloud] Boom up version for mooncake support
  src/spring-cloud/HISTORY.md
  src/spring-cloud/setup.py
Labels: Spring Cloud

#2655 [AKS] Add Podsubnet argument to cluster create and nodepool add
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
Labels: AKS

#2679 [Blueprint] Support removing depends_on in update
  src/blueprint/HISTORY.rst
  src/blueprint/azext_blueprint/_params.py
  src/blueprint/azext_blueprint/custom.py
  src/blueprint/setup.py
Labels: Blueprint

#2644 AKS: implement pod identity addons management sub commands
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_pod_identity_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_pod_identity_usage.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
Labels: AKS

#2720 [VirtualWan] az network vpn-gateway connection: Change the underlying operations from VpnGatewayOperations to VpnConnectionOperations
  src/virtual-wan/HISTORY.rst
  src/virtual-wan/azext_vwan/_client_factory.py
  src/virtual-wan/azext_vwan/_help.py
  src/virtual-wan/azext_vwan/_params.py
  src/virtual-wan/azext_vwan/commands.py
  src/virtual-wan/azext_vwan/custom.py
  src/virtual-wan/azext_vwan/tests/__init__.py
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_p2s_vpn_gateway_basic_scenario.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vhub_connection_basic_scenario.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vpn_server_config_basic_scenario.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vwan_route_table.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vwan_route_table_v3.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vwan_vhub_basic_scenario.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vwan_vhub_route_scenario.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vwan_vpn_gateway.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vwan_vpn_gateway_connection.yaml
  src/virtual-wan/azext_vwan/tests/latest/test_azure_vhub_route_table_scenario.py
  src/virtual-wan/azext_vwan/tests/latest/test_azure_vwan_vhub_commands.py
  src/virtual-wan/setup.py
Labels: Network - VPN Gateway
