Repository Azure/azure-cli-extensions, pull requests merged in 2020-08, with the labels that each got.

#2091 [ConnectedK8s] Added update command (#3)
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_help.py
  src/connectedk8s/azext_connectedk8s/_params.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/commands.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes

#2137 [AKS] Set network profile when using basic load balancer.
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#2124 webapp: add support for using new OneDeploy API for deployments in CLI
  .github/CODEOWNERS
  src/webapp/azext_webapp/__init__.py
  src/webapp/azext_webapp/_help.py
  src/webapp/azext_webapp/custom.py
Labels: Web Apps

#2203 az spring-cloud release 0819
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_stream_utils.py
  src/spring-cloud/azext_spring_cloud/custom.py
  src/spring-cloud/setup.py
Labels: Spring Cloud

#2213 Should not compare float number with 0
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
Labels: AKS

#2238 [connectedk8s] Adding support for passing extra helm parameters through file
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes

#2229 [Datashare] Add blobfolder dataset example
  src/datashare/HISTORY.rst
  src/datashare/azext_datashare/manual/_help.py
  src/datashare/azext_datashare/tests/latest/recordings/test_datashare.yaml
  src/datashare/azext_datashare/tests/latest/test_datashare_scenario.py
  src/datashare/setup.py
Labels: Data Share
