Repository Azure/azure-cli-extensions, pull requests merged in 2020-06, with the labels that each got.

#1795 [Firewall] Add dns proxy settings for network firewall
  src/azure-firewall/azext_firewall/_params.py
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_management_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_with_dns_proxy.yaml
  src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py
Labels: Network - Firewall

#1408 [AKS] Changes to support MSI for IngressApplicationGateway addon
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_appgw_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_subnet_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#1810 Revert "change default vm sku to Standard_D2s_v3"
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#1817 [Log Analytics] Query support cloud awareness
  src/log-analytics/azext_loganalytics/_client_factory.py
  src/log-analytics/azext_loganalytics/tests/latest/test_loganalytics_commands.py
  src/log-analytics/setup.py
Labels: Monitor - LogAnalytics

#1773 Support 0 node agent pool and block manual scale CAS enabled pool
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#1859 [Monitor] Set retention for AI
  src/application-insights/azext_applicationinsights/_help.py
  src/application-insights/azext_applicationinsights/_params.py
  src/application-insights/azext_applicationinsights/custom.py
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component_with_linked_workspace.yaml
  src/application-insights/azext_applicationinsights/tests/latest/test_applicationinsights_mgmt.py
Labels: Monitor - ApplicationInsights

#1842 [CI] Add check that azext_metadata.json must exist
  scripts/ci/test_index.py
  scripts/ci/util.py
Labels: CI

#1875 [azure-firewall] Support DNS settings options in firewall policy
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_policy_with_dns_settings.yaml
  src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py
Labels: Network - Firewall

#1603 Support Databricks CMK/BYOK
  src/databricks/HISTORY.rst
  src/databricks/README.md
  src/databricks/azext_databricks/_help.py
  src/databricks/azext_databricks/_params.py
  src/databricks/azext_databricks/_validators.py
  src/databricks/azext_databricks/azext_metadata.json
  src/databricks/azext_databricks/commands.py
  src/databricks/azext_databricks/custom.py
  src/databricks/azext_databricks/tests/latest/recordings/test_databricks.yaml
  src/databricks/azext_databricks/tests/latest/test_databricks_scenario.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/__init__.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/_databricks_client_enums.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/_models.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/_models_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/databricks_client_enums.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/error_detail.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/error_detail_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/error_info.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/error_info_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/error_response.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/error_response_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/operation.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/operation_display.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/operation_display_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/operation_paged.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/operation_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/resource.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/resource_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/sku.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/sku_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/tracked_resource.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/tracked_resource_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/workspace.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/workspace_paged.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/workspace_provider_authorization.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/workspace_provider_authorization_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/workspace_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/workspace_update.py
  src/databricks/azext_databricks/vendored_sdks/databricks/models/workspace_update_py3.py
  src/databricks/azext_databricks/vendored_sdks/databricks/operations/_workspaces_operations.py
  src/databricks/setup.py
Labels: Data Bricks

#1904 [firewall] wrong key that would crash firewall ip-config
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy_with_threat_intel_whitelist.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_rules.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_rules_with_ipgroups.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_threat_intel_whitelist.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_virtual_hub.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_zones.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_policy_with_dns_settings.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_with_dns_proxy.yaml
  src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py
Labels: Network - Firewall
