Repository Azure/azure-cli-extensions, pull requests merged in 2020-12, with the labels that each got.

#2650 [SecurityInsight] Init release
  .github/CODEOWNERS
  linter_exclusions.yml
  src/securityinsight/HISTORY.rst
  src/securityinsight/README.md
  src/securityinsight/azext_sentinel/__init__.py
  src/securityinsight/azext_sentinel/action.py
  src/securityinsight/azext_sentinel/azext_metadata.json
  src/securityinsight/azext_sentinel/custom.py
  src/securityinsight/azext_sentinel/generated/__init__.py
  src/securityinsight/azext_sentinel/generated/_client_factory.py
  src/securityinsight/azext_sentinel/generated/_help.py
  src/securityinsight/azext_sentinel/generated/_params.py
  src/securityinsight/azext_sentinel/generated/_validators.py
  src/securityinsight/azext_sentinel/generated/action.py
  src/securityinsight/azext_sentinel/generated/commands.py
  src/securityinsight/azext_sentinel/generated/custom.py
  src/securityinsight/azext_sentinel/manual/__init__.py
  src/securityinsight/azext_sentinel/manual/_params.py
  src/securityinsight/azext_sentinel/tests/__init__.py
  src/securityinsight/azext_sentinel/tests/latest/__init__.py
  src/securityinsight/azext_sentinel/tests/latest/recordings/test_sentinel.yaml
  src/securityinsight/azext_sentinel/tests/latest/test_sentinel_scenario.py
  src/securityinsight/azext_sentinel/tests/latest/test_sentinel_scenario_coverage.md
  src/securityinsight/azext_sentinel/vendored_sdks/__init__.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/__init__.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/_configuration.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/_security_insights.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/__init__.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/_configuration.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/_security_insights.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/__init__.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/_action_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/_alert_rule_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/_alert_rule_template_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/_bookmark_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/_data_connector_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/_incident_comment_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/_incident_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/aio/operations/_operation_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/models/__init__.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/models/_models.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/models/_models_py3.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/models/_security_insights_enums.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/__init__.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/_action_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/_alert_rule_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/_alert_rule_template_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/_bookmark_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/_data_connector_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/_incident_comment_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/_incident_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/operations/_operation_operations.py
  src/securityinsight/azext_sentinel/vendored_sdks/securityinsight/py.typed
  src/securityinsight/gen.zip
  src/securityinsight/report.md
  src/securityinsight/setup.cfg
  src/securityinsight/setup.py
Labels: SecurityInsights

#2708 [k8sconfiguration] Fix bug in known_hosts property and add support for other key types
  src/k8sconfiguration/HISTORY.rst
  src/k8sconfiguration/azext_k8sconfiguration/_validators.py
  src/k8sconfiguration/azext_k8sconfiguration/custom.py
  src/k8sconfiguration/setup.py
Labels: Kubernetes Configuration

#2722 Added some checks for proxy
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/custom.py
Labels: Connected Kubernetes

#2743 [k8sconfiguration] Update Min AZ CLI Version
  src/k8sconfiguration/HISTORY.rst
  src/k8sconfiguration/azext_k8sconfiguration/azext_metadata.json
  src/k8sconfiguration/setup.py
Labels: Kubernetes Configuration

#2741 Fairfax related changes in connectedk8s
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
Labels: Connected Kubernetes

#2742 Added --disable-proxy
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_help.py
  src/connectedk8s/azext_connectedk8s/_params.py
  src/connectedk8s/azext_connectedk8s/custom.py
Labels: Connected Kubernetes

#2754 [Logic] logic workflow update: --definition is not to be mandatory while updating
  .github/CODEOWNERS
  src/logic/HISTORY.rst
  src/logic/azext_logic/azext_metadata.json
  src/logic/azext_logic/manual/custom.py
  src/logic/azext_logic/tests/latest/recordings/test_logic.yaml
  src/logic/azext_logic/tests/latest/test_logic_scenario.py
  src/logic/setup.py
Labels: Logic App

#2766 {Attestation} Update readme.md
  src/attestation/README.md
Labels: Attestation

#2768 OneDeploy enhancements
  src/webapp/azext_webapp/__init__.py
  src/webapp/azext_webapp/_help.py
  src/webapp/azext_webapp/custom.py
  src/webapp/setup.py
Labels: Web Apps

#2797 [Firewall] az network firewall policy: Add --sku option
  src/azure-firewall/azext_firewall/_params.py
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_management_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py
Labels: Network - Firewall

#2832 Increment webapp version from 0.3.0 -> 0.3.1
  src/webapp/HISTORY.rst
  src/webapp/setup.py
Labels: App Services

#2822 [Firewall] Support to configure intrusion detection policy and transport security for premium tier firewall policy
  src/azure-firewall/azext_firewall/_help.py
  src/azure-firewall/azext_firewall/_params.py
  src/azure-firewall/azext_firewall/commands.py
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy_intrusion_detection.yaml
  src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py
Labels: Network - Firewall

#2835 [Firewall] Upgrade to 0.8.0 to enable premium firewall policy featue
  src/azure-firewall/HISTORY.rst
  src/azure-firewall/azext_firewall/azext_metadata.json
  src/azure-firewall/setup.py
Labels: Network - Firewall

#2819 Add warning message and unset active deployment operation
  src/spring-cloud/azext_spring_cloud/_help.py
  src/spring-cloud/azext_spring_cloud/commands.py
  src/spring-cloud/azext_spring_cloud/custom.py
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_bind_cert_to_domain.yaml
Labels: Spring Cloud
