Repository Azure/azure-cli-extensions, pull requests merged in 2020-07, with the labels that each got.

#1887 Added --enable-azure-rbac flag in ManagedClusterAadProfile (#2)
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_appgw_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_subnet_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_managed_aad_enable_azure_rbac.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/container_service_client.py
  src/aks-preview/setup.py
Labels: do-not-merge

#2064 [hpc-cache] Remove line breaks from examples
  .github/CODEOWNERS
  src/hpc-cache/HISTORY.rst
  src/hpc-cache/azext_hpc_cache/_help.py
  src/hpc-cache/azext_hpc_cache/tests/latest/test_hpc_cache_scenario.py
  src/hpc-cache/setup.py
Labels: HPC Cache

#1983 Added clearer error message for invalid addon name
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_helpers.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/setup.py
Labels: AKS
