Repository Azure/azure-cli-extensions, pull requests merged in 2020-05, with the labels that each got.

#1461 [storage-ors-preview] Support ORS policy for storage account
  .github/CODEOWNERS
  src/storage-ors-preview/HISTORY.rst
  src/storage-ors-preview/README.md
  src/storage-ors-preview/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/_client_factory.py
  src/storage-ors-preview/azext_storage_ors_preview/_help.py
  src/storage-ors-preview/azext_storage_ors_preview/_params.py
  src/storage-ors-preview/azext_storage_ors_preview/_validators.py
  src/storage-ors-preview/azext_storage_ors_preview/azext_metadata.json
  src/storage-ors-preview/azext_storage_ors_preview/commands.py
  src/storage-ors-preview/azext_storage_ors_preview/operations/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/operations/account.py
  src/storage-ors-preview/azext_storage_ors_preview/profiles.py
  src/storage-ors-preview/azext_storage_ors_preview/tests/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/tests/latest/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/tests/latest/recordings/test_storage_account_ors.yaml
  src/storage-ors-preview/azext_storage_ors_preview/tests/latest/test_storage_account_ors_scenario.py
  src/storage-ors-preview/azext_storage_ors_preview/tests/storage_test_util.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/_configuration.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/_storage_management_client.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/models.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/_configuration.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/_storage_management_client.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/models/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/models/_models.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/models/_models_py3.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/models/_paged_models.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/models/_storage_management_client_enums.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/__init__.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_blob_containers_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_blob_services_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_encryption_scopes_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_file_services_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_file_shares_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_management_policies_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_object_replication_policies_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_private_endpoint_connections_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_private_link_resources_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_skus_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_storage_accounts_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/operations/_usages_operations.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/v2019_06_01/version.py
  src/storage-ors-preview/azext_storage_ors_preview/vendored_sdks/azure_mgmt_storage/version.py
  src/storage-ors-preview/setup.cfg
  src/storage-ors-preview/setup.py
Labels: do-not-merge

#1606 [AKS] Unblock agentpool min count range check
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#1686 AKS: add aks-custom-headers for nodepool and update
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS

#1685 Fix issues for az aks kollect on private clusters
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_helpers.py
Labels: AKS

#1750 AKS support node image upgrade feature
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS

#1748 {CI} Re-enable credscan
  azure-pipelines.yml
  scripts/ci/credscan/CredScanSuppressions.json
Labels: CI

#1730 Fix issues of storage account name for az aks kollect
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/tests/latest/test_helpers.py
  src/aks-preview/setup.py
Labels: AKS

#1671 spring-cloud: add support to enable/disable MSI (#1523)
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_help.py
  src/spring-cloud/azext_spring_cloud/_params.py
  src/spring-cloud/azext_spring_cloud/commands.py
  src/spring-cloud/azext_spring_cloud/custom.py
  src/spring-cloud/azext_spring_cloud/vendored_sdks/appplatform/models/__init__.py
  src/spring-cloud/azext_spring_cloud/vendored_sdks/appplatform/models/_app_platform_management_client_enums.py
  src/spring-cloud/azext_spring_cloud/vendored_sdks/appplatform/models/_models.py
  src/spring-cloud/azext_spring_cloud/vendored_sdks/appplatform/models/_models_py3.py
  src/spring-cloud/azext_spring_cloud/vendored_sdks/appplatform/operations/_apps_operations.py
  src/spring-cloud/setup.py
Labels: Spring Cloud
