Repository Azure/azure-cli-extensions, pull requests merged in 2021-05, with the labels that each got.

#3343 [AKS] Bump aks-preview version to 0.5.11
  src/aks-preview/HISTORY.md
  src/aks-preview/setup.py
Labels: AKS

#3323 [Healthcareapis] Fixing managed identity inconsistency and adding tests
  src/healthcareapis/HISTORY.rst
  src/healthcareapis/azext_healthcareapis/manual/custom.py
  src/healthcareapis/azext_healthcareapis/tests/latest/recordings/test_healthcareapis.yaml
  src/healthcareapis/azext_healthcareapis/tests/latest/test_healthcareapis_scenario.py
  src/healthcareapis/azext_healthcareapis/vendored_sdks/healthcareapis/operations/_services_operations.py
  src/healthcareapis/azext_healthcareapis/vendored_sdks/healthcareapis/version.py
  src/healthcareapis/setup.py
Labels: customer-reported

#3266 [AKS] Support disable local accounts
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_local_accounts.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS

#3333 [Preview] Added azureDefender addon to aks-preview
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#3292 [AKS] Add a live test pipeline for aks-preview PR check-in
  src/aks-preview/az_aks_tool/.gitignore
  src/aks-preview/az_aks_tool/cli.py
  src/aks-preview/az_aks_tool/const.py
  src/aks-preview/az_aks_tool/ext.py
  src/aks-preview/az_aks_tool/filter.py
  src/aks-preview/az_aks_tool/index.py
  src/aks-preview/az_aks_tool/log.py
  src/aks-preview/az_aks_tool/main.py
  src/aks-preview/az_aks_tool/run.py
  src/aks-preview/az_aks_tool/tests/__init__.py
  src/aks-preview/az_aks_tool/tests/test_cli.py
  src/aks-preview/az_aks_tool/tests/test_ext.py
  src/aks-preview/az_aks_tool/tests/test_filter.py
  src/aks-preview/az_aks_tool/tests/test_index.py
  src/aks-preview/az_aks_tool/tests/test_log.py
  src/aks-preview/az_aks_tool/tests/test_main.py
  src/aks-preview/az_aks_tool/tests/test_run.py
  src/aks-preview/az_aks_tool/tests/test_utils.py
  src/aks-preview/az_aks_tool/tests/testdata.json
  src/aks-preview/az_aks_tool/utils.py
  src/aks-preview/azcli_aks_live_test/.gitignore
  src/aks-preview/azcli_aks_live_test/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/README.md
  src/aks-preview/azcli_aks_live_test/clean_up.sh
  src/aks-preview/azcli_aks_live_test/clone_repo.sh
  src/aks-preview/azcli_aks_live_test/ext_matrix_default.json
  src/aks-preview/azcli_aks_live_test/prepare_image.sh
  src/aks-preview/azcli_aks_live_test/setup_venv.sh
  src/aks-preview/azcli_aks_live_test/start_container.sh
  src/aks-preview/azcli_aks_live_test/test_cli_live.sh
  src/aks-preview/azcli_aks_live_test/test_cli_unit.sh
  src/aks-preview/azcli_aks_live_test/test_ext_live.sh
  src/aks-preview/azcli_aks_live_test/test_ext_unit.sh
  src/aks-preview/azcli_aks_live_test/transcribe_env.sh
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-live-test.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-unit-test.yaml
  src/aks-preview/azext_aks_preview/tests/latest/custom_preparers.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#3398 Add support for user agent string in calls to AQ via CLI
  src/quantum/azext_quantum/__init__.py
  src/quantum/azext_quantum/_client_factory.py
  src/quantum/azext_quantum/azext_metadata.json
  src/quantum/azext_quantum/operations/job.py
  src/quantum/setup.py
Labels: Quantum
