Repository Azure/azure-cli-extensions, pull requests merged in 2021-01, with the labels that each got.

#2820 [AKS] Create MSI clusters by default
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2818 [AKS] Be able to create AKS with virtual node enabled
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_virtual_node_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2875 [Datadog] Add `datadog terms list` command
  src/datadog/azext_datadog/azext_metadata.json
  src/datadog/azext_datadog/generated/_client_factory.py
  src/datadog/azext_datadog/generated/_help.py
  src/datadog/azext_datadog/generated/commands.py
  src/datadog/azext_datadog/generated/custom.py
  src/datadog/azext_datadog/manual/commands.py
  src/datadog/azext_datadog/tests/latest/recordings/test_datadog.yaml
  src/datadog/azext_datadog/tests/latest/test_datadog_scenario.py
  src/datadog/azext_datadog/vendored_sdks/datadog/_microsoft_datadog_client.py
  src/datadog/azext_datadog/vendored_sdks/datadog/models/__init__.py
  src/datadog/azext_datadog/vendored_sdks/datadog/models/_models.py
  src/datadog/azext_datadog/vendored_sdks/datadog/models/_models_py3.py
  src/datadog/azext_datadog/vendored_sdks/datadog/operations/__init__.py
  src/datadog/azext_datadog/vendored_sdks/datadog/operations/_marketplace_agreements_operations.py
Labels: Data Dog

#2871 [k8sconfiguration] Parameter Validation and Table Formatting
  src/k8sconfiguration/HISTORY.rst
  src/k8sconfiguration/azext_k8sconfiguration/_format.py
  src/k8sconfiguration/azext_k8sconfiguration/_params.py
  src/k8sconfiguration/azext_k8sconfiguration/_validators.py
  src/k8sconfiguration/azext_k8sconfiguration/commands.py
  src/k8sconfiguration/azext_k8sconfiguration/custom.py
  src/k8sconfiguration/azext_k8sconfiguration/tests/latest/recordings/test_k8sconfiguration.yaml
  src/k8sconfiguration/azext_k8sconfiguration/tests/latest/recordings/test_k8sconfiguration_success.yaml
  src/k8sconfiguration/azext_k8sconfiguration/tests/latest/test_kubernetesconfiguration_scenario.py
  src/k8sconfiguration/azext_k8sconfiguration/tests/latest/test_validators.py
  src/k8sconfiguration/setup.py
Labels: Kubernetes Configuration

#2753 [Spring-Cloud] Enable deployment input for az spring-cloud app logs
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_params.py
  src/spring-cloud/azext_spring_cloud/custom.py
Labels: Spring Cloud

#2908 [connectedk8s] Disable auto update of agents
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_help.py
  src/connectedk8s/azext_connectedk8s/_params.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/commands.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes

#2947 [SSH] Change scope so it can be used by both user account and service principal
  src/ssh/azext_ssh/custom.py
Labels: VM SSH
