Repository Azure/azure-cli-extensions, pull requests merged in 2021-04, with the labels that each got.

#3177 [Healthcareapis] Fixing bugs with managed identity and export storage
  src/healthcareapis/.gitignore
  src/healthcareapis/HISTORY.rst
  src/healthcareapis/azext_healthcareapis/manual/custom.py
  src/healthcareapis/setup.py
Labels: customer-reported

#3044 update aks cli extension to include run-command feature
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_run_command.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_run_command.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_02_01/models/__init__.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_02_01/models/_models.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_02_01/models/_models_py3.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_02_01/operations/_managed_clusters_operations.py
  src/aks-preview/setup.py
Labels: AKS

#3220 [Connectedk8s] Adopting the new CLI error types and handling guidelines
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes

#3243 {aks} aks-preview vendor 2021-03-01.
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/__init__.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_loadbalancer.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_appgw_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_subnet_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_addon_with_azurekeyvaultsecretsprovider_with_secret_rotation.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_fqdn_subdomain.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_none_private_dns_zone.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_using_azurecni_with_pod_identity_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ahub.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_auto_upgrade_channel.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_azurekeyvaultsecretsprovider_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_confcom_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_confcom_addon_helper_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ephemeral_disk.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon_with_deprecated_subet_prefix.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_managed_disk.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_node_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_openservicemesh_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_pod_identity_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_virtual_node_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_windows.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_addon_openservicemesh.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_addons_confcom_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_addon_with_azurekeyvaultsecretsprovider.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_addon_with_openservicemesh.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_addons_confcom_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_pod_identity_usage.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_run_command.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_azurekeyvaultsecretsprovider_with_secret_rotation.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_to_msi_cluster.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_to_msi_cluster_with_addons.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_upgrade_node_image_only_cluster.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_upgrade_node_image_only_nodepool.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/container_service_client.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/models.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/__init__.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/_configuration.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/_container_service_client.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/models/__init__.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/models/_container_service_client_enums.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/models/_models.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/models/_models_py3.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/models/_paged_models.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/operations/__init__.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/operations/_agent_pools_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/operations/_maintenance_configurations_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/operations/_managed_clusters_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/operations/_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/operations/_private_endpoint_connections_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/operations/_private_link_resources_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/operations/_resolve_private_link_service_id_operations.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2021_03_01/version.py
  src/aks-preview/setup.py
Labels: AKS

#3226 [Azure Spring Cloud] Fix cannot enable/disable-ssl in redis service binding
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_params.py
  src/spring-cloud/azext_spring_cloud/custom.py
  src/spring-cloud/setup.py
Labels: Spring Cloud

#3231 [SSH] Update config related help for clarity
  src/ssh/azext_ssh/_help.py
Labels: VM SSH

#3249 [AKS] Support use custom kubelet identity
  linter_exclusions.yml
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_custom_kubelet_identity.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#3253 aks: add `--binding-selector` to `pod-identity add` command
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_pod_identity_usage.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#3263 [AKS] Support updating Windows password
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_windows_password.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/service_name.json
Labels: AKS

#3259 [Blueprint] Close #2723: add export feature for blueprint and artifacts
  src/blueprint/HISTORY.rst
  src/blueprint/azext_blueprint/_help.py
  src/blueprint/azext_blueprint/_params.py
  src/blueprint/azext_blueprint/commands.py
  src/blueprint/azext_blueprint/custom.py
  src/blueprint/azext_blueprint/tests/latest/input/export_with_artifacts/input/artifacts/policyStorageTags.json
  src/blueprint/azext_blueprint/tests/latest/input/export_with_artifacts/input/artifacts/policyTags.json
  src/blueprint/azext_blueprint/tests/latest/input/export_with_artifacts/input/artifacts/roleContributor.json
  src/blueprint/azext_blueprint/tests/latest/input/export_with_artifacts/input/artifacts/roleOwner.json
  src/blueprint/azext_blueprint/tests/latest/input/export_with_artifacts/input/blueprint.json
  src/blueprint/azext_blueprint/tests/latest/recordings/test_blueprint_export.yaml
  src/blueprint/azext_blueprint/tests/latest/test_blueprint_scenario.py
  src/blueprint/setup.py
Labels: Blueprint

#3254 Add FIPS support to CLI extension.
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_fips.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, do-not-merge

#3279 [Connectedk8s] Fix for list_node() for AKS v1.19.x
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes

#3286 [SSH] Add public key error message, add docs, v0.1.5 rev
  src/ssh/HISTORY.md
  src/ssh/azext_ssh/_help.py
  src/ssh/azext_ssh/custom.py
  src/ssh/setup.py
Labels: VM SSH
