Repository Azure/azure-cli-extensions, pull requests merged in 2021-07, with the labels that each got.

#3575 Updating the quantum extension to add simulator support
  src/quantum/azext_quantum/commands.py
  src/quantum/azext_quantum/operations/job.py
Labels: customer-reported

#3630 Add `az quantum job cancel` command to CLI extension
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/commands.py
  src/quantum/azext_quantum/operations/job.py
Labels: Quantum

#3645 Improve help on `az quantum commands`.
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/_params.py
Labels: Quantum

#3663 Update version and history info for az quantum extension 0.6.0
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/setup.py
Labels: Quantum

#3216 [Communication] 1.0.0 release
  src/communication/HISTORY.rst
  src/communication/README.md
  src/communication/azext_communication/azext_metadata.json
  src/communication/azext_communication/generated/_client_factory.py
  src/communication/azext_communication/generated/_help.py
  src/communication/azext_communication/generated/_params.py
  src/communication/azext_communication/generated/commands.py
  src/communication/azext_communication/generated/custom.py
  src/communication/azext_communication/manual/_help.py
  src/communication/azext_communication/manual/_params.py
  src/communication/azext_communication/tests/__init__.py
  src/communication/azext_communication/tests/latest/example_steps.py
  src/communication/azext_communication/tests/latest/recordings/test_communication_Scenario.yaml
  src/communication/azext_communication/tests/latest/recordings/test_service_create_and_update.yaml
  src/communication/azext_communication/tests/latest/recordings/test_service_link_to_notification_hub.yaml
  src/communication/azext_communication/tests/latest/recordings/test_service_regenerate_and_link_key.yaml
  src/communication/azext_communication/tests/latest/test_communication_scenario.py
  src/communication/azext_communication/tests/latest/test_communication_scenario_coverage.md
  src/communication/azext_communication/vendored_sdks/communication/__init__.py
  src/communication/azext_communication/vendored_sdks/communication/_communication_service_management_client.py
  src/communication/azext_communication/vendored_sdks/communication/_configuration.py
  src/communication/azext_communication/vendored_sdks/communication/_version.py
  src/communication/azext_communication/vendored_sdks/communication/aio/_communication_service_management_client.py
  src/communication/azext_communication/vendored_sdks/communication/aio/_communication_service_management_client_async.py
  src/communication/azext_communication/vendored_sdks/communication/aio/_configuration.py
  src/communication/azext_communication/vendored_sdks/communication/aio/_configuration_async.py
  src/communication/azext_communication/vendored_sdks/communication/aio/operations/__init__.py
  src/communication/azext_communication/vendored_sdks/communication/aio/operations/_communication_service_operations.py
  src/communication/azext_communication/vendored_sdks/communication/aio/operations/_operation_operations.py
  src/communication/azext_communication/vendored_sdks/communication/aio/operations/_operation_statuses_operations.py
  src/communication/azext_communication/vendored_sdks/communication/aio/operations/_operations.py
  src/communication/azext_communication/vendored_sdks/communication/aio/operations_async/_communication_service_operations_async.py
  src/communication/azext_communication/vendored_sdks/communication/aio/operations_async/_operation_statuses_operations_async.py
  src/communication/azext_communication/vendored_sdks/communication/models/__init__.py
  src/communication/azext_communication/vendored_sdks/communication/models/_communication_service_management_client_enums.py
  src/communication/azext_communication/vendored_sdks/communication/models/_models.py
  src/communication/azext_communication/vendored_sdks/communication/models/_models_py3.py
  src/communication/azext_communication/vendored_sdks/communication/operations/__init__.py
  src/communication/azext_communication/vendored_sdks/communication/operations/_communication_service_operations.py
  src/communication/azext_communication/vendored_sdks/communication/operations/_operation_statuses_operations.py
  src/communication/azext_communication/vendored_sdks/communication/operations/_operations.py
  src/communication/gen.zip
  src/communication/report.md
  src/communication/setup.py
Labels: Communication

#3681 Hotfix 0.6.1 : Using a shorter version of the user agent string
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/azext_quantum/_client_factory.py
  src/quantum/setup.py
Labels: Quantum

#3529 [SerialConsole] Add new extension to support Serial Console
  .github/CODEOWNERS
  src/serial-console/HISTORY.rst
  src/serial-console/README.md
  src/serial-console/azext_serialconsole/__init__.py
  src/serial-console/azext_serialconsole/_client_factory.py
  src/serial-console/azext_serialconsole/_help.py
  src/serial-console/azext_serialconsole/_params.py
  src/serial-console/azext_serialconsole/azext_metadata.json
  src/serial-console/azext_serialconsole/commands.py
  src/serial-console/azext_serialconsole/custom.py
  src/serial-console/azext_serialconsole/tests/__init__.py
  src/serial-console/azext_serialconsole/tests/latest/__init__.py
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_check_resource_VM.yaml
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_check_resource_VMSS.yaml
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_enable_disable.yaml
  src/serial-console/azext_serialconsole/tests/latest/test_serialconsole_scenario.py
  src/serial-console/azext_serialconsole/vendored_sdks/__init__.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/__init__.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/_configuration.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/_microsoft_serial_console_client.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/models/__init__.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/models/_microsoft_serial_console_client_enums.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/models/_models.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/models/_models_py3.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/operations/__init__.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/operations/_microsoft_serial_console_client_operations.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/operations/_serial_ports_operations.py
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/py.typed
  src/serial-console/setup.cfg
  src/serial-console/setup.py
  src/service_name.json
Labels: customer-reported
