Repository Azure/azure-cli-extensions, pull requests merged in 2021-02, with the labels that each got.

#2893 Fix UT for azure spring cloud
  src/spring-cloud/azext_spring_cloud/tests/latest/test_asc_validator.py
Labels: Spring Cloud

#2933 vm-repair : Adding feature for nested vm using hyperv
  src/vm-repair/azext_vm_repair/_params.py
  src/vm-repair/azext_vm_repair/_validators.py
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/azext_vm_repair/exceptions.py
  src/vm-repair/azext_vm_repair/repair_utils.py
  src/vm-repair/azext_vm_repair/scripts/win-enable-nested-hyperv.ps1
  src/vm-repair/setup.py
Labels: AVS, extension/vm-repair

#2932 prompt for legal terms in vmware private-cloud create
  src/vmware/CHANGELOG.md
  src/vmware/DEVELOPMENT.md
  src/vmware/README.md
  src/vmware/azext_vmware/_params.py
  src/vmware/azext_vmware/custom.py
  src/vmware/azext_vmware/tests/latest/recordings/test_vmware.yaml
  src/vmware/azext_vmware/tests/latest/test_vmware_scenario.py
  src/vmware/setup.py
Labels: AVS

#2964 [AKS]Assign required permission for virtual-node MSI
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#2998 add az vmware datastore command group
  src/vmware/CHANGELOG.md
  src/vmware/DEVELOPMENT.md
  src/vmware/azext_vmware/_help.py
  src/vmware/azext_vmware/_params.py
  src/vmware/azext_vmware/commands.py
  src/vmware/azext_vmware/custom.py
  src/vmware/azext_vmware/tests/latest/recordings/test_vmware_datastores.yaml
  src/vmware/azext_vmware/tests/latest/test_datastores_scenario.py
Labels: AVS

#3036 [azure-cli-ml] Update to version 1.23.0
  src/index.json
Labels: Machine Learning

#2968 Adding autoupgrader node-image channel
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS

#3057 Add support for node public IP prefix ID
  linter_exclusions.yml
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS
