Repository Azure/azure-cli-extensions, pull requests merged in 2021-03, with the labels that each got.

#3060 Bug fixes for Az Quantum CLI extension
  src/quantum/azext_quantum/commands.py
Labels: Quantum

#2687 [ResourceMover] Initial release
  .github/CODEOWNERS
  src/resource-mover/HISTORY.rst
  src/resource-mover/README.md
  src/resource-mover/azext_resource_mover/__init__.py
  src/resource-mover/azext_resource_mover/action.py
  src/resource-mover/azext_resource_mover/azext_metadata.json
  src/resource-mover/azext_resource_mover/custom.py
  src/resource-mover/azext_resource_mover/generated/__init__.py
  src/resource-mover/azext_resource_mover/generated/_client_factory.py
  src/resource-mover/azext_resource_mover/generated/_help.py
  src/resource-mover/azext_resource_mover/generated/_params.py
  src/resource-mover/azext_resource_mover/generated/_validators.py
  src/resource-mover/azext_resource_mover/generated/action.py
  src/resource-mover/azext_resource_mover/generated/commands.py
  src/resource-mover/azext_resource_mover/generated/custom.py
  src/resource-mover/azext_resource_mover/manual/__init__.py
  src/resource-mover/azext_resource_mover/manual/_exception_handler.py
  src/resource-mover/azext_resource_mover/manual/_help.py
  src/resource-mover/azext_resource_mover/manual/_params.py
  src/resource-mover/azext_resource_mover/manual/commands.py
  src/resource-mover/azext_resource_mover/manual/custom.py
  src/resource-mover/azext_resource_mover/tests/latest/recordings/test_resourcemover_movecollection_basic.yaml
  src/resource-mover/azext_resource_mover/tests/latest/recordings/test_resourcemover_movecollection_e2e.yaml
  src/resource-mover/azext_resource_mover/tests/latest/recordings/test_resourcemover_moveresource_basic.yaml
  src/resource-mover/azext_resource_mover/tests/latest/test_resourcemover_scenarios.py
  src/resource-mover/azext_resource_mover/vendored_sdks/__init__.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/__init__.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/_configuration.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/_resource_mover_service_api.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/_version.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/aio/__init__.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/aio/_configuration.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/aio/_resource_mover_service_api.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/aio/operations/__init__.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/aio/operations/_move_collections_operations.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/aio/operations/_move_resources_operations.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/aio/operations/_operations_discovery_operations.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/aio/operations/_unresolved_dependencies_operations.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/models/__init__.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/models/_models.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/models/_models_py3.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/models/_resource_mover_service_api_enums.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/operations/__init__.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/operations/_move_collections_operations.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/operations/_move_resources_operations.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/operations/_operations_discovery_operations.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/operations/_unresolved_dependencies_operations.py
  src/resource-mover/azext_resource_mover/vendored_sdks/resourcemover/py.typed
  src/resource-mover/report.md
  src/resource-mover/setup.cfg
  src/resource-mover/setup.py
Labels: Migrate

#3049 AKS: add --fqdn-subdomain for private cluster with custom private dns zone
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_fqdn_subdomain.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS

#2972 Add a parameter '--assign-endpoint' and deprecate the parameter '--is-public'
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_help.py
  src/spring-cloud/azext_spring_cloud/_params.py
  src/spring-cloud/azext_spring_cloud/custom.py
  src/spring-cloud/setup.py
Labels: Spring Cloud

#3067 Quantum: Add 'az quantum offerings' commands for provider settings
  src/quantum/azext_quantum/_client_factory.py
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/_validators.py
  src/quantum/azext_quantum/commands.py
  src/quantum/azext_quantum/operations/offerings.py
Labels: Quantum

#3050 Add Operations for Maintenance Configuration
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/maintenanceconfiguration.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/container_service_client.py
  src/aks-preview/setup.py
Labels: AKS

#2960 Add bring your own route table support
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_validators.py
  src/spring-cloud/azext_spring_cloud/tests/latest/test_asc_validator.py
  src/spring-cloud/setup.py
Labels: Spring Cloud

#3070 Quantum: Add list of providers/skus as a parameter to 'az quantum workspace create'
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/operations/workspace.py
Labels: Quantum

#3033 aks-preview: add azure-keyvault-secrets-provider as an aks addon
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_addon_with_azurekeyvaultsecretsprovider_with_secret_rotation.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_azurekeyvaultsecretsprovider_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_addon_with_azurekeyvaultsecretsprovider.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_azurekeyvaultsecretsprovider_with_secret_rotation.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS

#3079 [New Extension] Adding Support for Arc Appliance CLI Extension
  src/index.json
Labels: do-not-merge

#3058 Update version and history info for 'az quantum' extension
  src/quantum/HISTORY.rst
  src/quantum/setup.py
Labels: Quantum

#3123 [Spring Cloud] fix check active deployment
  src/spring-cloud/azext_spring_cloud/commands.py
  src/spring-cloud/azext_spring_cloud/custom.py
  src/spring-cloud/setup.cfg
Labels: Spring Cloud

#3128 vm-repair : Using run command to enable nested vm
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/setup.py
Labels: extension/vm-repair

#3041 [Notification-hub] etc remove experimental tag
  src/attestation/azext_attestation/azext_metadata.json
  src/notification-hub/azext_notification_hub/azext_metadata.json
  src/securityinsight/azext_sentinel/azext_metadata.json
  src/securityinsight/azext_sentinel/tests/latest/recordings/test_sentinel.yaml
  src/securityinsight/azext_sentinel/tests/latest/test_sentinel_scenario.py
  src/securityinsight/azext_sentinel/tests/latest/test_sentinel_scenario_coverage.md
Labels: Notification Hub

#3159 aks-preview: support specifying custom http headers in aks upgrade
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS

#3149 [AKS] Fix error that msi client always get managed identity in ctx's sub
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS

#3173 Azure Quantum: Fix incorrect region usage when submitting job to a workspace
  src/quantum/azext_quantum/operations/job.py
Labels: Quantum

#3165 Requiring the list of providers as argument on workspace creation
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/operations/workspace.py
  src/quantum/azext_quantum/tests/latest/recordings/test_jobs.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_targets.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace.yaml
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
  src/quantum/azext_quantum/tests/latest/utils.py
Labels: Quantum

#3001 [Connectedk8s] Upstream Merge for preview features
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_client_factory.py
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_help.py
  src/connectedk8s/azext_connectedk8s/_params.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/azext_metadata.json
  src/connectedk8s/azext_connectedk8s/commands.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/connected_kubernetes_client.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/azure_entity_resource.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/azure_entity_resource_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/connected_cluster.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/connected_cluster_identity.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/connected_cluster_identity_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/connected_cluster_paged.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/connected_cluster_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/connected_cluster_patch_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/connected_cluster_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/connected_kubernetes_client_enums.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/credential_result.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/credential_result_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/credential_results.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/credential_results_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/error_additional_info.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/error_additional_info_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/error_detail.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/error_detail_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/error_response.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/error_response_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/hybrid_connection_config.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/hybrid_connection_config_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/list_cluster_user_credentials_properties.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/list_cluster_user_credentials_properties_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/operation.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/operation_display.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/operation_display_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/operation_paged.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/operation_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/proxy_resource.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/proxy_resource_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/resource.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/resource_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/system_data.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/system_data_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/tracked_resource.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/models/tracked_resource_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/operations/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/operations/connected_cluster_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/operations/operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2021_04_01/version.py
  src/connectedk8s/setup.cfg
  src/connectedk8s/setup.py
Labels: Connected Kubernetes

#3175 AKS: remove preview description for private dns zone and fqdnsubdomain features
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_addon_with_azurekeyvaultsecretsprovider_with_secret_rotation.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_fqdn_subdomain.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_none_private_dns_zone.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_using_azurecni_with_pod_identity_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ahub.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_auto_upgrade_channel.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_azurekeyvaultsecretsprovider_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_pod_identity_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_virtual_node_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_windows.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_addon_with_azurekeyvaultsecretsprovider.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_pod_identity_usage.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_azurekeyvaultsecretsprovider_with_secret_rotation.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_to_msi_cluster.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_to_msi_cluster_with_addons.yaml
Labels: AKS

#3164 [k8s-extension] Release Public Preview Version v0.2.0
  .github/CODEOWNERS
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/README.rst
  src/k8s-extension/azext_k8s_extension/__init__.py
  src/k8s-extension/azext_k8s_extension/_client_factory.py
  src/k8s-extension/azext_k8s_extension/_consts.py
  src/k8s-extension/azext_k8s_extension/_format.py
  src/k8s-extension/azext_k8s_extension/_help.py
  src/k8s-extension/azext_k8s_extension/_params.py
  src/k8s-extension/azext_k8s_extension/action.py
  src/k8s-extension/azext_k8s_extension/azext_metadata.json
  src/k8s-extension/azext_k8s_extension/commands.py
  src/k8s-extension/azext_k8s_extension/custom.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureDefender.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/Cassandra.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/ContainerInsights.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/DefaultExtension.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/PartnerExtensionModel.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/__init__.py
  src/k8s-extension/azext_k8s_extension/tests/__init__.py
  src/k8s-extension/azext_k8s_extension/tests/latest/__init__.py
  src/k8s-extension/azext_k8s_extension/tests/latest/recordings/test_k8s_extension.yaml
  src/k8s-extension/azext_k8s_extension/tests/latest/test_k8s_extension_scenario.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/__init__.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/_configuration.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/_source_control_configuration_client.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/models/__init__.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/models/_models.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/models/_models_py3.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/models/_paged_models.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/models/_source_control_configuration_client_enums.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/operations/__init__.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/operations/_extensions_operations.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/operations/_operations.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/operations/_source_control_configurations_operations.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/version.py
  src/k8s-extension/setup.py
Labels: Kubernetes Configuration

#3153 Alar2 modifications
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/azext_vm_repair/repair_utils.py
  src/vm-repair/azext_vm_repair/scripts/linux-build_setup-cloud-init.txt
Labels: extension/vm-repair
