Repository Azure/azure-cli-extensions, pull requests merged in 2022-03, with the labels that each got.

#4484 Update version and history info for 'az quantum' extension 0.13.0
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/setup.py
Labels: Quantum

#4501 chore(arcdata): arcdata version bump to 1.2.3
  src/index.json
Labels: Auto Assign

#4502 Revert "chore(arcdata): arcdata version bump to 1.2.3"
  src/index.json
Labels: Auto Assign

#4503 chore(arcdata): arcdata version bump to 1.2.3
  src/index.json
Labels: do-not-merge, Auto Assign, ReadyForReview

#4494 [appservice-kube] Make compatible with new SDK
  src/appservice-kube/HISTORY.rst
  src/appservice-kube/azext_appservice_kube/_constants.py
  src/appservice-kube/azext_appservice_kube/_create_util.py
  src/appservice-kube/azext_appservice_kube/_help.py
  src/appservice-kube/azext_appservice_kube/_params.py
  src/appservice-kube/azext_appservice_kube/azext_metadata.json
  src/appservice-kube/azext_appservice_kube/commands.py
  src/appservice-kube/azext_appservice_kube/custom.py
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_linux_webapp_quick_create_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_webapp_e2e_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_webapp_elastic_scale_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_webapp_elastic_scale_min_elastic_instance_count_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_webapp_elastic_scale_prewarmed_instance_count_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_win_webapp_quick_create_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_win_webapp_quick_create_runtime_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/test_appservice_kube_scenario.py
  src/appservice-kube/setup.py
Labels: App Services, Auto Assign

#4499 CosmosDB Adding enable MaterializedViews parameter for create/update database …
  src/cosmosdb-preview/HISTORY.rst
  src/cosmosdb-preview/README.md
  src/cosmosdb-preview/azext_cosmosdb_preview/_help.py
  src/cosmosdb-preview/azext_cosmosdb_preview/_params.py
  src/cosmosdb-preview/azext_cosmosdb_preview/custom.py
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongo_role.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/_metadata.json
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/_version.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/code-model-v1
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/py.typed
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/version.py
  src/cosmosdb-preview/setup.py
Labels: Cosmos, Auto Assign

#4506 {AKS} Fix several test cases
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon_with_deprecated_subet_prefix.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_update_taints_msi.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
Labels: AKS, Auto Assign

#4474 SSH Extension v.1.0.1
  src/ssh/HISTORY.md
  src/ssh/azext_ssh/_params.py
  src/ssh/azext_ssh/azext_metadata.json
  src/ssh/azext_ssh/custom.py
  src/ssh/azext_ssh/file_utils.py
  src/ssh/azext_ssh/ssh_info.py
  src/ssh/azext_ssh/ssh_utils.py
  src/ssh/azext_ssh/tests/latest/test_custom.py
  src/ssh/azext_ssh/tests/latest/test_ssh_info.py
  src/ssh/azext_ssh/tests/latest/test_ssh_utils.py
  src/ssh/setup.py
Labels: VM SSH, Auto Assign

#4517 [SSH] Bug Fix: Using Private IP when --prefer-private-ip is not provided fails
  src/ssh/azext_ssh/ip_utils.py
Labels: VM SSH, Auto Assign

#4469 add aks update support for http proxy
  scripts/ci/credscan/CredScanSuppressions.json
  src/aks-preview/HISTORY.md
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/data/README.md
  src/aks-preview/azext_aks_preview/tests/latest/data/httpproxyconfig.json
  src/aks-preview/azext_aks_preview/tests/latest/data/httpproxyconfig_update.json
  src/aks-preview/azext_aks_preview/tests/latest/data/setup_proxy.sh
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto Assign

#4498 [storage-preview] `az storage account create/update`: Support `--key-vault-federated-identity-client-id` and `--allowed-copy-scope`
  src/storage-preview/HISTORY.rst
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/operations/account.py
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_account_file_delete_retention_policy.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_account_file_smb_multichannel.yaml
  src/storage-preview/setup.py
Labels: Account, Storage, Auto-Assign

#4518 [appservice-kube] `az webapp create`: Fix TypeError: 'NoneType' object is not subscriptable
  src/appservice-kube/HISTORY.rst
  src/appservice-kube/azext_appservice_kube/custom.py
  src/appservice-kube/setup.py
Labels: App Services, Auto-Assign

#4541 DataMigration: Fixing typo in Performance Data collection command
  src/datamigration/azext_datamigration/manual/_help.py
  src/datamigration/azext_datamigration/manual/_params.py
  src/datamigration/azext_datamigration/manual/custom.py
Labels: Data Migration, Auto-Assign

#4463 [Quantum] Output error information in table when Quantum job fails
  src/quantum/azext_quantum/commands.py
  src/quantum/azext_quantum/operations/job.py
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
Labels: Quantum

#4516 Release 0.24.0
  src/index.json
Labels: customer-reported

#4524 [Quantum] Handle more storage types during workspace creation
  src/quantum/azext_quantum/operations/templates/create-workspace-and-assign-role.json
  src/quantum/azext_quantum/operations/workspace.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
  src/quantum/azext_quantum/tests/latest/utils.py
Labels: Quantum

#4521 [storage-preview] Fix#20346: `az storage azcopy blob sync`: Add link to docs in `--help`
  src/storage-preview/azext_storage_preview/_help.py
Labels: customer-reported

#4547 Add support for enabling Azure KeyVault KMS in aks-preview
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4557 {AKS} Update owners of aks-preview
  .github/CODEOWNERS
Labels: AKS, Auto-Assign

#4560 {AKS} Fix validation for kms options
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
Labels: AKS, Auto-Assign

#4573 [aks-preview] make sure securityProfile.azureKeyVaultKms doesn't exist in kms test case
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#4586 [IoT] IoT Extension Release v0.14.0
  src/index.json
Labels: IoT/CLI, Auto-Assign

#4567 Version Change 25
  src/index.json
Labels: customer-reported

#4571 Update version and history info for 'az quantum' extension 0.14.0
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/setup.py
Labels: Quantum, Auto-Assign

#4582 {AKS} Filter out monitor related cases for cli runner
  src/aks-preview/azcli_aks_live_test/configs/cli_matrix_default.json
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
Labels: AKS, Monitor, Auto-Assign

#4598 [Spring-cloud] Add support for AppMSI
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_app_factory.py
  src/spring-cloud/azext_spring_cloud/_app_managed_identity_validator.py
  src/spring-cloud/azext_spring_cloud/_client_factory.py
  src/spring-cloud/azext_spring_cloud/_clierror.py
  src/spring-cloud/azext_spring_cloud/_help.py
  src/spring-cloud/azext_spring_cloud/_params.py
  src/spring-cloud/azext_spring_cloud/app.py
  src/spring-cloud/azext_spring_cloud/app_managed_identity.py
  src/spring-cloud/azext_spring_cloud/commands.py
  src/spring-cloud/azext_spring_cloud/custom.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/__init__.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/recordings/test_app_identity_crud.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/recordings/test_app_identity_force_set.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/recordings/test_create_app_with_assign_identity.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/recordings/test_create_app_with_both_identity.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/recordings/test_create_app_with_system_assigned.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/recordings/test_create_app_with_user_identity.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_app_managed_identity_force_set_scenario.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_app_managed_identity_force_set_validator.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_app_managed_identity_remove.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_app_managed_identity_scenario.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_app_managed_identity_validator.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_create_app_with_both_identity_scenario.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_create_app_with_managed_identity_validator.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_create_app_with_system_identity_scenario.py
  src/spring-cloud/azext_spring_cloud/tests/latest/app_managed_identity/test_create_app_with_user_identity_scenario.py
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_app_crud.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_app_crud_1.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_app_deploy_container.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_app_i2a_tls.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_bind_cert_to_domain.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_blue_green_deployment.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_deploy_app.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_load_public_cert_to_app.yaml
  src/spring-cloud/azext_spring_cloud/tests/latest/test_asc_app_scenario.py
  src/spring-cloud/setup.py
Labels: do-not-merge, Spring Cloud, Auto-Assign
