Repository Azure/azure-cli-extensions, pull requests merged in 2022-06, with the labels that each got.

#4868 [AKS] Prompt when disabling CSI Drivers
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_csi_drivers_extensibility.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_csi_driver_v2.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_standard_csi_drivers.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4904 Use remote Kustomize base for deploying AKS Periscope
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/deploymentyaml/__init__.py
  src/aks-preview/azext_aks_preview/deploymentyaml/aks-periscope.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4911 [Web PubSub] Allow newer versions of websockets
  src/webpubsub/setup.py
Labels: customer-reported

#4919 {AKS} Fix several tests
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_csi_driver_to_v2.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_csi_drivers_extensibility.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_standard_csi_drivers.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#4711 containerapp-compose extension with support for compose files
  .github/CODEOWNERS
  scripts/ci/credscan/CredScanSuppressions.json
  src/containerapp-compose/HISTORY.rst
  src/containerapp-compose/README.rst
  src/containerapp-compose/azext_containerapp_compose/__init__.py
  src/containerapp-compose/azext_containerapp_compose/_help.py
  src/containerapp-compose/azext_containerapp_compose/_monkey_patch.py
  src/containerapp-compose/azext_containerapp_compose/_params.py
  src/containerapp-compose/azext_containerapp_compose/_validators.py
  src/containerapp-compose/azext_containerapp_compose/azext_metadata.json
  src/containerapp-compose/azext_containerapp_compose/commands.py
  src/containerapp-compose/azext_containerapp_compose/custom.py
  src/containerapp-compose/azext_containerapp_compose/tests/__init__.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/__init__.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/common.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_basic_no_existing_resources.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_environment.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_environment_prompt.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_ingress_both.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_ingress_external.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_ingress_internal.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_ingress_prompt.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_registry_all_args.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_registry_server_arg_only.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_replicas_global_scale.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_replicas_replicated_mode.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_both_cpus_and_deploy_cpu.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_deploy_cpu.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_service_cpus.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_secrets.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_secrets_and_existing_environment.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_secrets_and_existing_environment_conflict.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_transport_arg.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_with_command_list.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_with_command_list_and_entrypoint.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_with_command_string.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_basic.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_command.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_environment.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_ingress.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_registries.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_resources.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_scale.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_secrets.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_transport_overrides.py
  src/containerapp-compose/setup.cfg
  src/containerapp-compose/setup.py
Labels: Auto-Assign, ContainerApp

#4879 Containerapp 0.3.6 release
  scripts/ci/credscan/CredScanSuppressions.json
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_revision_label_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#4970 {AKS} `az aks nodepool add`: Fix the value of option `--zones` not being transmitted correctly
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_availability_zones.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4964 {AKS} `az aks get-credentials`: Fix permission prompt when saving config file to symlink
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS, Auto-Assign

#4973 {AKS} Update v2 managed cluster decorator - part 1
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#4982 {AKS} Update v2 managed cluster decorator - part 2
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_availability_zones.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#4978 chore(arcdata): version bump to 1.4.2
  linter_exclusions.yml
  src/index.json
Labels: Auto-Assign

#4971 [monitor] Fix: #22718 `az monitor scheduled-query create` incorrect column reference in the example
  src/scheduled-query/azext_scheduled_query/_help.py
  src/scheduled-query/azext_scheduled_query/tests/latest/recordings/test_scheduled_query.yaml
Labels: Monitor, Auto-Assign

#4989 {AKS} Update v2 managed cluster decorator - part 3
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon_with_deprecated_subet_prefix.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#4987 {CI} Migrate fabric bot from portal to config-as-code
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5006 {AKS} Update v2 managed cluster decorator - part 4
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#4933 Move AKS diagnostics commands to their own folder
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/aks_diagnostics.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_diagnostics.py
  src/aks-preview/azext_aks_preview/tests/latest/test_helpers.py
Labels: AKS, Auto-Assign

#5004 ML extension release 2.5.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5020 {containerapp} Fixed logs-workspace-id description
  src/containerapp/azext_containerapp/_params.py
Labels: Auto-Assign, ContainerApp

#5021 {AKS} Remove deprecated code
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_podidentity.py
  src/aks-preview/azext_aks_preview/_resourcegroup.py
  src/aks-preview/azext_aks_preview/_roleassignments.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_diagnostics.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_loadbalancer.py
  src/aks-preview/azext_aks_preview/tests/latest/test_natgateway.py
  src/aks-preview/azext_aks_preview/tests/latest/test_pod_identity_helpers.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/azext_aks_preview/tests/latest/utils.py
Labels: AKS, Auto-Assign

#4935 [Spring App] Support OpenAPI URI in spring cloud gateway route config
  src/spring/HISTORY.md
  src/spring/azext_spring/commands.py
  src/spring/azext_spring/gateway.py
  src/spring/azext_spring/tests/latest/recordings/test_gateway.yaml
  src/spring/setup.py
Labels: do-not-merge

#5028 {AKS} Fix KMS properties missing in update scenario
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5032 [network] Fix #3986: Fix the error without ip protocols when adding nat collection to firewall policy
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_management_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy_intrusion_detection.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy_rules_with_fqdns.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy_rules_with_ip_groups.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy_update_premiumonlyproperty_issue.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy_with_sql.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_policy_with_threat_intel_allowlist.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_rules.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_rules_with_ipgroups.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_threat_intel_allowlist.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_tier.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_virtual_hub.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_virtual_hub_with_public_ips.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy_premium.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_zones.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_policy_with_dns_settings.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_with_dns_proxy.yaml
Labels: Network, Auto-Assign

#5017 fix no attribute 'gigabytes' error
  src/containerapp-compose/azext_containerapp_compose/custom.py
Labels: customer-reported, Auto-Assign, ContainerApp

#5036 {AKS} Release aks-preview 0.5.85
  src/aks-preview/HISTORY.rst
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4855 {AKS} add `networkPluginMode` support
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4736 [Quantum] Add target-capability parameter
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/operations/job.py
  src/quantum/azext_quantum/tests/latest/source_for_build_test/NuGet.config
  src/quantum/azext_quantum/tests/latest/source_for_build_test/Program.qs
  src/quantum/azext_quantum/tests/latest/source_for_build_test/QuantumRNG.csproj
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
Labels: Quantum, Auto-Assign

#5043 [Quantum] Shorten long workspace name in test
  src/quantum/azext_quantum/tests/latest/utils.py
Labels: Quantum, Auto-Assign

#5044 {quantum} add clear in NuGet.config
  src/quantum/azext_quantum/tests/latest/source_for_build_test/NuGet.config
Labels: Quantum, Auto-Assign

#5046 [Quantum] Delete NuGet.config
  src/quantum/azext_quantum/tests/latest/source_for_build_test/NuGet.config
  src/quantum/azext_quantum/tests/latest/source_for_build_test/QuantumRNG.csproj
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
Labels: Quantum, Auto-Assign

#5055 [Quantum] Update QDK version in test .csproj file
  src/quantum/azext_quantum/tests/latest/source_for_build_test/QuantumRNG.csproj
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
Labels: Quantum, Auto-Assign

#5035 Extending basic build support
  src/containerapp-compose/HISTORY.rst
  src/containerapp-compose/azext_containerapp_compose/_monkey_patch.py
  src/containerapp-compose/azext_containerapp_compose/custom.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/common.py
  src/containerapp-compose/setup.py
Labels: Auto-Assign, ContainerApp

#5061 [IoT] IoT Extension Release v0.15.0
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5057 [Quantum] Update version and history info for az quantum extension 0.16.0
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/setup.py
Labels: Quantum, Auto-Assign
