Repository Azure/azure-cli-extensions, pull requests merged in 2022-04, with the labels that each got.

#4621 [Spring-cloud] Upgrade min version requirement of azure cli for spring-cloud
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/azext_metadata.json
  src/spring-cloud/setup.py
Labels: Spring Cloud, Auto-Assign

#4623 [Spring-cloud] Remove 3.1.0 of Spring-Cloud extension from index.json
  src/index.json
Labels: Spring Cloud, Auto-Assign

#4624 Add az ml version 2.2.1
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#4626 [Spring-cloud] Find min version requirement of Azure CLI
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/azext_metadata.json
  src/spring-cloud/setup.py
Labels: Spring Cloud, Auto-Assign

#4637 {CI} Fix tests not belonging to the changed extension are running
  azure-pipelines.yml
  scripts/ci/test_source.py
Labels: CI, Auto-Assign

#4627 chore(arcdata): arcdata version bump to 1.3.0
  src/index.json
Labels: Auto-Assign

#4644 {CI} Update pipeline to use Python 3.10
  azure-pipelines.yml
Labels: CI, Auto-Assign

#4638 {AKS} Keep aad profile in PUT request of ManagedCluster
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4643 [k8s-configuration] Bump `pycryptodome` to support Python 3.10
  src/k8s-configuration/HISTORY.rst
  src/k8s-configuration/setup.py
Labels: Connected Kubernetes, Auto-Assign

#4671 Azure ML CLI v2 extension patch release 2.2.2
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#4632 [Quantum] Output job progress messages with Knack logger
  src/quantum/azext_quantum/operations/job.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
Labels: Quantum, Auto-Assign

#4635 [Monitor] Fix #4591: `az monitor app-insights query` application could not be found
  src/application-insights/HISTORY.rst
  src/application-insights/azext_applicationinsights/_client_factory.py
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component_continues_export.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_connect_function.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_connect_webapp.yaml
  src/application-insights/setup.py
Labels: Monitor, Monitor - ApplicationInsights, Auto-Assign

#4666 chore(arcdata): arcdata version bump to 1.3.1
  src/index.json
Labels: Auto-Assign

#4616 [Quantum] `az quantum job wait`: Convert max_poll_wait_secs to float
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/operations/job.py
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
Labels: Quantum, Auto-Assign

#4683 [Quantum] `az quantum workspace create`: Increase workspace creation timeout
  src/quantum/azext_quantum/operations/workspace.py
Labels: Quantum, Auto-Assign

#4633 Update service_name.json
  src/service_name.json
Labels: customer-reported

#4564 [AKS] Support specify format when requesting clusterUser credential
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4688 [Sentinel] Rebrand the terms in help for Sentinel
  src/securityinsight/HISTORY.rst
  src/securityinsight/azext_sentinel/manual/_help.py
  src/securityinsight/azext_sentinel/tests/latest/recordings/test_sentinel.yaml
  src/securityinsight/setup.py
Labels: sentinel

#4692 [k8s-extension] Release v1.2.0 with Monitoring, AzureML and OSM Updates
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureMLKubernetes.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/ContainerInsights.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/OpenServiceMesh.py
  src/k8s-extension/azext_k8s_extension/tests/latest/test_open_service_mesh.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#4685 [AKS] Implement workload identity support
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_workload_identity_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_workload_identity.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4689 ContainerApps 04/19 Release
  .github/CODEOWNERS
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#4704 update setup.py for aks-extension
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4603 [Quantum] Expand help and error messages about Provider/SKU format
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/commands.py
  src/quantum/azext_quantum/operations/workspace.py
Labels: Quantum, Auto-Assign

#4657 [Quantum] Add "Microsoft.AzureQuantum-" prefix to deployment name
  src/quantum/azext_quantum/operations/workspace.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
  src/quantum/azext_quantum/tests/latest/utils.py
Labels: Quantum, Auto-Assign

#4695 [storage-blob-preview] Update yaml files
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_blob_list_scenarios.yaml
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_blob_tags_scenario.yaml
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_blob_upload_scenarios.yaml
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_blob_versioning.yaml
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_blob_vlm.yaml
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_container_list_scenarios.yaml
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_container_soft_delete_oauth.yaml
  src/storage-blob-preview/azext_storage_blob_preview/tests/latest/recordings/test_storage_container_soft_delete_scenarios.yaml
Labels: customer-reported, Storage, Auto-Assign

#4486 Added distro selection feature
  src/vm-repair/HISTORY.rst
  src/vm-repair/azext_vm_repair/_help.py
  src/vm-repair/azext_vm_repair/_params.py
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/azext_vm_repair/exceptions.py
  src/vm-repair/azext_vm_repair/repair_utils.py
  src/vm-repair/azext_vm_repair/scripts/linux-build_setup-cloud-init.txt
  src/vm-repair/azext_vm_repair/scripts/linux-mount-encrypted-disk.sh
  src/vm-repair/azext_vm_repair/tests/latest/test_repair_commands.py
  src/vm-repair/setup.py
Labels: customer-reported

#4710 Support for python 3.10 in ML extension
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#4713 [Quantum] Accommodate changed version check behavior
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
Labels: Quantum, Auto-Assign

#4716 [Monitor Control Service] Update Data Collection Rules
  src/monitor-control-service/HISTORY.rst
  src/monitor-control-service/azext_amcs/generated/_help.py
  src/monitor-control-service/azext_amcs/generated/_params.py
  src/monitor-control-service/azext_amcs/generated/custom.py
  src/monitor-control-service/azext_amcs/manual/_help.py
  src/monitor-control-service/azext_amcs/manual/_params.py
  src/monitor-control-service/azext_amcs/manual/custom.py
  src/monitor-control-service/azext_amcs/tests/__init__.py
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_endpoint.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_rule.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_monitor_control_service_Scenario.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_monitor_control_service_commands.yaml
  src/monitor-control-service/azext_amcs/tests/latest/rule_files/rule_file.json
  src/monitor-control-service/azext_amcs/tests/latest/test_monitor_control_service_scenario.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/_configuration.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/_monitor_client.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/_version.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/aio/_configuration.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/aio/_monitor_client.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/aio/operations/_data_collection_endpoints_operations.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/aio/operations/_data_collection_rule_associations_operations.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/aio/operations/_data_collection_rules_operations.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/models/__init__.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/models/_models.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/models/_models_py3.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/models/_monitor_client_enums.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/operations/_data_collection_endpoints_operations.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/operations/_data_collection_rule_association_operations.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/operations/_data_collection_rule_associations_operations.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/operations/_data_collection_rule_operations.py
  src/monitor-control-service/azext_amcs/vendored_sdks/amcs/operations/_data_collection_rules_operations.py
  src/monitor-control-service/gen.zip
  src/monitor-control-service/report.md
  src/monitor-control-service/setup.py
Labels: Monitor, Auto-Assign

#4709 [Spring Cloud]fix api portal sso clear and acs update
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/api_portal.py
  src/spring-cloud/azext_spring_cloud/application_configuration_service.py
  src/spring-cloud/azext_spring_cloud/tests/latest/recordings/test_persistent_storage.yaml
  src/spring-cloud/setup.py
Labels: Auto-Assign

#4725 [Quantum] Update version and history info for az quantum extension 0.15.0
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/setup.py
Labels: Quantum, Auto-Assign

#4733 {AKS} Fix test with custom header and sort out parameter declaration
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#4703 [Account] `az account alias`: GA release
  src/account/HISTORY.rst
  src/account/azext_account/azext_metadata.json
  src/account/azext_account/generated/commands.py
  src/account/setup.py
Labels: Account, Auto-Assign

#4741 [Dataprotection] Add resourcegraph in vendored SDK folder
  src/dataprotection/azext_dataprotection/manual/_client_factory.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/__init__.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/_configuration.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/_resource_graph_client.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/_version.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/aio/__init__.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/aio/_configuration.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/aio/_resource_graph_client.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/aio/operations/__init__.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/aio/operations/_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/aio/operations/_resource_graph_client_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/models/__init__.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/models/_models.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/models/_models_py3.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/models/_resource_graph_client_enums.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/operations/__init__.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/operations/_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/resourcegraph/operations/_resource_graph_client_operations.py
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#4745 Added version 2.3.1 for ML extension
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign
