Repository Azure/azure-cli-extensions, pull requests merged in 2022-09, with the labels that each got.

#5298 {AKS} Update recordings to fix network API upgrade
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_appgw_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_byo_subnet_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_outbound_ips.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_virtual_node_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_add_with_ossku_windows2022.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5295 {AKS} support image cleaner in public preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5239 AKS: support apiserver-vnet-integration for public cluster
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_apiserver_vnet_integration_public.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5302 {AKS} Update release history
  src/aks-preview/HISTORY.rst
Labels: AKS, Auto-Assign

#5263 [Traffic Connector] Add `az network-function traffic-collector` CLI
  .github/CODEOWNERS
  src/service_name.json
  src/traffic-collector/HISTORY.rst
  src/traffic-collector/README.md
  src/traffic-collector/azext_traffic_collector/__init__.py
  src/traffic-collector/azext_traffic_collector/_help.py
  src/traffic-collector/azext_traffic_collector/_params.py
  src/traffic-collector/azext_traffic_collector/aaz/__init__.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/__init__.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/__cmd_group.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/__init__.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/__cmd_group.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/__init__.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_create.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_delete.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_list.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_show.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_update.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_wait.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/__cmd_group.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/__init__.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_create.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_delete.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_list.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_show.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_update.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_wait.py
  src/traffic-collector/azext_traffic_collector/azext_metadata.json
  src/traffic-collector/azext_traffic_collector/commands.py
  src/traffic-collector/azext_traffic_collector/custom.py
  src/traffic-collector/azext_traffic_collector/tests/__init__.py
  src/traffic-collector/azext_traffic_collector/tests/latest/__init__.py
  src/traffic-collector/azext_traffic_collector/tests/latest/recordings/test_azure_traffic_scenario.yaml
  src/traffic-collector/azext_traffic_collector/tests/latest/test_traffic_collector.py
  src/traffic-collector/setup.cfg
  src/traffic-collector/setup.py
Labels: customer-reported, Network, Auto-Assign

#5314 [Dataprotection] Onboard Custom Tags for Backup Instances
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/generated/_help.py
  src/dataprotection/azext_dataprotection/generated/_params.py
  src/dataprotection/azext_dataprotection/generated/custom.py
  src/dataprotection/azext_dataprotection/manual/_params.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/manual/tests/latest/test_dataprotection_scenario.py
  src/dataprotection/azext_dataprotection/tests/latest/example_steps.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_Scenario.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_oss.yaml
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_oss_workload.py
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_scenario.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/_configuration.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/_configuration.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_backup_instances_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_backup_policies_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_backup_vault_operation_results_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_backup_vaults_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_data_protection_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_data_protection_operations_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_export_jobs_operation_result_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_export_jobs_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_jobs_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_operation_result_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_operation_status_backup_vault_context_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_operation_status_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_operation_status_resource_group_context_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_recovery_points_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_resource_guards_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_restorable_time_ranges_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/models/__init__.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/models/_data_protection_client_enums.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/models/_models.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/models/_models_py3.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_backup_instances_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_backup_policies_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_backup_vault_operation_results_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_backup_vaults_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_data_protection_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_data_protection_operations_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_export_jobs_operation_result_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_export_jobs_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_jobs_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_operation_result_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_operation_status_backup_vault_context_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_operation_status_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_operation_status_resource_group_context_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_recovery_points_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_resource_guards_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_restorable_time_ranges_operations.py
  src/dataprotection/report.md
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#5319 [Dataprotection] Update version in version.py
  src/dataprotection/azext_dataprotection/manual/version.py
Labels: Data Protection, Auto-Assign

#5322 [IoT] IoT Extension Release v0.17.1
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5330 {AKS} Remove unused import to avoid failure in Python3.6
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5312 chore(arcdata): version bump to 1.4.6
  src/index.json
Labels: Auto-Assign

#5348 {AKS} remove image cleaner testing exceptions
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_image_cleaner_enabled_with_default_interval_hours.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_image_cleaner_enabled_with_interval_hours.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_image_cleaner.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5345 {AKS} Fix `az aks draft` command crashed on windows during binary check
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/aks_draft/commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5343 [Azure Firewall] `az network firewall`: Add parameter `--udp-log-optimization`
  src/azure-firewall/HISTORY.rst
  src/azure-firewall/azext_firewall/_params.py
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_management_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy_premium.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_basic_sku.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_with_additional_log.yaml
  src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py
  src/azure-firewall/setup.py
Labels: Network, Auto-Assign

#5359 {k8s-extension} fixes Azure/azure-cli-extensions#5356
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/_client_factory.py
  src/k8s-extension/setup.py
Labels: bug, Code Gen, Auto-Assign

#5372 Update CosmosDB extension version
  src/cosmosdb-preview/HISTORY.rst
  src/cosmosdb-preview/setup.py
Labels: Cosmos, Auto-Assign

#5373 Hide account `0.2.2` and `0.2.3` from customers since not compatible with old CLI core
  src/index.json
Labels: Account, Auto-Assign

#5374 {Account} Update min cli core version from `2.3.1` to `2.38.0`
  src/account/HISTORY.rst
  src/account/azext_account/azext_metadata.json
  src/account/setup.py
Labels: Account, Auto-Assign

#5383 ML extension:2.8.0 for azure-ai-ml 0.1.0b7
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5387 AKS: bug fix about not report error when existing cluster is already vnet integrated
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#4893 {CI} Migrate azure cli extensions pipelines
  azure-pipelines.yml
Labels: CI, Auto-Assign

#5389 [AKS] az aks update/az aks upgrade --cluster-snapshot-id
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_snapshot_update.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_snapshot_upgrade.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5388 {k8s-extension} fixes Azure/azure-cli-extensions#5384
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/consts.py
  src/k8s-extension/setup.py
Labels: bug, Auto-Assign

#5403 {CI} Update milestone from Sep 2022 (2022-10-12) - For Ignite to Oct 2022 (2022-11-01)
  .github/fabricbot.json
Labels: CI, Auto-Assign
