Repository Azure/azure-cli-extensions, pull requests merged in 2022-05, with the labels that each got.

#4760 chore(arcdata): arcdata version bump to 1.4.0
  linter_exclusions.yml
  src/index.json
Labels: Auto-Assign

#4758 Correcting QDK version referenced by quantum extension
  src/quantum/HISTORY.rst
Labels: Quantum, Auto-Assign

#4759 Aks [nodepool] update without args prompts to reconcile.
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4748 {AKS} Add v2 agentpool decorator
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/utils.py
Labels: AKS, Auto-Assign

#4774 [IoT] IoT Extension Release v0.14.1
  src/index.json
Labels: IoT/CLI, Auto-Assign

#4757 Container Apps 5/4 Release
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_ssh_utils.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#4742 aks-preview: support csi drivers extensibility
  src/aks-preview/HISTORY.md
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_csi_drivers_extensibility.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_standard_csi_drivers.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2022_03_02_preview/models/_models_py3.py
  src/aks-preview/linter_exclusions.yml
Labels: AKS, Auto-Assign

#4773 [k8s-extension] Update extension CLI to v1.2.1
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/custom.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureMLKubernetes.py
  src/k8s-extension/azext_k8s_extension/vendored_sdks/v2022_03_01/models/_models_py3.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#4806 [CosmosDB] Modify latest version description
  src/cosmosdb-preview/HISTORY.rst
Labels: Cosmos, Auto-Assign

#4549 [AKS] Add option `Windows2019`, `Windows2022` to `--os-sku` for `az aks nodepool add`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_completers.py
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_add_with_ossku_windows2022.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4794 containerapp Version 0.3.4 Release
  scripts/ci/credscan/CredScanSuppressions.json
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_github_oauth.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_ssh_utils.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_components.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_storage.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_image_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#4811 {CI} Bump azure-core version to 1.21.1
  scripts/ci/test_source.sh
Labels: CI, Auto-Assign

#4810 [AKS] Fix: Raise error when user provides invalid value for `--os-sku`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_completers.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4790 {Subscription} Update supported `--offer-types` of `az account create`
  src/subscription/azext_subscription/_params.py
  src/subscription/azext_subscription/subscription/models/subscription_client_enums.py
Labels: Account, Auto-Assign

#4818 Update ML CLI v1 extension to allow setting v1LegacyMode values
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#4803 Azure Managed Grafana: expose AZ and improve "delete grafana" command
  src/amg/HISTORY.rst
  src/amg/azext_amg/_params.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/dist/amg-0.1.0-py3-none-any.whl
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#4824 {CI} pip Install testsdk remove the `--no-deps` parameter
  scripts/ci/test_source.sh
Labels: CI, Auto-Assign

#4817 [AKS]fix: don't update storageProfile if not set
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_csi_drivers_extensibility.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_standard_csi_drivers.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4822 {AKS} Update the minimum required cli core version for aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/azext_metadata.json
Labels: AKS, Auto-Assign

#4830 {AKS} Fix the validators for options `--min-count` and `--max-count`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4821 DataMigration: Adding time based collection and support for installed-ir-path
  src/datamigration/HISTORY.rst
  src/datamigration/README.md
  src/datamigration/azext_datamigration/manual/_help.py
  src/datamigration/azext_datamigration/manual/_params.py
  src/datamigration/azext_datamigration/manual/action.py
  src/datamigration/azext_datamigration/manual/custom.py
  src/datamigration/azext_datamigration/manual/helper.py
  src/datamigration/setup.py
Labels: Data Migration, Auto-Assign

#4836 {AKS} Update history.rst to fix syntax errors
  src/aks-preview/HISTORY.rst
Labels: AKS, Auto-Assign

#4843 [k8s-extension] Update extension CLI to v1.2.2
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/custom.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureMLKubernetes.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/DefaultExtension.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/PartnerExtensionModel.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#4860 {AKS} Fix tests
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_outbound_ips.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
Labels: AKS, Auto-Assign

#4857 Updating ML extension to use latest public preview for SDKv2
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#4862 chore(arcdata): version bump to 1.4.1
  linter_exclusions.yml
  src/index.json
Labels: Auto-Assign

#4867 {AKS} Update test cases
  src/aks-preview/azcli_aks_live_test/configs/cli_matrix_default.json
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_standard_csi_drivers.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#4837 Containerapp Version 0.3.5 : Final release for //BUILD
  scripts/ci/credscan/CredScanSuppressions.json
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/azext_metadata.json
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/cert.pem
  src/containerapp/azext_containerapp/tests/latest/cert.pfx
  src/containerapp/azext_containerapp/tests/latest/cert.txt
  src/containerapp/azext_containerapp/tests/latest/domain-contact.json
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#4874 {AKS} Release aks-preview 0.5.72
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4876 {AKS} Fix import issues for aks draft commands
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/aks_draft/__init__.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4883 Hotfix ML extension for addressing endpoint issues
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#4885 {AKS} Filter app gateway case
  src/aks-preview/azcli_aks_live_test/configs/cli_matrix_default.json
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
Labels: AKS, Auto-Assign

#4881 [storage-preview] `az storage account create`: Rename `--key-vault-federated-identity-client-id` to `--key-vault-federated-client-id`
  src/storage-preview/HISTORY.rst
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_account_file_delete_retention_policy.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_account_file_smb_multichannel.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_account_network_rules.yaml
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_file_upload_small_file_v2.yaml
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_account_scenarios.py
  src/storage-preview/setup.py
Labels: Account, Storage, Auto-Assign

#4892 chore(arcdata): version bump to 1.4.1
  src/index.json
Labels: Auto-Assign

#4872 aks-preview: feature support for web application routing
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_web_application_routing_dns_zone_not_exist.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_web_application_routing.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_addon_web_app_routing.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#4894 {AKS} Fix aks byo appgw test case
  src/aks-preview/azcli_aks_live_test/configs/cli_matrix_default.json
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#4900 {AKS} Add v2 managed cluster decorator
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_loadbalancer.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#4891 [Dataprotection] Onboard ResourceGuard and AzMon alerts
  linter_exclusions.yml
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/generated/_client_factory.py
  src/dataprotection/azext_dataprotection/generated/_help.py
  src/dataprotection/azext_dataprotection/generated/_params.py
  src/dataprotection/azext_dataprotection/generated/commands.py
  src/dataprotection/azext_dataprotection/generated/custom.py
  src/dataprotection/azext_dataprotection/manual/_help.py
  src/dataprotection/azext_dataprotection/manual/_params.py
  src/dataprotection/azext_dataprotection/manual/commands.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/manual/enums.py
  src/dataprotection/azext_dataprotection/manual/helpers.py
  src/dataprotection/azext_dataprotection/manual/tests/latest/test_dataprotection_scenario.py
  src/dataprotection/azext_dataprotection/tests/latest/example_steps.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_Scenario.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_oss.yaml
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_scenario.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/_configuration.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/_configuration.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_backup_instances_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_backup_policies_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_backup_vault_operation_results_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_backup_vaults_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_data_protection_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_data_protection_operations_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_export_jobs_operation_result_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_export_jobs_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_jobs_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_operation_result_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_operation_status_backup_vault_context_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_operation_status_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_operation_status_resource_group_context_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_recovery_points_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_resource_guards_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/aio/operations/_restorable_time_ranges_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/models/__init__.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/models/_data_protection_client_enums.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/models/_models.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/models/_models_py3.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_backup_instances_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_backup_policies_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_backup_vault_operation_results_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_backup_vaults_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_data_protection_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_data_protection_operations_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_export_jobs_operation_result_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_export_jobs_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_jobs_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_operation_result_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_operation_status_backup_vault_context_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_operation_status_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_operation_status_resource_group_context_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_recovery_points_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_resource_guards_operations.py
  src/dataprotection/azext_dataprotection/vendored_sdks/dataprotection/operations/_restorable_time_ranges_operations.py
  src/dataprotection/linter_exclusions.yml
  src/dataprotection/report.md
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#4906 [Dataprotection] Update version in version.py
  src/dataprotection/azext_dataprotection/manual/version.py
Labels: Data Protection, Auto-Assign

#4782 {AKS} Add Custom CA Trust to CLI
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_custom_ca_trust_flow.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/setup.py
Labels: do-not-merge, AKS, Auto-Assign

#4913 {aks-preview} | Fixes typo Github to GitHub
  src/aks-preview/azext_aks_preview/_help.py
Labels: AKS, Auto-Assign
