Repository Azure/azure-cli-extensions, pull requests merged in 2022-10, with the labels that each got.

#5411 connectedk8s upgrade cmd bug fix
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#5421 {CI} Fix #5408: Miss a `__init__.py` file in `src/reservation/azext_reservation/vendored_sdks` directory
  src/index.json
  src/reservation/HISTORY.rst
  src/reservation/azext_reservation/vendored_sdks/__init__.py
  src/reservation/setup.py
Labels: CI, Auto-Assign

#5410 [CosmosDB] GA mongo server version
  src/cosmosdb-preview/azext_cosmosdb_preview/_params.py
Labels: Cosmos, Auto-Assign

#5392 Containerapp 0.3.12 Release
  .github/CODEOWNERS
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_anonymous_registry.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_components.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_msi.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_revision_label_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_tcp_ingress.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update_containers.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/azext_containerapp/tests/latest/utils.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5393 Datta/set subscription reset nic
  src/vm-repair/HISTORY.rst
  src/vm-repair/azext_vm_repair/_help.py
  src/vm-repair/azext_vm_repair/_params.py
  src/vm-repair/azext_vm_repair/_validators.py
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/setup.py
Labels: Compute, Auto-Assign

#5429 Add ml extension version 2.9.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5431 {AKS} Update recording to fix crp API version bump
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
Labels: AKS, Auto-Assign

#5432 {AKS} Fix 2 preview features test cases
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_vpa.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_or_update_with_load_balancer_backend_pool_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5430 Remove containerapp compose
  .github/CODEOWNERS
  scripts/ci/credscan/CredScanSuppressions.json
  src/containerapp-compose/HISTORY.rst
  src/containerapp-compose/README.rst
  src/containerapp-compose/azext_containerapp_compose/__init__.py
  src/containerapp-compose/azext_containerapp_compose/_help.py
  src/containerapp-compose/azext_containerapp_compose/_monkey_patch.py
  src/containerapp-compose/azext_containerapp_compose/_params.py
  src/containerapp-compose/azext_containerapp_compose/_validators.py
  src/containerapp-compose/azext_containerapp_compose/azext_metadata.json
  src/containerapp-compose/azext_containerapp_compose/commands.py
  src/containerapp-compose/azext_containerapp_compose/custom.py
  src/containerapp-compose/azext_containerapp_compose/tests/__init__.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/__init__.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/common.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_basic_no_existing_resources.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_location_differ_from_resource_group.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_environment.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_environment_prompt.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_ingress_both.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_ingress_external.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_ingress_internal.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_ingress_prompt.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_registry_all_args.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_registry_server_arg_only.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_replicas_global_scale.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_replicas_replicated_mode.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_both_cpus_and_deploy_cpu.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_deploy_cpu.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_deploy_with_mismatched_cpu_memory.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_service_cpus.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_service_memory.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_secrets.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_secrets_and_existing_environment.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_secrets_and_existing_environment_conflict.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_transport_arg.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_create_with_transport_mapping_arg.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_with_command_list.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_with_command_list_and_entrypoint.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/recordings/test_containerapp_compose_with_command_string.yaml
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_basic.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_command.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_environment.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_ingress.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_location.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_registries.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_resources.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_scale.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_secrets.py
  src/containerapp-compose/azext_containerapp_compose/tests/latest/test_containerapp_preview_transport_overrides.py
  src/containerapp-compose/setup.cfg
  src/containerapp-compose/setup.py
  src/index.json
Labels: Auto-Assign, ContainerApp

#5427 {AKS} add support to create cluster with kube-proxy configuration
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_podidentity.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/data/kubeproxyconfig.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_kube_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5436 Add ml extension 2.10.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5438 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Compute, Auto-Assign

#5130 [Quantum] Show required parameters in CLI Reference documentation
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/_validators.py
  src/quantum/azext_quantum/commands.py
  src/quantum/azext_quantum/operations/job.py
  src/quantum/azext_quantum/operations/offerings.py
  src/quantum/azext_quantum/operations/target.py
  src/quantum/azext_quantum/operations/workspace.py
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
  src/quantum/azext_quantum/tests/latest/test_quantum_offerings.py
  src/quantum/azext_quantum/tests/latest/test_quantum_targets.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
  src/quantum/azext_quantum/tests/latest/utils.py
Labels: Quantum, Auto-Assign

#5441 [IoT] IoT Extension Release v0.17.3
  linter_exclusions.yml
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5399 [Quantum] Updates to enable resource estimation in the CLI
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/commands.py
  src/quantum/azext_quantum/operations/job.py
Labels: Quantum, Auto-Assign

#5439 chore(arcdata): version bump to 1.4.7
  src/index.json
Labels: Auto-Assign

#5428 {AKS} Enable AzureMonitorMetrics Addon (Managed Prometheus for public preview)
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/azuremonitorprofile.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_azuremonitormetrics.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2017_07_01/models/_models.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5445 [Scenario Guide] Delete index of scenario-guide
  src/index.json
Labels: customer-reported

#5444 [Scenario Guide] Fix package name in setup.py
  src/scenario-guide/HISTORY.rst
  src/scenario-guide/setup.py
Labels: customer-reported

#5443 [Quantum] Update version and history info for az quantum extension 0.17.0
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/azext_quantum/_params.py
  src/quantum/setup.py
Labels: Quantum, Auto-Assign

#5456 [AKS] Add ```--disable-windows-outbound-nat``` for ```az aks nodepool add``` to add a Windows agent pool which the Windows OutboundNAT is disabled
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_add_with_disable_windows_outbound_nat.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5458 [FrontDoor] az network front-door waf-policy managed-rules add: Fix managed-rule add issue for Microsoft_DefaultRuleSet with version 2.0 or higher
  src/front-door/HISTORY.rst
  src/front-door/azext_front_door/_params.py
  src/front-door/azext_front_door/custom.py
  src/front-door/azext_front_door/tests/latest/recordings/test_waf_exclusions.yaml
  src/front-door/azext_front_door/tests/latest/recordings/test_waf_policy_basic.yaml
  src/front-door/azext_front_door/tests/latest/recordings/test_waf_policy_custom_rule_matching.yaml
  src/front-door/azext_front_door/tests/latest/recordings/test_waf_policy_custom_rules.yaml
  src/front-door/azext_front_door/tests/latest/recordings/test_waf_policy_managed_rules.yaml
  src/front-door/azext_front_door/tests/latest/test_waf_scenarios.py
  src/front-door/setup.py
Labels: Network, Auto-Assign

#5462 {CI} Add extension Serial-Console to fabric bot
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5461 update API version for az network-function traffic-collector
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_create.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_delete.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_list.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_show.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_update.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/_wait.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_create.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_delete.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_list.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_show.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_update.py
  src/traffic-collector/azext_traffic_collector/aaz/latest/network_function/traffic_collector/collector_policy/_wait.py
  src/traffic-collector/azext_traffic_collector/azext_metadata.json
  src/traffic-collector/azext_traffic_collector/tests/latest/recordings/test_azure_traffic_scenario.yaml
Labels: customer-reported, Network, Auto-Assign

#5468 {AKS} Update pipeline settings
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-live-test.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-unit-test.yaml
Labels: AKS, Auto-Assign

#5467 [AKS] Add NSG Control flags for `az aks create` / `az aks nodepool add` / `az aks nodepool update`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_nsg_control.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_create_with_nsg_control.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_update_with_nsg_control.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5452 Adding Software Assurance support on connected clusters for AKS HCI
  .github/CODEOWNERS
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_client_factory.py
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_params.py
  src/connectedk8s/azext_connectedk8s/_troubleshootutils.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/azext_metadata.json
  src/connectedk8s/azext_connectedk8s/commands.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/tests/latest/recordings/test_connectedk8s.yaml
  src/connectedk8s/azext_connectedk8s/tests/latest/recordings/test_forcedelete.yaml
  src/connectedk8s/azext_connectedk8s/tests/latest/test_connectedk8s_scenario.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_05_01/_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_05_01/models/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_05_01/models/_models.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_05_01/operations/_connected_cluster_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_05_01/operations/_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_configuration.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_connected_kubernetes_client.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_serialization.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_vendor.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_version.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/models/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/models/_connected_kubernetes_client_enums.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/models/_models_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/models/_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/operations/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/operations/_connected_cluster_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/operations/_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/operations/_patch.py
  src/connectedk8s/setup.py
Labels: AKS, Auto-Assign

#5464 {AKS} Support updating SSH public key with `az aks update --ssh-key-value`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_ssh_public_key.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5398 [Serial-Console]: az serial-console connect: Change to use different region for url calls when custom storage account firewalls are enabled
  src/serial-console/HISTORY.rst
  src/serial-console/azext_serialconsole/_arm_endpoints.py
  src/serial-console/azext_serialconsole/_client_factory.py
  src/serial-console/azext_serialconsole/custom.py
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_check_resource_VM.yaml
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_check_resource_VMSS.yaml
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_enable_disable.yaml
  src/serial-console/azext_serialconsole/vendored_sdks/serialconsole/_microsoft_serial_console_client.py
  src/serial-console/setup.py
Labels: customer-reported, Serial Console, Auto-Assign

#5366 [ssh] Bug Fix: Change how ssh vm reads the ssh client logs
  src/ssh/HISTORY.md
  src/ssh/azext_ssh/custom.py
  src/ssh/azext_ssh/rdp_utils.py
  src/ssh/azext_ssh/ssh_utils.py
  src/ssh/azext_ssh/tests/latest/test_ssh_utils.py
Labels: Compute, Auto-Assign

#5480 {CI} Update milestone from Oct 2022 (2022-11-01) to Nov 2022 (2022-12-06)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5487 {AKS} Update venv setup for aks live test pipelines
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
Labels: AKS, Auto-Assign

#5379 {AKS} add --outbound-type option in update command
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_loadbalancer.py
  src/aks-preview/azext_aks_preview/_natgateway.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_outbound_from_slb_to_natgateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5402 Quorum Blockchain Service (by ConsenSys) extension
  src/index.json
  src/service_name.json
Labels: do-not-merge, customer-reported

#5494 [IoT] IoT Extension Release v0.18.0
  linter_exclusions.yml
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5496 {AKS} Fix workload identity update error after oidc issure GA in azure-cli
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5490 {AKS} `az aks update`: Fix command failure in validation of AzureMonitorMetrics Addon for SP-based cluster
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5492 {AKS} `az aks update`: Fix command failure on changes not related to outbound type conversion
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_outbound_from_slb_to_natgateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5474 Add warn when update Config Server or Application Configuration Service with SSH auth
  src/spring/HISTORY.md
  src/spring/azext_spring/_params.py
  src/spring/azext_spring/_validators.py
  src/spring/azext_spring/_validators_enterprise.py
  src/spring/setup.py
Labels: Auto-Assign
