Repository Azure/azure-cli-extensions, pull requests merged in 2022-02, with the labels that each got.

#4378 Release 0.23.0 for azure dev ops
  src/index.json
Labels: customer-reported

#4314 [Quantum] Workspace creation race condition fix
  src/quantum/azext_quantum/operations/templates/create-workspace-and-assign-role.json
  src/quantum/azext_quantum/operations/workspace.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
  src/quantum/azext_quantum/tests/latest/utils.py
  src/quantum/setup.py
Labels: Quantum

#4404 [Stream Analytics] Bump up version to 0.1.2
  src/stream-analytics/HISTORY.rst
  src/stream-analytics/azext_stream_analytics/generated/_client_factory.py
  src/stream-analytics/azext_stream_analytics/generated/_help.py
  src/stream-analytics/azext_stream_analytics/generated/_params.py
  src/stream-analytics/azext_stream_analytics/generated/action.py
  src/stream-analytics/azext_stream_analytics/generated/commands.py
  src/stream-analytics/azext_stream_analytics/generated/custom.py
  src/stream-analytics/azext_stream_analytics/manual/_help.py
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_cluster_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_private_endpoint_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/test_stream_analytics_commands.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/_stream_analytics_management_client.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/aio/_stream_analytics_management_client.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/aio/operations/__init__.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/aio/operations/_clusters_operations.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/aio/operations/_private_endpoints_operations.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/models/__init__.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/models/_models.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/models/_models_py3.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/models/_stream_analytics_management_client_enums.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/operations/__init__.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/operations/_clusters_operations.py
  src/stream-analytics/azext_stream_analytics/vendored_sdks/streamanalytics/operations/_private_endpoints_operations.py
  src/stream-analytics/setup.py
Labels: Stream Analytics

#4421 [Release] Add Arc Appliance Extension 0.2.15
  src/index.json
Labels: do-not-merge

#4440 [Monitor] `az monitor app-insights web-test`: Support Application Insights Web Test
  src/application-insights/HISTORY.rst
  src/application-insights/azext_applicationinsights/__init__.py
  src/application-insights/azext_applicationinsights/_client_factory.py
  src/application-insights/azext_applicationinsights/_help.py
  src/application-insights/azext_applicationinsights/_params.py
  src/application-insights/azext_applicationinsights/action.py
  src/application-insights/azext_applicationinsights/commands.py
  src/application-insights/azext_applicationinsights/custom.py
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_appinsights_webtest_crud.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component_with_linked_storage.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component_with_linked_workspace.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component_with_public_network_access.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_connect_function.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_connect_webapp.yaml
  src/application-insights/azext_applicationinsights/tests/latest/test_applicationinsights_mgmt.py
  src/application-insights/azext_applicationinsights/util.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/_application_insights_management_client.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2018_05_01_preview/_application_insights_management_client.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2018_05_01_preview/models/__init__.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2018_05_01_preview/models/_application_insights_management_client_enums.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2018_05_01_preview/models/_models_py3.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2018_05_01_preview/operations/__init__.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2018_05_01_preview/operations/_web_tests_operations.py
  src/application-insights/setup.py
Labels: Monitor - ApplicationInsights
