Repository Azure/azure-cli-extensions, pull requests merged in 2022-11, with the labels that each got.

#5520 [AKS] Fix NSG Control flags when creating agentpool
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5527 [containerapp] `az containerapp logs/exec`: Fix "KeyError" Bug
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_ssh_utils.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5516 chore(arcdata): version bump to v1.4.8
  src/index.json
Labels: Auto-Assign

#5529 Add ml extension 2.11.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5531 Revert "chore(arcdata): version bump to v1.4.8"
  src/index.json
Labels: Auto-Assign

#5503 {CI} Add resolve issues logic
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5538 chore(arcdata): version bump to 1.4.8
  src/index.json
Labels: Auto-Assign

#5540 [AKS] Update preview flag
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#5507 fixing OS partition detection
  src/vm-repair/HISTORY.rst
  src/vm-repair/azext_vm_repair/scripts/linux-mount-encrypted-disk.sh
  src/vm-repair/setup.py
Labels: customer-reported

#5542 [AKS] Mark "--enable-pod-security-policy" deprecated
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#5549 updated patch behaviour for azureHybridBenefit property in connectedk8s
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/tests/latest/recordings/test_connectedk8s.yaml
  src/connectedk8s/azext_connectedk8s/tests/latest/recordings/test_forcedelete.yaml
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#5546 [Container App]: Add `az containerapp ingress access-restriction` group
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_storage.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions_deny.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_image_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5562 {AKS} `az aks update`: Fix command failing on updating the ssh key value if cluster was created without ssh key
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5564 [k8s-extension] Update extension CLI to v1.3.7
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/Dapr.py
  src/k8s-extension/azext_k8s_extension/tests/latest/test_k8s_extension_scenario.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#5548 [Container App]: Remove quota check for 'az containerapps env create'
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/setup.py
Labels: Auto-Assign

#5552 {CI} Add policy check to Security Tools
  azure-pipelines.yml
Labels: CI, Auto-Assign

#5572 [AKS] refine creating TA binding commands
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_trustedaccess_rolebinding.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_get_trustedaccess_roles.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5502 Add commands for Network Security Perimeter
  .github/CODEOWNERS
  src/nsp/HISTORY.rst
  src/nsp/README.md
  src/nsp/azext_nsp/__init__.py
  src/nsp/azext_nsp/_help.py
  src/nsp/azext_nsp/_params.py
  src/nsp/azext_nsp/aaz/__init__.py
  src/nsp/azext_nsp/aaz/latest/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_update.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_wait.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/onboarded_resources/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/onboarded_resources/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/onboarded_resources/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_update.py
  src/nsp/azext_nsp/azext_metadata.json
  src/nsp/azext_nsp/commands.py
  src/nsp/azext_nsp/custom.py
  src/nsp/azext_nsp/tests/__init__.py
  src/nsp/azext_nsp/tests/latest/__init__.py
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_accessrule_crud.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_accessrule_inbound.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_association_crud.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_crud.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_profile_crud.yaml
  src/nsp/azext_nsp/tests/latest/test_nsp.py
  src/nsp/setup.cfg
  src/nsp/setup.py
Labels: customer-reported, Network, Auto-Assign

#5578 [AKS] remove a warning message
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS, Auto-Assign

#5575 {AKS} Add transform function for custom CA
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/commands.py
Labels: AKS, Auto-Assign

#5580 {AKS} Reorder one step of aks_nodepool_snapshot recording test in order that it won't be affected by 22.04 switch over at k8s 1.25.2
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_snapshot.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5582 {AKS} `az aks nodepool`: Update nodepool command option names
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#5587 {CI} Update milestone from Nov 2022 (2022-12-06) to Dec 2022 (2023-01-03)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5545 {AKS} add support for updating kube-proxy configuration
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/data/kubeproxyconfig.json
  src/aks-preview/azext_aks_preview/tests/latest/data/kubeproxyconfig_update.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_kube_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_kube_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5274 [Compute] Fix #5258: `az image copy`: Fix `expected not NoneType` error
  src/image-copy/HISTORY.rst
  src/image-copy/azext_imagecopy/create_target.py
  src/image-copy/azext_imagecopy/custom.py
  src/image-copy/setup.py
Labels: Compute, Auto-Assign
