Repository Azure/azure-cli-extensions, pull requests merged in 2022-07, with the labels that each got.

#4882 [Dataprotection] Add support for automatically granting MSI permission
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureBlob.py
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureDatabaseForPostgreSQL.py
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureDisk.py
  src/dataprotection/azext_dataprotection/manual/_help.py
  src/dataprotection/azext_dataprotection/manual/_params.py
  src/dataprotection/azext_dataprotection/manual/commands.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/manual/enums.py
  src/dataprotection/azext_dataprotection/manual/helpers.py
  src/dataprotection/azext_dataprotection/manual/tests/latest/test_dataprotection_scenario.py
  src/dataprotection/azext_dataprotection/manual/version.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_Scenario.yaml
  src/dataprotection/setup.py
Labels: customer-reported

#5001 {CI} Update milestone from Jun 2022 (2022-07-05) to Jul 2022 (2022-08-02)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#4678 [appservice-kube] `az functionapp create`: Make `--storage-account` optional for Kubernetes function apps
  src/appservice-kube/HISTORY.rst
  src/appservice-kube/azext_appservice_kube/_params.py
  src/appservice-kube/azext_appservice_kube/custom.py
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_linux_webapp_quick_create_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/test_appservice_kube_scenario.py
  src/appservice-kube/setup.py
Labels: extension/webapp, App Services, Functions, Web Apps, Auto-Assign

#5070 {AKS} Fix snapshot not resolved according to the subscriptions field in the `--snapshot-id` option
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/__init__.py
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_completers.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_resourcegroup.py
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/aks_diagnostics.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_helpers.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5083 {AKS} add live test for azure cni overlay
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_overlay_network_plugin_mode.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5065 {AKS-preview} Get aks monitoring MSI auth onboarding changes in-sync with azure cli
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5089 {AKS-preview} Bump the AKS-preview extension version
  src/aks-preview/HISTORY.rst
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5095 [k8s-extension] Update extension CLI to v1.2.4
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureMLKubernetes.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/ContainerInsights.py
  src/k8s-extension/azext_k8s_extension/tests/latest/test_custom.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#5096 Added v2.6.0 for ml extension
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5113 {AKS} Add test for virtual node addon in `aks addon list`
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5106 {AKS} Fix compatibility issue when enabling Microsoft Defender via aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/data/defenderconfig.json
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5119 {AKS} Resolve release conflict for aks-preview
  src/index.json
Labels: AKS, Auto-Assign

#5118 {AKS} Release new version 0.5.91 for aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5122 chore(arcdata): version bump to 1.4.4
  src/index.json
Labels: Auto-Assign

#5124 [Storage Preview] Fix #22699: fixing typo
  src/storage-preview/azext_storage_preview/_params.py
Labels: Storage, Documentation, Auto-Assign

#5134 {FunctionApp} Fix #16323: Fix minor typo
  src/functionapp/azext_functionapp/_params.py
Labels: Functions, Auto-Assign

#5140 [IoT] IoT Extension Release v0.16.1
  linter_exclusions.yml
  src/index.json
Labels: IoT/CLI, Auto-Assign

#4864 [CosmosDB] Adding support to retrieve and redistribute physical partition throughput
  src/cosmosdb-preview/HISTORY.rst
  src/cosmosdb-preview/README.md
  src/cosmosdb-preview/azext_cosmosdb_preview/_help.py
  src/cosmosdb-preview/azext_cosmosdb_preview/_params.py
  src/cosmosdb-preview/azext_cosmosdb_preview/actions.py
  src/cosmosdb-preview/azext_cosmosdb_preview/commands.py
  src/cosmosdb-preview/azext_cosmosdb_preview/custom.py
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongo_role.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongodb_collection_adaptiveru.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_container_adaptiveru.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/test_cosmosdb_sql_adaptiveru_scenario.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/__init__.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/_metadata.json
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/_version.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/aio/operations/_cosmos_db_management_client_operations.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/aio/operations/_mongo_db_resources_operations.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/aio/operations/_sql_resources_operations.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/models/__init__.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/models/_models.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/models/_models_py3.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/operations/_cosmos_db_management_client_operations.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/operations/_mongo_db_resources_operations.py
  src/cosmosdb-preview/azext_cosmosdb_preview/vendored_sdks/azure_mgmt_cosmosdb/operations/_sql_resources_operations.py
  src/cosmosdb-preview/setup.py
Labels: Cosmos, Auto-Assign

#5087 {AKS} support disabling Azure KeyVault KMS
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
Labels: AKS, Auto-Assign

#5100 {AKS} Refine tests for azurekeyvaultkms
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5026 Containerapp 0.3.8 Release
  scripts/ci/credscan/CredScanSuppressions.json
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update_containers.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5033 [amg] Azure managed grafana options for notification channels
  src/amg/README.md
  src/amg/azext_amg/_help.py
  src/amg/azext_amg/_params.py
  src/amg/azext_amg/commands.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_base.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/test_amg_livescenario.py
  src/amg/azext_amg/tests/latest/test_amg_scenario.py
  src/amg/azext_amg/tests/latest/test_definitions.py
  src/amg/setup.py
Labels: customer-reported, extension/grafana, Auto-Assign

#5148 {AKS} move KMS to GA
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5154 {AKS} Filter tests
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/cli_matrix_default.json
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_list_trustedaccess_roles.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5155 [FluidRelay] Generate fluid-relay with CodeGen v2
  .github/CODEOWNERS
  src/fluid-relay/HISTORY.rst
  src/fluid-relay/README.md
  src/fluid-relay/azext_fluid_relay/__init__.py
  src/fluid-relay/azext_fluid_relay/_help.py
  src/fluid-relay/azext_fluid_relay/_params.py
  src/fluid-relay/azext_fluid_relay/aaz/__init__.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/__init__.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/__cmd_group.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/__init__.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/container/__cmd_group.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/container/__init__.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/container/_delete.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/container/_list.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/container/_show.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/__cmd_group.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/__init__.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/_create.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/_delete.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/_list.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/_list_key.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/_regenerate_key.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/_show.py
  src/fluid-relay/azext_fluid_relay/aaz/latest/fluid_relay/server/_update.py
  src/fluid-relay/azext_fluid_relay/azext_metadata.json
  src/fluid-relay/azext_fluid_relay/commands.py
  src/fluid-relay/azext_fluid_relay/custom.py
  src/fluid-relay/azext_fluid_relay/tests/__init__.py
  src/fluid-relay/azext_fluid_relay/tests/latest/__init__.py
  src/fluid-relay/azext_fluid_relay/tests/latest/recordings/test_fluid_relay_scenario.yaml
  src/fluid-relay/azext_fluid_relay/tests/latest/test_fluid_relay.py
  src/fluid-relay/setup.cfg
  src/fluid-relay/setup.py
  src/service_name.json
Labels: Code Gen, Auto-Assign

#5117 Add az vm repair reset-nic command
  src/vm-repair/HISTORY.rst
  src/vm-repair/azext_vm_repair/_help.py
  src/vm-repair/azext_vm_repair/_params.py
  src/vm-repair/azext_vm_repair/_validators.py
  src/vm-repair/azext_vm_repair/command_helper_class.py
  src/vm-repair/azext_vm_repair/commands.py
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/azext_vm_repair/exceptions.py
  src/vm-repair/azext_vm_repair/repair_utils.py
  src/vm-repair/azext_vm_repair/tests/latest/test_repair_commands.py
  src/vm-repair/setup.py
Labels: Compute, Auto-Assign

#5171 [k8s-extension] Update extension CLI to v1.2.5
  .github/CODEOWNERS
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureDefender.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/ContainerInsights.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/OpenServiceMesh.py
  src/k8s-extension/setup.py
Labels: Auto-Assign
