Repository Azure/azure-cli-extensions, pull requests merged in 2022-12, with the labels that each got.

#5590 {AKS} Release aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5604 {CI} Check cli core min version both remote and local
  scripts/ci/test_index.py
Labels: CI, Auto-Assign

#5605 [keyvault-preview] Add min cli core version
  src/keyvault-preview/HISTORY.rst
  src/keyvault-preview/azext_keyvault_preview/azext_metadata.json
  src/keyvault-preview/setup.py
Labels: KeyVault, Auto-Assign

#5601 Release for ml extension 2.12.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5612 [IoT] Adds IoT Extension v0.18.2
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5608 {AKS} Bump dependency on azure-cli-core to 2.43.0
  src/aks-preview/HISTORY.rst
  src/aks-preview/README.rst
  src/aks-preview/azext_aks_preview/azext_metadata.json
Labels: AKS, Auto-Assign

#5598 Updated logic for Vm Repair Reset Nic cmd(ResourceNotFound)
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/setup.py
Labels: Compute, Auto-Assign

#5620 {CI} Add check __init__.py file in all extensions
  azure-pipelines.yml
  scripts/ci/test_init.py
Labels: CI, Auto-Assign

#5561 {AKS} Add custom ca certs to aks create and aks update
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/data/certs.txt
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_add_nodepool_with_custom_ca_trust_certificates.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5617 grafana: expose public network access flag in CLI
  src/amg/azext_amg/_help.py
  src/amg/azext_amg/_params.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_base.yaml
  src/amg/azext_amg/tests/latest/test_amg_scenario.py
  src/amg/setup.py
Labels: Network, extension/grafana, Auto-Assign

#5628 {AKS} GA file, blob csi driver and snapshot controller
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5433 {AKS} Remove implementation of Azure Dedicated Host
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#5638 [IoT] Adds IoT Extension v0.18.3
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5632 Hancwang/ml 2.12.1
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5635 {AKS} Remove KMS related code after GA
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5633 [Compute] Fix #5521: `az image copy`: Fix command ended with an error when copying image to multiple locations
  src/image-copy/HISTORY.rst
  src/image-copy/azext_imagecopy/cli_utils.py
  src/image-copy/azext_imagecopy/create_target.py
  src/image-copy/azext_imagecopy/custom.py
  src/image-copy/azext_imagecopy/tests/latest/recordings/test_image_copy_locations.yaml
  src/image-copy/azext_imagecopy/tests/latest/test_image_copy_commands.py
  src/image-copy/setup.py
Labels: Compute, Auto-Assign

#5640 {AKS} Remove defender related code after GA
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5627 chore(arcdata): version bump 1.4.9
  src/index.json
Labels: Auto-Assign

#5634 [ContainerApps] Fix polling logic for long running operation
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_anonymous_registry.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_basic_no_existing_resources.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_environment.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_ingress_both.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_ingress_external.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_ingress_internal.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_registry_all_args.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_replicas_global_scale.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_replicas_replicated_mode.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_both_cpus_and_deploy_cpu.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_deploy_cpu.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_service_cpus.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_secrets.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_secrets_and_existing_environment.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_transport_arg.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_transport_mapping_arg.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_with_command_list.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_with_command_list_and_entrypoint.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_with_command_string.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions_deny.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_msi.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_revision_label_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_create.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_revision_copy.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_update.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_tcp_ingress.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update_containers.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_basic.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_command.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_ingress.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_scale.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_transport_overrides.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/azext_containerapp/tests/test_containerapp_compose_create_with_transport_arg_compose.yml
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5648 {AKS} Remove parameter check when update after GA
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5649 {AKS} Remove OIDC Issuer related code after GA
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5650 {CI} Update route rules: add `az dt` to azure-iot
  .github/fabricbot.json
Labels: CI, IoT/CLI, Auto-Assign

#5651 {AKS} Fix monitoring addon option `--enable-syslog` for `aks addon enable`
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5653 {AKS} Tidy parameter declarations
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#5654 {AKS} Remove GPU instance profile related code after GA
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
Labels: AKS, Auto-Assign

#5655 {AKS} Remove HTTP Proxy Config related code after GA
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5657 {CI} Adjust monitor rules
  .github/fabricbot.json
Labels: CI, Network, Auto-Assign

#5631 Bug Fix: Wait for LRO before enabling GuestManagement
  src/connectedvmware/HISTORY.rst
  src/connectedvmware/azext_connectedvmware/custom.py
  src/connectedvmware/setup.py
Labels: Compute, Auto-Assign

#5646 [containerapp] Fix 'NoneType object has no attribute get' error in `az containerapp up` with no ingress arguments
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5463 [next] Support recommending similar E2E scenarios based on the recent multiple execution commands
  src/next/HISTORY.rst
  src/next/azext_next/__init__.py
  src/next/azext_next/_help.py
  src/next/azext_next/_params.py
  src/next/azext_next/constants.py
  src/next/azext_next/custom.py
  src/next/azext_next/requests.py
  src/next/azext_next/utils.py
  src/next/setup.py
Labels: customer-reported
