Repository Azure/azure-cli-extensions, pull requests merged in 2023-08, with the labels that each got.

#6550 Add mariadb service option to containerapp ext
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6446 [AKS] Add --network-dataplane to az aks update command
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_migrate_cluster_to_cilium_dataplane.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Network, Auto-Assign

#6577 [TimeSeriesInsights] `az tsi access-policy/environment/reference-data-set`: Migrate to Codegen V2
  src/timeseriesinsights/HISTORY.rst
  src/timeseriesinsights/azext_timeseriesinsights/__init__.py
  src/timeseriesinsights/azext_timeseriesinsights/_client_factory.py
  src/timeseriesinsights/azext_timeseriesinsights/_help.py
  src/timeseriesinsights/azext_timeseriesinsights/_params.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/__init__.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/__init__.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/__cmd_group.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/__init__.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/access_policy/__cmd_group.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/access_policy/__init__.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/access_policy/_create.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/access_policy/_delete.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/access_policy/_list.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/access_policy/_show.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/access_policy/_update.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/environment/__cmd_group.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/environment/__init__.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/environment/_create.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/environment/_delete.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/environment/_list.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/environment/_show.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/environment/_update.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/reference_data_set/__cmd_group.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/reference_data_set/__init__.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/reference_data_set/_create.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/reference_data_set/_delete.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/reference_data_set/_list.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/reference_data_set/_show.py
  src/timeseriesinsights/azext_timeseriesinsights/aaz/latest/tsi/reference_data_set/_update.py
  src/timeseriesinsights/azext_timeseriesinsights/azext_metadata.json
  src/timeseriesinsights/azext_timeseriesinsights/commands.py
  src/timeseriesinsights/azext_timeseriesinsights/custom.py
  src/timeseriesinsights/azext_timeseriesinsights/tests/latest/recordings/test_timeseriesinsights_access_policy.yaml
  src/timeseriesinsights/azext_timeseriesinsights/tests/latest/recordings/test_timeseriesinsights_environment_gen1.yaml
  src/timeseriesinsights/azext_timeseriesinsights/tests/latest/recordings/test_timeseriesinsights_environment_gen2.yaml
  src/timeseriesinsights/azext_timeseriesinsights/tests/latest/recordings/test_timeseriesinsights_event_source_eventhub.yaml
  src/timeseriesinsights/azext_timeseriesinsights/tests/latest/recordings/test_timeseriesinsights_event_source_iothub.yaml
  src/timeseriesinsights/azext_timeseriesinsights/tests/latest/recordings/test_timeseriesinsights_reference_data_set.yaml
  src/timeseriesinsights/azext_timeseriesinsights/tests/latest/test_timeseriesinsights_scenario.py
  src/timeseriesinsights/setup.py
Labels: Code Gen, Auto-Assign

#6583 {CI} Mark ref doc test as continueOnError
  azure-pipelines.yml
Labels: CI, Auto-Assign

#6568 containerapp refactor managed env show/list/delete/create/update
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_ingress_prompt.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_workloadprofile_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_certificate_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_custom_domains.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_components.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_internal_only_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_mtls.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_storage.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_update_custom_domains.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_delete.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e_no_waits.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_azurefile.py
  src/containerapp/azext_containerapp/tests/test_containerapp_compose_create_with_transport_arg_compose.yml
Labels: Auto-Assign, ContainerApp

#6588 [IoT] IoT extension release v0.21.5
  src/index.json
Labels: IoT/CLI, Auto-Assign

#6570 Remove network security perimeter based access rule creation/updation
  src/nsp/HISTORY.rst
  src/nsp/azext_nsp/aaz/latest/network/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_update.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/association/_wait.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link/_update.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link/_wait.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link_reference/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link_reference/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link_reference/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link_reference/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link_reference/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/link_reference/_wait.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/onboarded_resources/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/onboarded_resources/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/onboarded_resources/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_list.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/profile/access_rule/_update.py
  src/nsp/azext_nsp/azext_metadata.json
  src/nsp/setup.py
Labels: Network, Auto-Assign

#6328 update connectedk8s for ARM metadata 2022-09-01
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#6592 AKS: Add vms agentpool type
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_vms_agentpool_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6598 containerapp `containerapp job` add tests
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_crud.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_yaml.py
Labels: Auto-Assign, ContainerApp

#6609 [devcenter] Update dev box definition parameter
  src/devcenter/HISTORY.rst
  src/devcenter/azext_devcenter/aaz/latest/devcenter/admin/devbox_definition/_create.py
  src/devcenter/azext_devcenter/aaz/latest/devcenter/admin/devbox_definition/_delete.py
  src/devcenter/azext_devcenter/aaz/latest/devcenter/admin/devbox_definition/_show.py
  src/devcenter/azext_devcenter/aaz/latest/devcenter/admin/devbox_definition/_update.py
  src/devcenter/azext_devcenter/aaz/latest/devcenter/admin/devbox_definition/_wait.py
  src/devcenter/azext_devcenter/aaz/latest/devcenter/admin/pool/_create.py
  src/devcenter/azext_devcenter/aaz/latest/devcenter/admin/pool/_update.py
  src/devcenter/setup.py
Labels: Auto-Assign

#6472 [Storage-Mover] BREAKING CHANGE: `az storage-mover endpoint create-for-storage-smb-file-share/create-for-smb`: Add new endpoints for storage-smb-file-share and smb mount.
  src/storage-mover/HISTORY.rst
  src/storage-mover/README.md
  src/storage-mover/azext_storage_mover/_help.py
  src/storage-mover/azext_storage_mover/_params.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/_create.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/_delete.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/_list.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/_show.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/_update.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/_wait.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/agent/_create.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/agent/_list.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/agent/_show.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/agent/_unregister.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/agent/_update.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/agent/_wait.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/endpoint/_create.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/endpoint/_delete.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/endpoint/_list.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/endpoint/_show.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/endpoint/_update.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/endpoint/_wait.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_definition/_create.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_definition/_delete.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_definition/_list.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_definition/_show.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_definition/_start_job.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_definition/_stop_job.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_definition/_update.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_definition/_wait.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_run/_list.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/job_run/_show.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/project/_create.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/project/_delete.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/project/_list.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/project/_show.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/project/_update.py
  src/storage-mover/azext_storage_mover/aaz/latest/storage_mover/project/_wait.py
  src/storage-mover/azext_storage_mover/azext_metadata.json
  src/storage-mover/azext_storage_mover/commands.py
  src/storage-mover/azext_storage_mover/custom.py
  src/storage-mover/azext_storage_mover/tests/latest/recordings/test_storage_mover_agent_scenarios.yaml
  src/storage-mover/azext_storage_mover/tests/latest/recordings/test_storage_mover_endpoint_scenarios.yaml
  src/storage-mover/azext_storage_mover/tests/latest/recordings/test_storage_mover_job_definition_scenarios.yaml
  src/storage-mover/azext_storage_mover/tests/latest/recordings/test_storage_mover_project_scenarios.yaml
  src/storage-mover/azext_storage_mover/tests/latest/recordings/test_storage_mover_scenarios.yaml
  src/storage-mover/azext_storage_mover/tests/latest/test_storage_mover.py
  src/storage-mover/setup.py
Labels: Storage, Auto-Assign

#6555 [ContainerApp] Fix #501: az containerapp create --allow-insecure: Add Flag to Allow Container App Insecure Ingress
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6618 containeraapp add tests for ACR look up credential
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_private_registry_port.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_registry_acr_look_up_credentical.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_acr_look_up_credentical.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_crud.py
Labels: Auto-Assign, ContainerApp

#6601 containerapp-preview remove containerapp-preview extension
  .github/CODEOWNERS
  src/containerapp-preview/HISTORY.rst
  src/containerapp-preview/README.rst
  src/containerapp-preview/azext_containerapp_preview/__init__.py
  src/containerapp-preview/azext_containerapp_preview/_clients.py
  src/containerapp-preview/azext_containerapp_preview/_constants.py
  src/containerapp-preview/azext_containerapp_preview/_help.py
  src/containerapp-preview/azext_containerapp_preview/_params.py
  src/containerapp-preview/azext_containerapp_preview/_sdk_enums.py
  src/containerapp-preview/azext_containerapp_preview/_sdk_models.py
  src/containerapp-preview/azext_containerapp_preview/_transformers.py
  src/containerapp-preview/azext_containerapp_preview/_utils.py
  src/containerapp-preview/azext_containerapp_preview/_validators.py
  src/containerapp-preview/azext_containerapp_preview/azext_metadata.json
  src/containerapp-preview/azext_containerapp_preview/commands.py
  src/containerapp-preview/azext_containerapp_preview/containerapp_decorator.py
  src/containerapp-preview/azext_containerapp_preview/custom.py
  src/containerapp-preview/azext_containerapp_preview/tests/__init__.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/__init__.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/common.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/recordings/test_containerapp_preview_e2e.yaml
  src/containerapp-preview/azext_containerapp_preview/tests/latest/recordings/test_containerapp_preview_environment_type.yaml
  src/containerapp-preview/azext_containerapp_preview/tests/latest/test_containerapp_preview_scenario.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/utils.py
  src/containerapp-preview/setup.cfg
  src/containerapp-preview/setup.py
Labels: Auto-Assign, ContainerApp

#6620 Remove containerapp-preview from index.json
  src/index.json
Labels: Auto-Assign, ContainerApp

#6616 {CI} Revert hack code for containerapp-preview
  scripts/ci/build_ext_cmd_tree.sh
  scripts/ci/index_ref_doc.py
  scripts/ci/verify_linter.py
  scripts/refdoc/generate.py
Labels: CI, Auto-Assign, ContainerApp

#6634 [Storage-Preview] `az storage account migration`: Add start and show commands
  src/storage-preview/HISTORY.rst
  src/storage-preview/azext_storage_preview/__init__.py
  src/storage-preview/azext_storage_preview/aaz/__init__.py
  src/storage-preview/azext_storage_preview/aaz/latest/__init__.py
  src/storage-preview/azext_storage_preview/aaz/latest/storage/__cmd_group.py
  src/storage-preview/azext_storage_preview/aaz/latest/storage/__init__.py
  src/storage-preview/azext_storage_preview/aaz/latest/storage/account/__cmd_group.py
  src/storage-preview/azext_storage_preview/aaz/latest/storage/account/__init__.py
  src/storage-preview/azext_storage_preview/aaz/latest/storage/account/migration/__cmd_group.py
  src/storage-preview/azext_storage_preview/aaz/latest/storage/account/migration/__init__.py
  src/storage-preview/azext_storage_preview/aaz/latest/storage/account/migration/_show.py
  src/storage-preview/azext_storage_preview/aaz/latest/storage/account/migration/_start.py
  src/storage-preview/azext_storage_preview/azext_metadata.json
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_account_migration.yaml
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_account_scenarios.py
  src/storage-preview/setup.py
Labels: Storage, Auto-Assign

#6635 {CI} Update policy config
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#6522 [connectedmachine] release stable version 2022-12-27
  src/connectedmachine/HISTORY.rst
  src/connectedmachine/README.md
  src/connectedmachine/azext_connectedmachine/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_assess_patches.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_install_patches.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_upgrade_extension.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/image/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/image/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/image/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/image/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_resource/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_resource/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_resource/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_resource/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/__cmd_group.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/__init__.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_wait.py
  src/connectedmachine/azext_connectedmachine/azext_metadata.json
  src/connectedmachine/azext_connectedmachine/generated/_help.py
  src/connectedmachine/azext_connectedmachine/generated/_params.py
  src/connectedmachine/azext_connectedmachine/generated/commands.py
  src/connectedmachine/azext_connectedmachine/generated/custom.py
  src/connectedmachine/azext_connectedmachine/manual/commands.py
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_ConnectedMachineAndExtension_Scenario.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_machine_and_extension.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_private_link.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/test_ConnectedMachineAndExtension_scenario.py
  src/connectedmachine/azext_connectedmachine/tests/latest/test_PrivateLinkAndPrivateEndpointConnection_scenario.py
  src/connectedmachine/azext_connectedmachine/vendored_sdks/connectedmachine/aio/operations/_private_link_scopes_operations.py
  src/connectedmachine/azext_connectedmachine/vendored_sdks/connectedmachine/operations/_private_link_scopes_operations.py
  src/connectedmachine/report.md
  src/connectedmachine/setup.py
Labels: customer-reported

#6612 {AKS}Replace functions in aks-preview with the ones in azure-cli
  src/aks-preview/HISTORY.rst
  src/aks-preview/README.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_loadbalancer.py
  src/aks-preview/azext_aks_preview/_natgateway.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/azext_metadata.json
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_abort.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_outbound_ips.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_trustedaccess_rolebinding.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_outbound_from_slb_to_natgateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_natgateway.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6638 [dataprotection] Updated documentation for adhoc-backup and validate restores
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_instance/_adhoc_backup.py
Labels: Data Protection, Auto-Assign

#6604 update description of datamigration sql-db create
  src/datamigration/azext_datamigration/generated/_help.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_database_migrations_sql_db_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_database_migrations_sql_db_operations.py
Labels: Data Migration, Auto-Assign

#6642 containerapp remove preview tag for some commands
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
Labels: Auto-Assign, ContainerApp

#6651 {CI} Fix policy migration issue
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#6647 containerapp add three type for enable workload profiles
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_enable_workload_profiles_three_state_flag.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_workloadprofile_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_delete.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e_no_waits.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_workload_profile_commands.py
Labels: Auto-Assign, ContainerApp

#6566 {Container App} az containerapp create --bind "my-app" throws error when service has dashes in the name "-"
  src/containerapp/azext_containerapp/_utils.py
Labels: Auto-Assign, ContainerApp

#6660 Support --token-store, --sas-url-secret, --sas-url-secret-name, --yes for container app auth
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/containerapp_auth_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_auth_commands.py
Labels: Auto-Assign, ContainerApp

#6663 containerapp allow yaml without environment
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_preview_create_with_environment_id.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_environment_id.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_create_update_with_yaml.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_yaml.py
Labels: Auto-Assign, ContainerApp

#6672 Add command az containerapp show-custom-domain-verification-id
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_get_customdomainverificationid_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6683 [k8s-extension] Update extension CLI to v1.4.3
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureMonitorMetrics.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/ContainerInsights.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/Dapr.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/OpenServiceMesh.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/dc/defaults.py
  src/k8s-extension/azext_k8s_extension/utils.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#6684 Add "az spring flush-virtualnetwork-dns-settings" feature
  src/spring/HISTORY.md
  src/spring/azext_spring/_help.py
  src/spring/azext_spring/commands.py
  src/spring/azext_spring/custom.py
  src/spring/azext_spring/tests/latest/recordings/test_flush_virtualnetwork_dns_settings_service.yaml
  src/spring/azext_spring/tests/latest/test_asa_scenario.py
  src/spring/setup.py
Labels: Auto-Assign

#6691 Add list-usages command for container app
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_transformers.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_usages.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#6692 {k8s-extension} drop `azure-mgmt-relay` sdk dependency
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/__init__.py
  src/k8s-extension/azext_k8s_extension/aaz/__init__.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/__init__.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/__cmd_group.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/__init__.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/__cmd_group.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/__init__.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/_create.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/_show.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/authorization_rule/__cmd_group.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/authorization_rule/__init__.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/authorization_rule/_create.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/authorization_rule/keys/__cmd_group.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/authorization_rule/keys/__init__.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/hyco/authorization_rule/keys/_list.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/namespace/__cmd_group.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/namespace/__init__.py
  src/k8s-extension/azext_k8s_extension/aaz/latest/relay/namespace/_create.py
  src/k8s-extension/azext_k8s_extension/azext_metadata.json
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureMLKubernetes.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#6695 {AKS} Outbound ip/ outbound ipprefix and managed outbound ip should be mutually exclusive
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_loadbalancer.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_loadbalancer.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6698 {containerapp} add --enable-wordload-profiles helps and add preview tag
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_managed_service_binding_e2e.yaml
Labels: Auto-Assign, ContainerApp

#6702 [k8s-extension] Roll back k8s-extension to 1.4.3
  src/index.json
Labels: Auto-Assign

#6711 {containerapp} fix extension url
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp
