Repository Azure/azure-cli-extensions, pull requests merged in 2023-06, with the labels that each got.

#6348 Bug fix in connectedk8s 1.3.19
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_precheckutils.py
  src/connectedk8s/azext_connectedk8s/_troubleshootutils.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#6231 [Serial-Console] Fix pair mapping region for eastus to westus
  src/serial-console/HISTORY.rst
  src/serial-console/azext_serialconsole/_arm_endpoints.py
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_check_resource_VM.yaml
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_check_resource_VMSS.yaml
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_enable_disable.yaml
  src/serial-console/setup.py
Labels: customer-reported, Serial Console, Auto-Assign

#6343 [dataprotection] Migrate `recovery-point` and `job` subgroups to AAZ-dev-tools
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/job/__cmd_group.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/job/__init__.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/job/_list.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/job/_show.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/recovery_point/__cmd_group.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/recovery_point/__init__.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/recovery_point/_list.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/recovery_point/_show.py
  src/dataprotection/azext_dataprotection/azext_metadata.json
  src/dataprotection/azext_dataprotection/generated/_help.py
  src/dataprotection/azext_dataprotection/generated/_params.py
  src/dataprotection/azext_dataprotection/generated/commands.py
  src/dataprotection/azext_dataprotection/generated/custom.py
  src/dataprotection/azext_dataprotection/manual/_params.py
  src/dataprotection/azext_dataprotection/manual/aaz_operations/recovery_point.py
  src/dataprotection/azext_dataprotection/manual/commands.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/manual/helpers.py
  src/dataprotection/azext_dataprotection/manual/tests/latest/test_dataprotection_scenario.py
  src/dataprotection/azext_dataprotection/manual/version.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_Scenario.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_aks.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_oss.yaml
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_aks_workload.py
  src/dataprotection/setup.py
Labels: customer-reported, Data Protection, Auto-Assign

#6357 {AKS} Add options for users to specify guardrails
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_guardrails.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_guardrails.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6358 [Spring] add new arg --build-certificates for az spring app deploy
  src/spring/HISTORY.md
  src/spring/azext_spring/_buildservices_factory.py
  src/spring/azext_spring/_params.py
  src/spring/azext_spring/_validators_enterprise.py
  src/spring/azext_spring/app.py
  src/spring/azext_spring/commands.py
  src/spring/setup.py
Labels: Auto-Assign

#6375 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#6362 Add sqlServerSchema command in data migration
  src/datamigration/HISTORY.rst
  src/datamigration/README.md
  src/datamigration/azext_datamigration/manual/_help.py
  src/datamigration/azext_datamigration/manual/_params.py
  src/datamigration/azext_datamigration/manual/commands.py
  src/datamigration/azext_datamigration/manual/custom.py
  src/datamigration/azext_datamigration/manual/helper.py
  src/datamigration/setup.py
Labels: Data Migration, Auto-Assign

#6372 {dataprotection} quickfix: making the `aaz_operations` folder a module
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/manual/aaz_operations/__init__.py
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#6380 [Firewall] Fix #26592: `az network firewall policy`: Unhashable `--identity`
  src/azure-firewall/HISTORY.rst
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/setup.py
Labels: Network, Auto-Assign

#6367 containerapp – Add table transforms for az containerapp job execution
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/commands.py
Labels: Auto-Assign, ContainerApp

#6379 {AKS} Update monitor metrics related option names
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6390 {AKS} Fix live test execution by fixing version of vcrpy
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
Labels: AKS, Auto-Assign

#6386 [dataprotection] Add support for cross-subscription restore for Backup vaults
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/__cmd_group.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_create.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_delete.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_list.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_show.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_update.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_wait.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/job/_list.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/job/_show.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/recovery_point/_list.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/recovery_point/_show.py
  src/dataprotection/azext_dataprotection/azext_metadata.json
  src/dataprotection/azext_dataprotection/manual/_params.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_Scenario.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_aks.yaml
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#6395 ml extension 2.18.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#6393 Add the network observability cli extension
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: Auto-Assign

#6401 {CI} Update index.json
  src/index.json
Labels: CI, Auto-Assign

#6400 {CI} Update config.yml
  .github/azure-client-tools-bot/config.yml
Labels: CI, Auto-Assign

#6406 containerapp --registry-server support custom port
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_private_registry_port.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6407 Fix validation for containerapp name
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/custom.py
Labels: Auto-Assign, ContainerApp

#6410 containerapp - Add integration tests for patch
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_environment_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_resource_group_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_show_all_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_without_arguments_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_image_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_source_with_buildpack_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_source_with_dockerfile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_patch.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
  src/containerapp/azext_containerapp/tests/latest/utils.py
  src/containerapp/setup.cfg
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#6402 support acs gen2
  src/spring/HISTORY.md
  src/spring/azext_spring/_help.py
  src/spring/azext_spring/_params.py
  src/spring/azext_spring/_tanzu_component.py
  src/spring/azext_spring/_validators.py
  src/spring/azext_spring/_validators_enterprise.py
  src/spring/azext_spring/application_configuration_service.py
  src/spring/azext_spring/commands.py
  src/spring/azext_spring/spring_instance.py
  src/spring/azext_spring/tests/latest/recordings/test_application_configuration_service.yaml
  src/spring/azext_spring/tests/latest/test_asa_application_configuration_service.py
  src/spring/setup.py
Labels: AKS, Auto-Assign

#6399 Fix container app create not waiting for ready environment
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_workloadprofile_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_delete.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e_no_waits.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_workload_profile_commands.py
Labels: Auto-Assign, ContainerApp

#6428 Resolve error when fetching Container App workflow name with 'up' command
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#6434 [k8s-extension] Update extension CLI to v1.4.2
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/ContainerInsights.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#6439 Add terminationGracePeriodSeconds support For container app
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_sdk_models.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_termination_grace_period_seconds.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6443 containerapp fix env logs show error
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventstream.yaml
Labels: Auto-Assign, ContainerApp

#6437 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#6457 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign, ContainerApp

#6435 [devcenter] Mitigation for ARG 5000 subscription limit
  src/devcenter/HISTORY.rst
  src/devcenter/azext_devcenter/utils.py
  src/devcenter/setup.py
Labels: Auto-Assign

#6448 Fix the revision suffix validation bug
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_validators.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp
