Repository Azure/azure-cli-extensions, pull requests merged in 2023-01, with the labels that each got.

#5685 {AKS} Align aks commands
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_trustedaccess_rolebinding.yaml
Labels: AKS, Auto-Assign

#5674 [Compute] Fix #5663: `az image copy`: Fix subscription id input by user being override
  src/image-copy/azext_imagecopy/custom.py
  src/image-copy/azext_imagecopy/tests/latest/recordings/test_image_copy.yaml
  src/image-copy/azext_imagecopy/tests/latest/test_image_copy_commands.py
Labels: Compute, Auto-Assign

#5687 [Network Manager] `az network manager security-admin-config`: Upgrade API version from 2022-01-01 to 2022-05-01
  src/network-manager/HISTORY.rst
  src/network-manager/azext_network_manager/__init__.py
  src/network-manager/azext_network_manager/_client_factory.py
  src/network-manager/azext_network_manager/_help.py
  src/network-manager/azext_network_manager/_params.py
  src/network-manager/azext_network_manager/aaz/__init__.py
  src/network-manager/azext_network_manager/aaz/latest/__init__.py
  src/network-manager/azext_network_manager/aaz/latest/network/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/__init__.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/__init__.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/__init__.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_update.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_wait.py
  src/network-manager/azext_network_manager/azext_metadata.json
  src/network-manager/azext_network_manager/commands.py
  src/network-manager/azext_network_manager/custom.py
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_admin_rule_collection_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_admin_rule_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_security_admin_config_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_security_admin_config_v2.yaml
  src/network-manager/azext_network_manager/tests/latest/test_network_scenario.py
  src/network-manager/setup.py
Labels: Network, Auto-Assign

#5688 [Compute] `az image copy`: Update HISTORY.rst and setup.py for upgrading
  src/image-copy/HISTORY.rst
  src/image-copy/setup.py
Labels: Compute, Auto-Assign

#5686 {CI} Update milestone from Dec 2022 (2023-01-03) to Jan 2023 (2023-02-07)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5725 {AKS} Fix test `test_aks_create_and_update_with_http_proxy_config`
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
Labels: AKS, Auto-Assign

#5558 CLI for Azure load testing
  .github/CODEOWNERS
  src/load/HISTORY.rst
  src/load/README.md
  src/load/azext_load/__init__.py
  src/load/azext_load/_help.py
  src/load/azext_load/_params.py
  src/load/azext_load/aaz/__init__.py
  src/load/azext_load/aaz/latest/__init__.py
  src/load/azext_load/aaz/latest/load/__cmd_group.py
  src/load/azext_load/aaz/latest/load/__init__.py
  src/load/azext_load/aaz/latest/load/_create.py
  src/load/azext_load/aaz/latest/load/_delete.py
  src/load/azext_load/aaz/latest/load/_list.py
  src/load/azext_load/aaz/latest/load/_show.py
  src/load/azext_load/aaz/latest/load/_update.py
  src/load/azext_load/aaz/latest/load/_wait.py
  src/load/azext_load/azext_metadata.json
  src/load/azext_load/commands.py
  src/load/azext_load/custom.py
  src/load/azext_load/operations/__init__.py
  src/load/azext_load/operations/create.py
  src/load/azext_load/operations/update.py
  src/load/azext_load/tests/__init__.py
  src/load/azext_load/tests/latest/__init__.py
  src/load/azext_load/tests/latest/recordings/test_load_scenarios.yaml
  src/load/azext_load/tests/latest/test_load.py
  src/load/setup.cfg
  src/load/setup.py
  src/service_name.json
Labels: do-not-merge

#5728 {AzureContainerapp} fixes Azure/azure-cli-extensions#5673 fix for hostname bind
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5730 Fix null custom domain issue for container app
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5733 [Network] `az bastion`: Move Azure Bastion to Azure CLI Extension
  .github/CODEOWNERS
  src/bastion/HISTORY.rst
  src/bastion/README.md
  src/bastion/azext_bastion/__init__.py
  src/bastion/azext_bastion/_help.py
  src/bastion/azext_bastion/_params.py
  src/bastion/azext_bastion/_process_helper.py
  src/bastion/azext_bastion/aaz/__init__.py
  src/bastion/azext_bastion/aaz/latest/__init__.py
  src/bastion/azext_bastion/aaz/latest/network/__cmd_group.py
  src/bastion/azext_bastion/aaz/latest/network/__init__.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/__cmd_group.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/__init__.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_create.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_delete.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_list.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_show.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_update.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_wait.py
  src/bastion/azext_bastion/azext_metadata.json
  src/bastion/azext_bastion/commands.py
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/tests/__init__.py
  src/bastion/azext_bastion/tests/latest/__init__.py
  src/bastion/azext_bastion/tests/latest/recordings/test_bastion_host_crud.yaml
  src/bastion/azext_bastion/tests/latest/test_bastion.py
  src/bastion/azext_bastion/tunnel.py
  src/bastion/setup.cfg
  src/bastion/setup.py
  src/service_name.json
Labels: Network, Auto-Assign

#5744 {AKS} Sync monitorning addon test changes
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5745 Refine container app tests
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_environment.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_registry_all_args.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_both_cpus_and_deploy_cpu.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_deploy_cpu.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_service_cpus.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_secrets.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_secrets_and_existing_environment.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_transport_mapping_arg.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_basic.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_command.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_environment.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_ingress.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_registries.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_resources.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_scale.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_secrets.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_transport_overrides.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
Labels: Auto-Assign, ContainerApp

#5742 chore(arcdata): version bump 1.4.10
  src/index.json
Labels: Auto-Assign

#5757 Add the KataMshvVmIsolation option to --workload-runtime
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5752 [AKS] Add validator for update outbound type operation
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#5749 {AzureContainerApp} fixes Azure/azure-cli-extensions#5743 PermissionError for temp file
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_up_utils.py
Labels: Auto-Assign, ContainerApp

#5759 {AKS} Update minimum required cli core version to `2.44.0`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/azext_metadata.json
Labels: AKS, Auto-Assign

#5779 {AKS} `aks create`: Add new parameter `--data-collection-settings` to support for AKS Monitoring Addon in MSI auth mode
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/data/datacollectionsettings.json
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5780 {AKS} Raise InvalidArgumentValueError for azure cni + pod_cidr without overlay
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5786 {CI} Update fabricbot.json to support extension regression test pipeline
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5784 [AKS] Add more description for outbound type update and loosen the validati…
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#5755 Add ml extension 2.13.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5788 add --node-os-upgrade-channel to az aks create and az aks update
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_auto_upgrade_channel_and_node_os_upgrade_channel.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_node_os_upgrade_channel.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5783 {AKS} Update readme
  src/aks-preview/HISTORY.rst
  src/aks-preview/README.rst
Labels: AKS, Auto-Assign

#5796 [IoT] Adds IoT Extension v0.19.0
  linter_exclusions.yml
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5799 [AKS] Fx maintenanceconfiguration option name for error msg
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/maintenanceconfiguration.py
  src/aks-preview/azext_aks_preview/tests/latest/test_maintenanceconfiguration.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5797 {containerapp} Add new containerapp codeowners and remove old codeowners
  .github/CODEOWNERS
Labels: Auto-Assign, ContainerApp

#5794 [vm-repair] Adding hyperv gen to az vm repair create
  src/vm-repair/HISTORY.rst
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/azext_vm_repair/repair_utils.py
  src/vm-repair/azext_vm_repair/scripts/win-enable-nested-hyperv.ps1
  src/vm-repair/setup.py
Labels: Compute, Auto-Assign

#5811 {CI} Update milestone from Jan 2023 (2023-02-07) to Feb 2023 (2023-03-07)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5820 [k8s-extension] Update extension CLI to v1.3.9
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/_params.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#5607 cli-heuristics-change
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_precheckutils.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign
