Repository Azure/azure-cli-extensions, pull requests merged in 2023-11, with the labels that each got.

#6930 Change PUT to PATCH for update command
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_api_key_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_service_account_e2e.yaml
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#6928 [dataprotection] Added UAMI support while setting permissions for AKS backup/restore
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#6933 {CI} Modify the extension's azdev test to use the `azext_xxx` directory
  scripts/ci/test_source.py
Labels: CI, Auto-Assign, ContainerApp

#6921 add `endpoint-id` to `az monitor data-collection rule association`
  src/monitor-control-service/HISTORY.rst
  src/monitor-control-service/azext_amcs/manual/_params.py
  src/monitor-control-service/azext_amcs/manual/_validators.py
  src/monitor-control-service/azext_amcs/manual/custom.py
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_endpoint.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_endpoint_association.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_rule.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_monitor_control_service_commands.yaml
  src/monitor-control-service/azext_amcs/tests/latest/test_monitor_control_service_scenario.py
  src/monitor-control-service/setup.py
Labels: Monitor, Auto-Assign

#6934 [AKS] add enable-image-integrity
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_image_integrity_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_image_integrity.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6923 Azure Cli extension for network-analytics data-product
  .github/CODEOWNERS
  src/network-analytics/HISTORY.rst
  src/network-analytics/README.md
  src/network-analytics/azext_network_analytics/__init__.py
  src/network-analytics/azext_network_analytics/_help.py
  src/network-analytics/azext_network_analytics/_params.py
  src/network-analytics/azext_network_analytics/aaz/__init__.py
  src/network-analytics/azext_network_analytics/aaz/latest/__init__.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/__cmd_group.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/__init__.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/__cmd_group.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/__init__.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/_add_user_role.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/_create.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/_delete.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/_list.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/_list_roles_assignment.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/_remove_user_role.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/_show.py
  src/network-analytics/azext_network_analytics/aaz/latest/network_analytics/data_product/_wait.py
  src/network-analytics/azext_network_analytics/azext_metadata.json
  src/network-analytics/azext_network_analytics/commands.py
  src/network-analytics/azext_network_analytics/custom.py
  src/network-analytics/azext_network_analytics/tests/__init__.py
  src/network-analytics/azext_network_analytics/tests/latest/__init__.py
  src/network-analytics/azext_network_analytics/tests/latest/recordings/test_data_product_e2e.yaml
  src/network-analytics/azext_network_analytics/tests/latest/test_network_analytics.py
  src/network-analytics/setup.cfg
  src/network-analytics/setup.py
  src/service_name.json
Labels: Network, Auto-Assign

#6919 [Container Apps] Enable Cloud Build on ACA CLI
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_archive_utils.py
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_cloud_build_utils.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_create_update_with_source.py
Labels: Auto-Assign, ContainerApp

#6945 Connectedvmware GA release
  src/connectedvmware/HISTORY.rst
  src/connectedvmware/azext_connectedvmware/_client_factory.py
  src/connectedvmware/azext_connectedvmware/custom.py
  src/connectedvmware/azext_connectedvmware/tests/latest/recordings/test_connectedvmware.yaml
  src/connectedvmware/setup.py
Labels: Auto-Assign

#6936 {AKS} `az aks update`: Add `--network-plugin` to support updating cluster networking settings
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_cni_overlay_migration_from_kubenet.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Network, Auto-Assign

#6916 [AKS] Add the KataCcIsolation option to --workload-runtime
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#6881 update VirtualMachines related helper msg
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS, Auto-Assign

#6951 feat(retina): add disable network observability command for update
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Network, Auto-Assign

#6865 {AKS} az aks nodepool add/update/upgrade: add new parameter --node-soak-duration
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_drain_timeout.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_node_soak_duration.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6953 {AKS} `az aks create/update`: Add `--node-provisioning-mode` flag
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_node_provisioning_mode_manual.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_node_provisioning_mode_manual.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#6946 Add Warning and Update Help text
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/_help.py
  src/k8s-extension/azext_k8s_extension/_params.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#6857 [containerapp] Add support to initialize Dapr components
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_dapr_utils.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_components.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_dapr_utils.py
Labels: Auto-Assign, ContainerApp

#6955 {AKS} `az aks nodepool add/update`: Add option `--enable-artifact-streaming` to support artifact streaming
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/linter_exclusions.yml
Labels: AKS, Auto-Assign

#6654 [containerapp] `az containerapp env create`: Support --enable-dedicated-gpu
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_workload_profile_commands.py
Labels: Auto-Assign, ContainerApp

#6958 [AKS] Approuting cli simplification
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_enable_disable.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_enable_with_keyvault_secrets_provider_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_update.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_zone_add_delete_list.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_zone_update.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_app_routing_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#6942 {AKS} fix supportPlan calc in cli-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#6944 {AKS} `az aks nodepool update`: Add option `--os-sku` to support updating os sku in place
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_agentpool_os_sku.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6949 {connectedk8s} log debug if 'arcConfigEndpoint' doesn't exist
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#6870 [AuthV2] BREAKING CHANGE: `az webapp auth-classic update`: Remove json output for auth-classic update
  src/authV2/HISTORY.rst
  src/authV2/azext_authV2/_help.py
  src/authV2/azext_authV2/custom.py
  src/authV2/azext_authV2/tests/latest/recordings/test_authV2_authclassic.yaml
  src/authV2/azext_authV2/tests/latest/test_authV2_scenario.py
  src/authV2/setup.py
Labels: extension/webapp, customer-reported, App Services, Web Apps, Auto-Assign

#6962 [devcenter] Update data plane operation due to bug in swagger
  src/devcenter/HISTORY.rst
  src/devcenter/azext_devcenter/vendored_sdks/devcenter_dataplane/operations/_operations.py
  src/devcenter/setup.py
Labels: Auto-Assign

#6964 {AKS}: Fix the issue that the value passed by option `--os-sku` in command `az aks nodepool update` is not processed
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_agentpool_os_sku.yaml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6906 [ASA] add planned maintenance support
  src/spring/HISTORY.md
  src/spring/azext_spring/_help.py
  src/spring/azext_spring/_params.py
  src/spring/azext_spring/_validators.py
  src/spring/azext_spring/custom.py
  src/spring/azext_spring/tests/latest/recordings/test_enable_planned_maintenance.yaml
  src/spring/azext_spring/tests/latest/test_asa_scenario.py
  src/spring/azext_spring/tests/latest/test_asa_update.py
  src/spring/setup.py
Labels: Auto-Assign

#6969 [ContainerApp] `az containerapp env create/update`: support --logs-dynamic-json-columns to parse log to json columns
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_la_dynamic_json.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#6960 [containerapp] az containerapp add-on create: Support add-on commands; deprecation of service commands
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_addon_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: customer-reported, Auto-Assign, ContainerApp

#6976 [IoT] IoT Operations Extension v0.1.0b1
  src/index.json
Labels: IoT/CLI, Auto-Assign

#6977 [containerapp] Revert remove deprecate command `az containerapp env workload-profile set`
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e_no_waits.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_workload_profile_commands.py
Labels: Auto-Assign, ContainerApp

#6978 [ContainerApp] Update history for container app
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
Labels: Auto-Assign, ContainerApp

#6939 [containerapp] `az containerapp create/update`: Support --customized-keys and clientType in --bind for dev service
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/action.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_customized_keys_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_customized_keys_yaml_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_preview_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_update_azure_queue.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6983 [containerapp] Give a better error message when customer uses --artif…
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_artifact_with_bullseye_buildpack_e2e.yaml
Labels: Auto-Assign, ContainerApp

#6984 {containerapp} Re-record failing source-to-cloud patch tests
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_environment_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_node18_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_python310_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_resource_group_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_show_all_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_without_arguments_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_patch.py
  src/containerapp/azext_containerapp/tests/latest/utils.py
Labels: Auto-Assign, ContainerApp

#6992 Release 2.22.0 ml cli extension
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#7000 Arc Appliance CLI: 1.0.1 [November Release]
  src/index.json
Labels: Auto-Assign

#6995 [az fleet] updated help examples
  src/fleet/HISTORY.rst
  src/fleet/azext_fleet/_help.py
  src/fleet/azext_fleet/custom.py
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet_hubful.yaml
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet_hubless.yaml
  src/fleet/setup.py
Labels: Auto-Assign

#7003 Arc Appliance CLI: 1.0.1 [November Release] [with package bump]
  src/index.json
Labels: Auto-Assign

#6999 {AKS} `az aks nodepool update`: Update enum for --os-sku to match allowed values
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#7008 [IoT] Adds IoT Operations extension v0.1.0b2
  src/index.json
Labels: IoT/CLI, Auto-Assign

#7006 [Bastion] adding rdp file to temp location and adding auth-type for rdp
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/_params.py
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/developer_sku_helper.py
  src/bastion/azext_bastion/tunnel.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#7010 {CI} Update pipeline to use Python 3.11
  azure-pipelines.yml
Labels: CI, Auto-Assign

#7014 {AKS} `az aks update`: Remove outbound limit in update description
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
Labels: AKS, Auto-Assign

#7011 {AKS} `az aks update`: force `--network-policy=cilium` whenever `--network-dataplane=cilium`
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Network, Auto-Assign

#7023 [Bastion] add auth type password for rdp and fix line formatting issue
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/custom.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#6968 [AKS] Fix for app routing CLI
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_enable_disable.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_enable_with_keyvault_secrets_provider_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_update.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_zone_add_delete_list.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_zone_update.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_web_application_routing_dns_zone_not_exist.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_web_application_routing_with_private_dns_zone.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_app_routing_enabled.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7004 [containerapp] `az containerapp up`: support create or update containerapp on connected env
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_client_factory.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/custom_preparers.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_managed_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_image_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_on_arc_auto_install_extension_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_on_arc_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_source_with_bookworm_buildpack_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_source_with_dockerfile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up_on_connected_env.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/__init__.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/_configuration.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/_connected_kubernetes_client.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/_version.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/models/__init__.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/models/_connected_kubernetes_client_enums.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/models/_models.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/models/_models_py3.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/operations/__init__.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/operations/_connected_cluster_operations.py
  src/containerapp/azext_containerapp/vendored_sdks/hybridkubernetes/operations/_operations.py
Labels: Auto-Assign, ContainerApp

#7024 [ContainerApp] Cloud Build Bugfix - 500 Internal Server Error (Wrong env selected to create builder)
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_azurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_preview_connected_env_storage.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_on_arc_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_source_with_multiple_environments_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
  src/containerapp/azext_containerapp/tests/latest/utils.py
Labels: Auto-Assign, ContainerApp

#6973 [Vm-repair] Fix in az vm repair run --preview parameter
  src/vm-repair/HISTORY.rst
  src/vm-repair/azext_vm_repair/_help.py
  src/vm-repair/azext_vm_repair/custom.py
  src/vm-repair/azext_vm_repair/scripts/win-run-driver.ps1
  src/vm-repair/setup.py
Labels: Compute, Auto-Assign

#7039 [Containerapp] az containerapp: Change the container-app name and container-app job name in the example to legal names and Bump version 0.3.45
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#6796 [StreamAnalytics] Remove Experimental
  src/stream-analytics/HISTORY.rst
  src/stream-analytics/azext_stream_analytics/azext_metadata.json
  src/stream-analytics/azext_stream_analytics/generated/commands.py
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_input_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_job_scale.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_output_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_private_endpoint_crud.yaml
  src/stream-analytics/setup.py
Labels: Stream Analytics, Auto-Assign

#7042 [Bastion] Addressing issue wtih aad and removing preview flag
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/azext_metadata.json
  src/bastion/azext_bastion/custom.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#7046 [Containerapp] `az containerapp update`: Fix issue for --min-replicas is not set when the value is 0
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_replica_commands.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#7049 revert connectedk8s 1.5.5
  src/index.json
Labels: Connected Kubernetes, Auto-Assign

#7053 [Containerapp] Bump version 0.3.46
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_replica_commands.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_update.yaml
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp
