Repository Azure/azure-cli-extensions, pull requests merged in 2023-03, with the labels that each got.

#5936 {Firewall} `az network firewall create`: Fix creation fails with AZFW_Hub SKU
  src/azure-firewall/HISTORY.rst
  src/azure-firewall/azext_firewall/_help.py
  src/azure-firewall/azext_firewall/custom.py
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_management_ip_config.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_virtual_hub.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_virtual_hub_with_public_ips.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_azure_firewall_with_firewall_policy_premium.yaml
  src/azure-firewall/azext_firewall/tests/latest/recordings/test_firewall_basic_sku.yaml
  src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py
  src/azure-firewall/setup.py
Labels: Network, Auto-Assign

#5851 Add logins migration command
  src/datamigration/HISTORY.rst
  src/datamigration/README.md
  src/datamigration/azext_datamigration/manual/_help.py
  src/datamigration/azext_datamigration/manual/_params.py
  src/datamigration/azext_datamigration/manual/commands.py
  src/datamigration/azext_datamigration/manual/custom.py
  src/datamigration/azext_datamigration/manual/helper.py
  src/datamigration/setup.py
Labels: customer-reported, Data Migration, Auto-Assign

#5946 Retrieve the correct resource group based on the storage account
  src/serial-console/HISTORY.rst
  src/serial-console/azext_serialconsole/custom.py
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_check_resource_VM.yaml
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_check_resource_VMSS.yaml
  src/serial-console/azext_serialconsole/tests/latest/recordings/test_enable_disable.yaml
  src/serial-console/setup.py
Labels: customer-reported, Serial Console, Auto-Assign

#5894 containerapp – fix error when running `az containerapp up` with no Dockerfile
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_msi.yaml
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5951 {AKS} Fix UT for setting up network profile
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Network, Auto-Assign

#5964 Containerapp: fix Unknown properties internalLoadBalancerEnabled
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_models.py
Labels: Auto-Assign, ContainerApp

#5966 {CI} Update container app reviewers
  .github/fabricbot.json
Labels: CI, Auto-Assign, ContainerApp

#5973 {Fabric Bot} Updating notification for Compute
  .github/fabricbot.json
Labels: Compute, Auto-Assign

#5949 {AKS} `az aks trustedaccess rolebinding create`: Change the short name of option `--source-resource-id` to `-r`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#5977 {AKS} `az aks create`: Correct help message for option `--os-sku`
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#5981 Remove 0.3.22 from index.json
  src/index.json
Labels: Auto-Assign, ContainerApp

#5955 Containerapp 0.3.23 release
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_certificate_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5945 add network aaz cmd needed for ssh
  src/ssh/HISTORY.md
  src/ssh/azext_ssh/__init__.py
  src/ssh/azext_ssh/aaz/__init__.py
  src/ssh/azext_ssh/aaz/latest/__init__.py
  src/ssh/azext_ssh/aaz/latest/network/__cmd_group.py
  src/ssh/azext_ssh/aaz/latest/network/__init__.py
  src/ssh/azext_ssh/aaz/latest/network/nic/__cmd_group.py
  src/ssh/azext_ssh/aaz/latest/network/nic/__init__.py
  src/ssh/azext_ssh/aaz/latest/network/nic/_show.py
  src/ssh/azext_ssh/aaz/latest/network/public_ip/__cmd_group.py
  src/ssh/azext_ssh/aaz/latest/network/public_ip/__init__.py
  src/ssh/azext_ssh/aaz/latest/network/public_ip/_show.py
  src/ssh/azext_ssh/azext_metadata.json
  src/ssh/azext_ssh/ip_utils.py
  src/ssh/setup.py
Labels: Compute, Network, Spring Cloud, VM SSH, Auto-Assign

#5924 {CI} Add test for the blueprint extension.
  src/blueprint/azext_blueprint/tests/latest/recordings/test_blueprint.yaml
  src/blueprint/azext_blueprint/tests/latest/test_blueprint_scenario.py
Labels: CI, Auto-Assign

#5971 replace network sdk for spring
  src/spring/HISTORY.md
  src/spring/azext_spring/__init__.py
  src/spring/azext_spring/_validators.py
  src/spring/azext_spring/aaz/__init__.py
  src/spring/azext_spring/aaz/latest/__init__.py
  src/spring/azext_spring/aaz/latest/network/__cmd_group.py
  src/spring/azext_spring/aaz/latest/network/__init__.py
  src/spring/azext_spring/aaz/latest/network/vnet/__cmd_group.py
  src/spring/azext_spring/aaz/latest/network/vnet/__init__.py
  src/spring/azext_spring/aaz/latest/network/vnet/_show.py
  src/spring/azext_spring/azext_metadata.json
  src/spring/azext_spring/tests/latest/test_asa_validator.py
  src/spring/setup.py
Labels: Network, Auto-Assign

#5972 replace network sdk for spring-cloud
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/__init__.py
  src/spring-cloud/azext_spring_cloud/_validators.py
  src/spring-cloud/azext_spring_cloud/aaz/__init__.py
  src/spring-cloud/azext_spring_cloud/aaz/latest/__init__.py
  src/spring-cloud/azext_spring_cloud/aaz/latest/network/__cmd_group.py
  src/spring-cloud/azext_spring_cloud/aaz/latest/network/__init__.py
  src/spring-cloud/azext_spring_cloud/aaz/latest/network/vnet/__cmd_group.py
  src/spring-cloud/azext_spring_cloud/aaz/latest/network/vnet/__init__.py
  src/spring-cloud/azext_spring_cloud/aaz/latest/network/vnet/_show.py
  src/spring-cloud/azext_spring_cloud/azext_metadata.json
  src/spring-cloud/azext_spring_cloud/tests/latest/test_asc_validator.py
  src/spring-cloud/setup.py
Labels: Network, Spring Cloud, Auto-Assign

#5989 {AKS} Update cli tests disable upgrade node image related tests
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5976 [amg]: backup, restore and sync command
  src/amg/HISTORY.rst
  src/amg/azext_amg/_client_factory.py
  src/amg/azext_amg/_help.py
  src/amg/azext_amg/_params.py
  src/amg/azext_amg/backup.py
  src/amg/azext_amg/commands.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/restore.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_api_key_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_service_account_e2e.yaml
  src/amg/azext_amg/tests/latest/test_amg_scenario.py
  src/amg/azext_amg/utils.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#5970 Fix incorrect URL
  src/serial-console/setup.py
Labels: customer-reported, Serial Console, Auto-Assign

#5925 {CI} Optimize the extension test: Use `azdev test` for testing, consistent with the main repo
  .azure-pipelines/templates/azdev_setup.yml
  azure-pipelines.yml
  scripts/ci/test_source.py
  scripts/ci/test_source.sh
Labels: CI, Auto-Assign

#5992 feat: add windows recording rules to azure monitor metrics addon (managed prometheus)
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/azuremonitorprofile.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_azuremonitormetrics.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: Auto-Assign

#6004 fix public ip address ref
  src/ssh/HISTORY.md
  src/ssh/azext_ssh/ip_utils.py
  src/ssh/setup.py
Labels: Compute, VM SSH, Auto-Assign

#6005 [Containerapp] Decouple with the `network` module
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/__init__.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/aaz/__init__.py
  src/containerapp/azext_containerapp/aaz/latest/__init__.py
  src/containerapp/azext_containerapp/aaz/latest/network/__cmd_group.py
  src/containerapp/azext_containerapp/aaz/latest/network/__init__.py
  src/containerapp/azext_containerapp/aaz/latest/network/vnet/__cmd_group.py
  src/containerapp/azext_containerapp/aaz/latest/network/vnet/__init__.py
  src/containerapp/azext_containerapp/aaz/latest/network/vnet/_show.py
  src/containerapp/azext_containerapp/azext_metadata.json
  src/containerapp/setup.py
Labels: Network, Auto-Assign, ContainerApp

#5978 Containerapp fix ContainerAppClient and ManagedEnvironmentClient async polling
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_anonymous_registry.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_basic_no_existing_resources.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_environment.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_environment_prompt.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_ingress_both.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_ingress_external.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_ingress_internal.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_ingress_prompt.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_registry_all_args.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_registry_server_arg_only.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_replicas_global_scale.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_replicas_replicated_mode.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_both_cpus_and_deploy_cpu.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_deploy_cpu.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_service_cpus.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_secrets.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_secrets_and_existing_environment.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_secrets_and_existing_environment_conflict.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_transport_arg.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_transport_mapping_arg.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_with_command_list.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_with_command_list_and_entrypoint.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_with_command_string.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_components.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions_deny.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_msi.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_revision_label_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_create.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_revision_copy.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_update.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update_containers.yaml
Labels: Auto-Assign, ContainerApp

#6031 fix subscription id type
  src/spring-cloud/HISTORY.md
  src/spring-cloud/azext_spring_cloud/_validators.py
  src/spring-cloud/setup.py
Labels: Spring Cloud, Auto-Assign

#6039 [storage-blob-preview] `az storage blob copy start`: Fix auth issue
  src/storage-blob-preview/HISTORY.rst
  src/storage-blob-preview/azext_storage_blob_preview/operations/blob.py
  src/storage-blob-preview/setup.py
Labels: Storage, Auto-Assign

#5909 {CI} Add test for the automation extension.
  src/automation/azext_automation/tests/latest/recordings/test_automation.yaml
  src/automation/azext_automation/tests/latest/recordings/test_automation_schedule.yaml
  src/automation/azext_automation/tests/latest/recordings/test_automation_software_update_configuration.yaml
  src/automation/azext_automation/tests/latest/test_automation_scenario_manual.py
Labels: CI, Auto-Assign

#6037 {CI} Auto manage milestone
  .github/azure-client-tools-bot/config.yml
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5969 [containerapp] Fix YAML create with user-assigned identity
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6055 Corrected misspelled install command
  src/resource-graph/README.md
Labels: customer-reported

#6062 {AKS} Fix test several test cases
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_cilium_dataplane.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#6035 {Databricks} Upgrade databricks with CodeGen v2
  src/databricks/HISTORY.rst
  src/databricks/azext_databricks/aaz/latest/databricks/access_connector/_create.py
  src/databricks/azext_databricks/aaz/latest/databricks/access_connector/_delete.py
  src/databricks/azext_databricks/aaz/latest/databricks/access_connector/_list.py
  src/databricks/azext_databricks/aaz/latest/databricks/access_connector/_show.py
  src/databricks/azext_databricks/aaz/latest/databricks/access_connector/_update.py
  src/databricks/azext_databricks/aaz/latest/databricks/access_connector/_wait.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/_create.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/_delete.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/_list.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/_show.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/_update.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/_wait.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/outbound_endpoint/_list.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/private_endpoint_connection/_create.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/private_endpoint_connection/_delete.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/private_endpoint_connection/_list.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/private_endpoint_connection/_show.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/private_endpoint_connection/_update.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/private_endpoint_connection/_wait.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/private_link_resource/_list.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/private_link_resource/_show.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/vnet_peering/_create.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/vnet_peering/_delete.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/vnet_peering/_list.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/vnet_peering/_show.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/vnet_peering/_update.py
  src/databricks/azext_databricks/aaz/latest/databricks/workspace/vnet_peering/_wait.py
  src/databricks/azext_databricks/azext_metadata.json
  src/databricks/azext_databricks/commands.py
  src/databricks/azext_databricks/custom.py
  src/databricks/azext_databricks/tests/latest/recordings/test_access_connector.yaml
  src/databricks/azext_databricks/tests/latest/recordings/test_access_connector_v2.yaml
  src/databricks/azext_databricks/tests/latest/recordings/test_databricks.yaml
  src/databricks/azext_databricks/tests/latest/recordings/test_databricks_v1.yaml
  src/databricks/azext_databricks/tests/latest/recordings/test_databricks_v2.yaml
  src/databricks/azext_databricks/tests/latest/recordings/test_databricks_vnet_peering.yaml
  src/databricks/azext_databricks/tests/latest/test_databricks_scenario.py
  src/databricks/setup.py
Labels: Code Gen, Auto-Assign

#6003 upgrade monitor webtest api-version to 2022-06-15
  src/application-insights/HISTORY.rst
  src/application-insights/azext_applicationinsights/_client_factory.py
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_appinsights_webtest_crud.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component_with_linked_storage.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component_with_linked_workspace.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_component_with_public_network_access.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_connect_function.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_connect_function_cross_resource_groups.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_connect_webapp.yaml
  src/application-insights/azext_applicationinsights/tests/latest/recordings/test_connect_webapp_cross_resource_group.yaml
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/_application_insights_management_client.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/models.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/__init__.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/_application_insights_management_client.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/_configuration.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/_patch.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/_vendor.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/_version.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/models/__init__.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/models/_application_insights_management_client_enums.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/models/_models_py3.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/models/_patch.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/operations/__init__.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/operations/_patch.py
  src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/v2022_06_15/operations/_web_tests_operations.py
  src/application-insights/setup.py
Labels: Monitor, Auto-Assign

#6054 containerapp fix update environment with patch method
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
Labels: Auto-Assign, ContainerApp

#6053 {AKS} `az aks update`: Remove the error that could not create a role assignment error when the role assignment already exists
  src/aks-preview/azext_aks_preview/_roleassignments.py
Labels: AKS, Auto-Assign

#6061 {AKS} `az aks create/update`: Replace `--uptime-sla` and `--no-uptime-sla` argument with `--tier` argument
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_standard_sku.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#6065 Extension live test fix
  src/elastic-san/azext_elastic_san/tests/latest/recordings/test_elastic_san_volume_group_and_volume_scenarios.yaml
  src/elastic-san/azext_elastic_san/tests/latest/test_elastic_san.py
Labels: Monitor, Auto-Assign

#6071 {CI} Auto manage milestone for pull request
  .github/azure-client-tools-bot/config.yml
  .github/fabricbot.json
Labels: CI, Auto-Assign

#6066 {mobile-network} `az mobile-network site`: Fix example error
  src/mobile-network/HISTORY.rst
  src/mobile-network/azext_mobile_network/aaz/latest/mobile_network/site/_create.py
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network.yaml
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_attached_data_network.yaml
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_data_network.yaml
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_pccp.yaml
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_pcdp.yaml
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_service.yaml
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_sim.yaml
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_site.yaml
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_slice.yaml
  src/mobile-network/setup.py
Labels: Network, Auto-Assign

#6000 changing the experiment version for confluent = false
  src/confluent/HISTORY.rst
  src/confluent/azext_confluent/azext_metadata.json
  src/confluent/azext_confluent/generated/commands.py
  src/confluent/azext_confluent/tests/latest/recordings/test_term_accept_basic_flow.yaml
  src/confluent/setup.py
Labels: customer-reported

#6073 {CI} Support check pull request branch
  .github/azure-client-tools-bot/config.yml
Labels: CI, Auto-Assign

#6079 [ML] CLI version 2.15.0 release
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#6067 [ContainerApp] Fix #6050: `az containerapp ingress update`: Add Command to Update Container App Ingress
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: feature-request, Auto-Assign, ContainerApp

#6074 containerapp: fix create or update containerapp --yaml exposedPort
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_sdk_models.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_vnet_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_update_custom_domains.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#6082 Add az aks mesh commands
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_enable_disable.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_ingress_gateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6127 {CI} Add auto reply for pull request
  .github/workflows/AddPRComment.yml
Labels: CI, Auto-Assign

#6142 {CI} Add auto reply for pull request
  .github/workflows/AddPRComment.yml
Labels: CI, Auto-Assign

#6121 [AKS] Add cluster upgrade settings options to aks update
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_upgrade_settings.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6148 [IoT] Adds IoT Extension Release v0.21.1
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5982 [AKS] allow setting `--pod-cidr` and `--network-plugin-mode` in `az aks update` command
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_cni_overlay_migration.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#6064 Add --network-dataplane to AKS cluster create
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_network_dataplane_cilium.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#6150 {AKS} Release aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6151 {CI} Update fabricbot.json for `az login` and `az account`
  .github/fabricbot.json
Labels: CI, Auto-Assign

#6152 {CI} Update fabricbot.json to add `Azure CLI Team` and `question` label
  .github/fabricbot.json
Labels: CI, Auto-Assign
