Repository Azure/azure-cli-extensions, pull requests merged in 2023-07, with the labels that each got.

#6474 {CI} Temporarily skip the detection of the partnercenter extension in IndexRefDocVerify
  scripts/ci/index_ref_doc.py
Labels: CI, Auto-Assign

#6454 Support for bulk sim upload in Mobile Network.
  src/mobile-network/HISTORY.rst
  src/mobile-network/azext_mobile_network/aaz/latest/mobile_network/sim/group/__init__.py
  src/mobile-network/azext_mobile_network/aaz/latest/mobile_network/sim/group/_bulk_delete_sims.py
  src/mobile-network/azext_mobile_network/aaz/latest/mobile_network/sim/group/_bulk_upload_sims.py
  src/mobile-network/azext_mobile_network/azext_metadata.json
  src/mobile-network/azext_mobile_network/tests/latest/recordings/test_mobile_network_bulk_sim_upload.yaml
  src/mobile-network/azext_mobile_network/tests/latest/test_mobile_network.py
  src/mobile-network/setup.py
Labels: Network, Auto-Assign

#6433 Added 'aks nodepool snapshot update' command
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_snapshot.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6465 {CI} Breaking change tool integration
  .azure-pipelines/breaking-change-tests.yml
  .azure-pipelines/templates/variables.yml
  .github/azure-client-tools-bot/config.yml
  .github/azure-client-tools-bot/templates/BreakingChangeTest.handlebars
  scripts/ci/breaking_change_test.py
  scripts/ci/util.py
Labels: CI, Auto-Assign

#6491 {CI} Fix breaking change test
  scripts/ci/breaking_change_test.py
Labels: CI, Auto-Assign

#6456 {NewRelic} Generate commands with codegen v2
  .github/CODEOWNERS
  src/new-relic/HISTORY.rst
  src/new-relic/README.md
  src/new-relic/azext_new_relic/__init__.py
  src/new-relic/azext_new_relic/_help.py
  src/new-relic/azext_new_relic/_params.py
  src/new-relic/azext_new_relic/aaz/__init__.py
  src/new-relic/azext_new_relic/aaz/latest/__init__.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/__cmd_group.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/__init__.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/account/__cmd_group.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/account/__init__.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/account/_list.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/__cmd_group.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/__init__.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_create.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_delete.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_get_metric_rule.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_get_metric_statu.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_list.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_list_app_service.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_list_host.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_monitored_resource.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_show.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_switch_billing.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_vm_host_payload.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/_wait.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/tag_rule/__cmd_group.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/tag_rule/__init__.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/tag_rule/_create.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/tag_rule/_delete.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/tag_rule/_list.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/tag_rule/_show.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/tag_rule/_update.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/monitor/tag_rule/_wait.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/organization/__cmd_group.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/organization/__init__.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/organization/_list.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/plan/__cmd_group.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/plan/__init__.py
  src/new-relic/azext_new_relic/aaz/latest/new_relic/plan/_list.py
  src/new-relic/azext_new_relic/azext_metadata.json
  src/new-relic/azext_new_relic/commands.py
  src/new-relic/azext_new_relic/custom.py
  src/new-relic/azext_new_relic/tests/__init__.py
  src/new-relic/azext_new_relic/tests/latest/__init__.py
  src/new-relic/azext_new_relic/tests/latest/recordings/test_new_relic_monitor.yaml
  src/new-relic/azext_new_relic/tests/latest/test_new_relic.py
  src/new-relic/setup.cfg
  src/new-relic/setup.py
  src/service_name.json
Labels: Code Gen, Auto-Assign

#6492 {CI} Fix breaking change test
  scripts/ci/breaking_change_test.py
Labels: CI, Auto-Assign

#6464 {AKS} Extend containerinsights `--data-collection-settings` with new fields "streams" and containerlogv2
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/tests/latest/data/datacollectionsettings.json
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6500 {CI} Fix breaking change test
  scripts/ci/breaking_change_test.py
Labels: CI, Auto-Assign

#6419 containerapp add containerapp-preview extension
  .github/CODEOWNERS
  scripts/ci/verify_linter.py
  src/containerapp-preview/HISTORY.rst
  src/containerapp-preview/README.rst
  src/containerapp-preview/azext_containerapp_preview/__init__.py
  src/containerapp-preview/azext_containerapp_preview/_clients.py
  src/containerapp-preview/azext_containerapp_preview/_constants.py
  src/containerapp-preview/azext_containerapp_preview/_help.py
  src/containerapp-preview/azext_containerapp_preview/_params.py
  src/containerapp-preview/azext_containerapp_preview/_sdk_enums.py
  src/containerapp-preview/azext_containerapp_preview/_sdk_models.py
  src/containerapp-preview/azext_containerapp_preview/_transformers.py
  src/containerapp-preview/azext_containerapp_preview/_utils.py
  src/containerapp-preview/azext_containerapp_preview/_validators.py
  src/containerapp-preview/azext_containerapp_preview/azext_metadata.json
  src/containerapp-preview/azext_containerapp_preview/commands.py
  src/containerapp-preview/azext_containerapp_preview/containerapp_decorator.py
  src/containerapp-preview/azext_containerapp_preview/custom.py
  src/containerapp-preview/azext_containerapp_preview/tests/__init__.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/__init__.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/common.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/recordings/test_containerapp_preview_e2e.yaml
  src/containerapp-preview/azext_containerapp_preview/tests/latest/recordings/test_containerapp_preview_environment_type.yaml
  src/containerapp-preview/azext_containerapp_preview/tests/latest/test_containerapp_preview_scenario.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/utils.py
  src/containerapp-preview/setup.cfg
  src/containerapp-preview/setup.py
Labels: Auto-Assign, ContainerApp

#6481 Add check if validation_method and raise exception before using it
  src/containerapp/azext_containerapp/custom.py
Labels: customer-reported, Auto-Assign, ContainerApp

#6378 Add --node-taints to az aks command
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_update_taint_msi.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6507 {CI} Fix verify ref docs
  scripts/ci/index_ref_doc.py
  scripts/refdoc/generate.py
Labels: CI, Auto-Assign, ContainerApp

#6508 {CI} Revert `Temporarily skip the detection of the partnercenter extension in IndexRefDocVerify`
  scripts/ci/index_ref_doc.py
Labels: CI, Auto-Assign

#6501 containerapp refactor client
  src/containerapp-preview/azext_containerapp_preview/_clients.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/test_containerapp_preview_scenario.py
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
Labels: Auto-Assign, ContainerApp

#6511 containerapp refactor decorator
  src/containerapp-preview/azext_containerapp_preview/containerapp_decorator.py
  src/containerapp-preview/azext_containerapp_preview/custom.py
  src/containerapp-preview/azext_containerapp_preview/tests/latest/test_containerapp_preview_scenario.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/custom.py
Labels: Auto-Assign, ContainerApp

#6512 {AKS} `az aks addon update`: Fix unexpected error 'Addon "web_application_routing" is not enabled in this cluster'
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6520 containerapp-preview requires containerapp version >= 0.3.36
  src/containerapp-preview/HISTORY.rst
  src/containerapp-preview/azext_containerapp_preview/_constants.py
Labels: Auto-Assign, ContainerApp

#6521 {CI} Update the `--dependent-file` parameter to be an optional argument to avoid introducing a breaking change.
  scripts/ci/index_ref_doc.py
  scripts/refdoc/generate.py
Labels: CI, Auto-Assign

#6526 [Storage-Preview] `az storage file/directory` Trailing dot support, add `--disallow-trailing-dot` and `--disallow-source-trailing-dot`
  src/storage-preview/HISTORY.rst
  src/storage-preview/azext_storage_preview/_client_factory.py
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/tests/latest/recordings/test_storage_file_trailing_dot_scenario.yaml
  src/storage-preview/azext_storage_preview/tests/latest/test_storage_file_scenarios.py
  src/storage-preview/setup.py
Labels: Storage, Auto-Assign

#6514 {Bastion} az network bastion rdp fails with NullPointerException
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/tunnel.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#6529 {AKS} Fix test case `test_aks_create_and_update_web_application_routing_dns_zone`
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#6533 [IoT] IoT extension release v0.21.4
  linter_exclusions.yml
  src/index.json
Labels: IoT/CLI, Auto-Assign

#6539 Fix Azure Quantum CLI extension tests
  src/quantum/azext_quantum/tests/latest/recordings/test_get_provider.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_job_errors.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_jobs.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_submit.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_targets.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_version_check.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace.yaml
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
  src/quantum/azext_quantum/tests/latest/test_quantum_offerings.py
  src/quantum/azext_quantum/tests/latest/test_quantum_targets.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
  src/quantum/azext_quantum/tests/latest/utils.py
Labels: Quantum, Auto-Assign

#6545 {CI} Add description to Resource Management Policy
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#6546 {CI} Update policy config
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#6531 containerapp-preview auto install containerapp extension
  src/containerapp-preview/HISTORY.rst
  src/containerapp-preview/azext_containerapp_preview/__init__.py
  src/containerapp-preview/azext_containerapp_preview/_utils.py
Labels: Auto-Assign, ContainerApp

#6557 {AKS} Fix test recordings broken by vmss/pip API version bump
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_outbound_ips.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_trustedaccess_rolebinding.yaml
Labels: AKS, Auto-Assign

#6552 containerapp refactor containerapp auth show/update
  src/containerapp/azext_containerapp/containerapp_auth_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_auth_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
Labels: Auto-Assign, ContainerApp

#6561 containerapp refactor job create
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_withidentity_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_withsecret_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
Labels: Auto-Assign, ContainerApp

#6567 [Network] `az network vhub connection`: Fix cross-tenant connection cannot be created
  src/virtual-wan/HISTORY.rst
  src/virtual-wan/azext_vwan/_client_factory.py
  src/virtual-wan/azext_vwan/_help.py
  src/virtual-wan/azext_vwan/_params.py
  src/virtual-wan/azext_vwan/aaz/latest/network/vhub/connection/__cmd_group.py
  src/virtual-wan/azext_vwan/aaz/latest/network/vhub/connection/__init__.py
  src/virtual-wan/azext_vwan/aaz/latest/network/vhub/connection/_create.py
  src/virtual-wan/azext_vwan/aaz/latest/network/vhub/connection/_delete.py
  src/virtual-wan/azext_vwan/aaz/latest/network/vhub/connection/_list.py
  src/virtual-wan/azext_vwan/aaz/latest/network/vhub/connection/_show.py
  src/virtual-wan/azext_vwan/aaz/latest/network/vhub/connection/_update.py
  src/virtual-wan/azext_vwan/aaz/latest/network/vhub/connection/_wait.py
  src/virtual-wan/azext_vwan/azext_metadata.json
  src/virtual-wan/azext_vwan/commands.py
  src/virtual-wan/azext_vwan/custom.py
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vhub_connection_basic_scenario.yaml
  src/virtual-wan/azext_vwan/tests/latest/recordings/test_azure_vwan_vhub_bgpconnection.yaml
  src/virtual-wan/azext_vwan/tests/latest/test_azure_vwan_vhub_commands.py
  src/virtual-wan/setup.py
Labels: Network, Auto-Assign

#6573 {CI} Fix command tree broken issue
  scripts/ci/build_ext_cmd_tree.sh
Labels: CI, Auto-Assign, ContainerApp

#6572 containerapp 'az containerapp env certificate list': fix --location comparison logic
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_certificate_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#6543 Added client type to az datamigration tde-migration
  src/datamigration/HISTORY.rst
  src/datamigration/azext_datamigration/manual/custom.py
  src/datamigration/setup.py
Labels: Data Migration, Auto-Assign
