Repository Azure/azure-cli-extensions, pull requests merged in 2023-04, with the labels that each got.

#6156 {AKS} Update default test matrix
  src/aks-preview/azcli_aks_live_test/configs/cli_matrix_default.json
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#6045 fix bug for a parameter as a list
  src/datamigration/HISTORY.rst
  src/datamigration/azext_datamigration/manual/custom.py
  src/datamigration/setup.py
Labels: customer-reported, Data Migration, Auto-Assign

#5841 Containerapp - Add CLI changes for sticky sessions ingress
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_sdk_models.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_sticky_sessions_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_ingress_sticky_session.py
Labels: do-not-merge, Auto-Assign, ContainerApp

#6163 {AKS} `az aks update`: refactor pod_cidr and network_plugin_mode getters to check decorator mode
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#6181 {AKS} fix: remove uneeded check for dcr, dcra support
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/azuremonitorprofile.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6182 ml extension 2.15.1
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#6180 Update Container Apps quickstart image
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_anonymous_registry.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_with_transport_mapping_arg.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_custom_domains_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_certificate_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_premium_sku_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_sticky_sessions_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions_deny.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_msi.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_revision_label_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_tcp_ingress.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_image_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update_containers.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_transport_overrides.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_ingress_sticky_session.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_workload_profile_commands.py
Labels: Auto-Assign, ContainerApp

#5990 Azure Cli Extensions - Cosmos DB Restore New Parameter
  src/cosmosdb-preview/HISTORY.rst
  src/cosmosdb-preview/azext_cosmosdb_preview/_params.py
  src/cosmosdb-preview/azext_cosmosdb_preview/custom.py
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_dts.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_gremlin_account_restore_command.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_gremlin_account_restore_using_create.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_gremlin_graph_backupinfo.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_gremlin_restorable_commands.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongo_role.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongodb_collection.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongodb_collection_adaptiveru.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongodb_collection_backupinfo.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongodb_collection_merge.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongodb_database.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongodb_normal_database_prov_collection_restore.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_mongodb_shared_database_prov_collection_restore.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_container.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_container_adaptiveru.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_container_backupinfo.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_container_merge.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_continuous30days.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_continuous7days.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_database.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_migrate_periodic_to_continuous7days.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_normal_database_prov_container_restore.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_normal_database_restore.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_oldestRestorableTime.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_shared_database_prov_container_restore.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_sql_shared_database_restore.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_system_identity_restore.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_table_account_restore_command.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_table_account_restore_using_create.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_table_backupinfo.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_cosmosdb_table_restorable_commands.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_managed_cassandra_cluster_without_datacenters.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/recordings/test_managed_cassandra_verify_lists.yaml
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/test_cosmosdb-cassandrami_scenario.py
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/test_cosmosdb-merge-scenario.py
  src/cosmosdb-preview/azext_cosmosdb_preview/tests/latest/test_cosmosdb-pitr_scenario.py
Labels: customer-reported, Cosmos, Auto-Assign

#6185 {CI} Support check HISTORY.rst and setup.py in extension pull request
  .github/azure-client-tools-bot/config.yml
Labels: CI, Auto-Assign

#6197 CosmosDB-preview version upgrade missed
  src/cosmosdb-preview/setup.py
Labels: customer-reported, Cosmos, Auto-Assign

#6203 {AKS} Fix role assignment failure caused by the breaking change of default API version bump of the auth SDK
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_podidentity.py
  src/aks-preview/azext_aks_preview/_roleassignments.py
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6126 Fix SSH into VMs without public IP
  src/ssh/HISTORY.md
  src/ssh/azext_ssh/ip_utils.py
  src/ssh/setup.py
Labels: customer-reported, Compute, VM SSH, Auto-Assign

#6207 {CI} Fabric bot support routing `az fleet`
  .github/fabricbot.json
Labels: CI, Auto-Assign

#6209 containerapp fix update --no-wait and --yaml
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_update.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#6219 Remove connectedk8s version 1.3.0 from index.sjon
  src/index.json
Labels: Connected Kubernetes, Auto-Assign

#6222 [Bastion] fixing azure cli experience for ip connect
  src/bastion/HISTORY.rst
  src/bastion/README.md
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/tunnel.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#6224 {AKS} Fix several test cases
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_local_accounts.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#6220 containerapp remove unsupported --enable-token-store
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
Labels: Auto-Assign, ContainerApp

#6189 Fix managed certs validation prompt
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#6229 {Alertsmanagement} Add command group `az alerts-management prometheus-rule-group`
  src/alertsmanagement/HISTORY.rst
  src/alertsmanagement/azext_alertsmanagement/__init__.py
  src/alertsmanagement/azext_alertsmanagement/aaz/__init__.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/__init__.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/__cmd_group.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/__init__.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/prometheus_rule_group/__cmd_group.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/prometheus_rule_group/__init__.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/prometheus_rule_group/_create.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/prometheus_rule_group/_delete.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/prometheus_rule_group/_list.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/prometheus_rule_group/_show.py
  src/alertsmanagement/azext_alertsmanagement/aaz/latest/alerts_management/prometheus_rule_group/_update.py
  src/alertsmanagement/azext_alertsmanagement/azext_metadata.json
  src/alertsmanagement/azext_alertsmanagement/tests/latest/recordings/test_alertsmanagement_prometheus_rule_group.yaml
  src/alertsmanagement/azext_alertsmanagement/tests/latest/test_alertsmanagement_scenario.py
  src/alertsmanagement/setup.py
  src/service_name.json
Labels: Alerts Management, Auto-Assign

#6228 [fleet] add multi cluster update commands
  src/fleet/HISTORY.rst
  src/fleet/azext_fleet/_client_factory.py
  src/fleet/azext_fleet/_completers.py
  src/fleet/azext_fleet/_help.py
  src/fleet/azext_fleet/_params.py
  src/fleet/azext_fleet/_validators.py
  src/fleet/azext_fleet/azext_metadata.json
  src/fleet/azext_fleet/commands.py
  src/fleet/azext_fleet/custom.py
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet.yaml
  src/fleet/azext_fleet/tests/latest/test_fleet_scenario.py
  src/fleet/setup.py
Labels: Auto-Assign

#6223 mount secret volume cli
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_secret_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_mount_secret_volume.py
Labels: Auto-Assign, ContainerApp
