Repository Azure/azure-cli-extensions, pull requests merged in 2023-05, with the labels that each got.

#6260 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#6261 {CI} Update AddPRComment.yml
  .github/workflows/AddPRComment.yml
Labels: CI, Auto-Assign

#6259 Release ML 2.16.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#6264 [IoT] Adds IoT Extension Release v0.21.2
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5754 {containerapp} Add scale rule type parameter
  src/containerapp/azext_containerapp/_params.py
Labels: Auto-Assign, ContainerApp

#6265 containerapp release version 0.3.29
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#6255 {AKS} `az aks update`: don't always use the current kube-proxy config when updating cluster
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_kube_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#6271 {AKS} Replace default pool used by test pipelines
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-clean-up.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-live-test.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-unit-test.yaml
Labels: AKS, Auto-Assign

#6252 chore(arcdata): version bump to 1.5.0
  src/index.json
Labels: Auto-Assign

#6279 {CI} App Services add yanzhudd as reviewer
  .github/fabricbot.json
Labels: CI, Auto-Assign

#6276 containerapp remove environment id from patch payload if it has not been changed
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_vnet_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6281 Release ML 2.17.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#6277 {AKS} Patch release history
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/cli_matrix_default.json
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_azuremonitormetrics.yaml
Labels: AKS, Auto-Assign

#6278 Fix appservice kube - No module named 'azure.mgmt.web.v2021_01_01'
  src/appservice-kube/HISTORY.rst
  src/appservice-kube/azext_appservice_kube/custom.py
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_win_webapp_quick_create_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/recordings/test_win_webapp_quick_create_runtime_kube.yaml
  src/appservice-kube/azext_appservice_kube/tests/latest/test_appservice_kube_scenario.py
  src/appservice-kube/setup.py
Labels: extension/webapp, App Services, Web Apps, Auto-Assign

#6285 {AKS} Fix test case `test_aks_byo_appgw_with_ingress_appgw_addon`
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#6083 Add CLI command for binding a service to a container app
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_dev_service_utils.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_managed_service_utils.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_sdk_models.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6292 containerapp add preview flag for springboot
  src/containerapp/azext_containerapp/commands.py
Labels: Auto-Assign, ContainerApp

#6295 Release ML 2.17.1
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#6283 Add Buildpack source to cloud support + Patch commands
  src/containerapp/.gitignore
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#6299 containerapp release version 0.3.30
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#6301 Release ML 2.17.2
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#6303 Fix image tagging for ACR Build scenario in 'containerapp up'
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#6305 [k8s-extension] Update extension CLI to v1.4.1
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/custom.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureMLKubernetes.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/AzureMonitorMetrics.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/__init__.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/amg/__init__.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/amg/link.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/amw/__init__.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/amw/create.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/amw/defaults.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/amw/helper.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/azuremonitorprofile.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/constants.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/dc/__init__.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/dc/dce_api.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/dc/dcr_api.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/dc/dcra_api.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/dc/defaults.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/dc/delete.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/deaults.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/helper.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/recordingrules/__init__.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/recordingrules/create.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/recordingrules/delete.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/responseparsers/__init__.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/responseparsers/amwlocationresponseparser.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#6310 Anfranci/fix update cmd for jobs
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_event_triggered_crud.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#6321 [keyvault-preview] Remove keyvault-preview extension since all have been supported in main CLI
  src/index.json
Labels: KeyVault, Auto-Assign

#6308 Adding Cluster Connect endpoint network check (OBO endpoint)
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_precheckutils.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/setup.py
Labels: Auto-Assign

#6326 [Vm-repair] VM-repair removing unnecessary check
  src/vm-repair/HISTORY.rst
  src/vm-repair/azext_vm_repair/repair_utils.py
  src/vm-repair/setup.py
Labels: Auto-Assign

#6327 Include test coverage for "containerapp service redis/postgres delete"
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6311 [AKS PREVIEW]aks create: Change the default value of --enable-msi-auth-for-monitoring to true and add check for airgap clouds
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6335 {CI} Refine GitHub issue template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.yml
  .github/ISSUE_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: CI, Auto-Assign

#6336 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#6341 containerapp fix az containerapp create with --registry-identity system and --revision-suffix
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#6354 [IoT] Adds IoT Extension Release v0.21.3
  src/index.json
Labels: IoT/CLI, Auto-Assign
