Repository Azure/azure-cli-extensions, pull requests merged in 2023-02, with the labels that each got.

#5827 [Bastion] Changes for releasse 0.2.0
  src/bastion/setup.py
Labels: Network, Auto-Assign

#5828 [Storage] `az storage blob list`: Remove from extension since it has been supported in CLI
  src/storage-blob-preview/azext_storage_blob_preview/_params.py
  src/storage-blob-preview/azext_storage_blob_preview/commands.py
  src/storage-blob-preview/azext_storage_blob_preview/operations/blob.py
  src/storage-preview/azext_storage_preview/_params.py
  src/storage-preview/azext_storage_preview/commands.py
  src/storage-preview/azext_storage_preview/operations/blob.py
Labels: Storage, Auto-Assign

#5782 Container app may return null in the dapr object, which cli should handle gracefully
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: customer-reported, Auto-Assign, ContainerApp

#5834 [IoT] Adds IoT Extension v0.19.1
  src/index.json
Labels: IoT/CLI, Auto-Assign

#5830 {AKS} Update recordings to fix failed test cases caused by `vm` command bumped API version
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_trustedaccess_rolebinding.yaml
Labels: AKS, Compute, Auto-Assign

#5670 [AKS] Mark AAD-legacy properties deprecated
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#5290 [Quantum] Submit jobs directly to service, Phase 1
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/_storage.py
  src/quantum/azext_quantum/azext_metadata.json
  src/quantum/azext_quantum/operations/job.py
  src/quantum/azext_quantum/operations/target.py
  src/quantum/azext_quantum/operations/workspace.py
  src/quantum/azext_quantum/tests/latest/input_data/Program.qs
  src/quantum/azext_quantum/tests/latest/input_data/QIO-Problem-2.json
  src/quantum/azext_quantum/tests/latest/input_data/Qiskit-3-qubit-GHZ-circuit.json
  src/quantum/azext_quantum/tests/latest/input_data/Qrng.bc
  src/quantum/azext_quantum/tests/latest/input_data/QuantumRNG.csproj
  src/quantum/azext_quantum/tests/latest/input_data/bell-state.quil
  src/quantum/azext_quantum/tests/latest/recordings/test_get_provider.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_submit.yaml
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
  src/quantum/azext_quantum/tests/latest/test_quantum_targets.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
  src/quantum/azext_quantum/tests/latest/utils.py
  src/quantum/setup.py
Labels: Quantum, Auto-Assign

#5795 Changes in AMD64 connectedk8s cli for ARM64 clusters
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/troubleshoot_diagnoser_job_with_proxycert_mount.yaml
  src/connectedk8s/azext_connectedk8s/troubleshoot_diagnoser_job_without_proxycert.yaml
Labels: Connected Kubernetes, Auto-Assign

#5272 Adding custom token support
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_client_factory.py
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_params.py
  src/connectedk8s/azext_connectedk8s/_precheckutils.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/troubleshoot_diagnoser_job_without_proxycert.yaml
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#5850 ML Extension for 2.14.0
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#5849 [Quantum] Update version and history info for az quantum extension 0.18.0
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/setup.py
Labels: Quantum, Auto-Assign

#5868 Refine location config in test for container apps
  src/containerapp/azext_containerapp/tests/latest/common.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_basic.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_command.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_environment.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_ingress.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_registries.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_resources.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_scale.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_secrets.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_transport_overrides.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
Labels: Auto-Assign, ContainerApp

#5741 Fix for --unauthenticated-client-action V2 issue
  src/authV2/HISTORY.rst
  src/authV2/azext_authV2/_params.py
  src/authV2/azext_authV2/tests/latest/recordings/test_authV2_auth.yaml
  src/authV2/azext_authV2/tests/latest/recordings/test_authV2_authclassic.yaml
  src/authV2/azext_authV2/tests/latest/recordings/test_authV2_clientsecret_param_combinations.yaml
  src/authV2/setup.py
Labels: extension/webapp, App Services, Web Apps, Auto-Assign

#5858 Bastion extension bug fixes
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/developer_sku_helper.py
  src/bastion/azext_bastion/tests/latest/recordings/test_bastion_host_crud.yaml
  src/bastion/azext_bastion/tests/latest/test_bastion.py
  src/bastion/azext_bastion/tunnel.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#5515 {CI} Support min version test for extensions
  .azure-pipelines/templates/azdev_setup.yml
  azure-pipelines.yml
  scripts/ci/get_python_version.py
  scripts/ci/test_min_version.py
Labels: CI, Auto-Assign

#5865 {storage-preview} `az storage account`: Update help for `--access-tier`
  src/storage-preview/azext_storage_preview/__init__.py
Labels: Storage, Auto-Assign

#5877 Revert "{CI} Support min version test for extensions"
  .azure-pipelines/templates/azdev_setup.yml
  azure-pipelines.yml
  scripts/ci/get_python_version.py
  scripts/ci/test_min_version.py
Labels: CI, Auto-Assign

#5879 {AKS} Fix live test pipeline
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
Labels: AKS, Auto-Assign

#5813 Migrate `dataprotection backup-vault` to AAZ-dev-tools and add support for immutable vaults and soft delete
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/__init__.py
  src/dataprotection/azext_dataprotection/aaz/__init__.py
  src/dataprotection/azext_dataprotection/aaz/latest/__init__.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/__cmd_group.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/__init__.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/__cmd_group.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/__init__.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_create.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_delete.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_list.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_show.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_update.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_wait.py
  src/dataprotection/azext_dataprotection/azext_metadata.json
  src/dataprotection/azext_dataprotection/generated/_help.py
  src/dataprotection/azext_dataprotection/generated/commands.py
  src/dataprotection/azext_dataprotection/generated/custom.py
  src/dataprotection/azext_dataprotection/manual/commands.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/manual/operations/custom_aaz.py
  src/dataprotection/azext_dataprotection/manual/tests/latest/test_dataprotection_scenario.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_Scenario.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_oss.yaml
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#5882 [dataprotection] Release 0.7.0
  src/dataprotection/azext_dataprotection/manual/version.py
Labels: Data Protection, Auto-Assign

#5880 {AKS} Fix test case `test_aks_create_and_update_with_node_restriction`
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_node_restriction.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5843 Containerapp 0.3.22 Release
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_client_factory.py
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#5886 {AKS} Update default live test matrix
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5890 {AKS} Fix test recording `test_aks_create_and_update_with_http_proxy_config`
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
Labels: AKS, Auto-Assign

#5889 {AKS} update AKV secrets provider help description
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
Labels: AKS, Auto-Assign

#5895 [k8s-extension] Update extension CLI to v1.4.0
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/ContainerInsights.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/Dapr.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#5896 Revert containerapp 0.3.22 release
  src/index.json
Labels: Auto-Assign, ContainerApp

#5855 Enable automatic upgrade supports for connectedvmware VM extension.
  src/connectedvmware/HISTORY.rst
  src/connectedvmware/azext_connectedvmware/_params.py
  src/connectedvmware/azext_connectedvmware/custom.py
  src/connectedvmware/azext_connectedvmware/tests/latest/recordings/test_connectedvmware.yaml
  src/connectedvmware/azext_connectedvmware/tests/latest/test_connectedvmware_scenario.py
  src/connectedvmware/azext_connectedvmware/vmware_constants.py
  src/connectedvmware/azext_connectedvmware/vmware_utils.py
  src/connectedvmware/setup.py
Labels: Compute, Auto-Assign

#5887 RE batching
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/commands.py
  src/quantum/azext_quantum/operations/job.py
Labels: customer-reported, Quantum, Auto-Assign

#5907 Fix test case for azure container app
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#5905 Remove history notes of the reverted version 0.3.22
  src/containerapp/HISTORY.rst
Labels: Auto-Assign, ContainerApp

#5908 {AKS} az aks update: enable outbound migration from/to udr in BYO vnet scenario
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#5914 [Azure Bastion] Bug fixes in IP connect
  src/bastion/HISTORY.rst
  src/bastion/README.md
  src/bastion/azext_bastion/_validators.py
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/tunnel.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#5915 {AKS} publish new release 0.5.130
  src/aks-preview/HISTORY.rst
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5901 {AKS} `az aks nodepool upgrade`: Align command implementation
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5917 {AKS} Update node os upgrade channel related test cases
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#5919 Revert "[Release] Update index.json for extension [ aks-preview ]"
  src/index.json
Labels: AKS, Auto-Assign

#5923 [StorageMover] `az storage-mover endpoint create/update`: Remove preview tag
  src/storage-mover/HISTORY.rst
  src/storage-mover/azext_storage_mover/commands.py
  src/storage-mover/setup.py
Labels: Storage, Auto-Assign

#5922 Azure Bastion - bug fixes
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/custom.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#5912 [Quantum] Add --skip-autoadd parameter
  src/quantum/azext_quantum/_help.py
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/operations/workspace.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
Labels: Quantum, Auto-Assign

#5884 [Image Copy] az image copy: Fix #25431: ambiguous error message when source disk missed
  src/image-copy/HISTORY.rst
  src/image-copy/azext_imagecopy/__init__.py
  src/image-copy/azext_imagecopy/custom.py
  src/image-copy/setup.py
Labels: extension/image-copy, Compute - Images, Breaking Change

#5929 [Quantum] Fix "NoneType is not iterable" error
  src/quantum/azext_quantum/operations/job.py
Labels: Quantum, Auto-Assign

#5926 [AKS] Allow updating the ssh key value if cluster was created without ssh key
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_no_ssh_key_and_update_ssh_public_key.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#5928 [Quantum] Update version and history info for az quantum extension 0.19.0
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/setup.py
Labels: Quantum, Auto-Assign

#5932 {CI} Update milestone from Feb 2023 (2023-03-07) to March 2023 (2023-04-04)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#5935 [IoT] Adds IoT Extension v0.20.0
  linter_exclusions.yml
  src/index.json
Labels: IoT/CLI, Auto-Assign
