Repository Azure/azure-cli-extensions, pull requests merged in 2024-06, with the labels that each got.

#7454 Add log streaming for container app jobs
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_executions.py
Labels: customer-reported, Auto-Assign, ContainerApp, auto-cal-version

#7669 Refine the error message when user failed to get job log streaming
  src/spring/HISTORY.md
  src/spring/azext_spring/_clierror.py
  src/spring/azext_spring/_utils.py
  src/spring/azext_spring/jobs/job.py
  src/spring/setup.py
Labels: Auto-Assign

#7637 Support library panels for dashboard sync command
  src/amg/HISTORY.rst
  src/amg/azext_amg/_help.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/sync.py
  src/amg/azext_amg/tests/latest/recording_processors.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_api_key_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_service_account_e2e.yaml
  src/amg/azext_amg/tests/latest/test_amg_scenario.py
  src/amg/azext_amg/tests/latest/test_definitions.py
  src/amg/azext_amg/utils.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#7679 [Containerapp] `az containerapp auth update`: Fix AuthConfigSecretRefNotFound
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_auth_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
Labels: Auto-Assign, ContainerApp

#7656 [Container app] `az containerapp job update`: Support job update in extension
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_withidentity_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_withsecret_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_environment_id.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_yaml.py
Labels: Auto-Assign, ContainerApp

#7682 Use case-insensitive comparison in dashboard sync logic
  src/amg/HISTORY.rst
  src/amg/azext_amg/sync.py
  src/amg/setup.py
Labels: Logic App, extension/grafana, Auto-Assign

#7565 connectedvmware 1.1.0
  src/connectedvmware/HISTORY.rst
  src/connectedvmware/azext_connectedvmware/custom.py
  src/connectedvmware/setup.py
Labels: Auto-Assign

#7681 {AKS} Set default vm-set-type and ignore spaces for Mixed SKU
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS, Auto-Assign

#7678 update(retina): remove network observability from cli
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: Network, Auto-Assign

#7701 [IoT] Adds IoT Operations Extension v0.5.1b1
  src/index.json
Labels: IoT/CLI, Auto-Assign

#7693 [IoT] Adds IoT CLI Extension v0.24.0
  src/index.json
Labels: IoT/CLI, Auto-Assign

#7680 {Containerapp} Fix style
  src/containerapp/azext_containerapp/_client_factory.py
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_cloud_build_utils.py
  src/containerapp/azext_containerapp/_decorator_utils.py
  src/containerapp/azext_containerapp/_dev_service_utils.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_sdk_models.py
  src/containerapp/azext_containerapp/_transformers.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/connected_env_decorator.py
  src/containerapp/azext_containerapp/containerapp_auth_decorator.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/containerapp_env_certificate_decorator.py
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/containerapp_env_storage_decorator.py
  src/containerapp/azext_containerapp/containerapp_env_telemetry_decorator.py
  src/containerapp/azext_containerapp/containerapp_java_decorator.py
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/containerapp_resiliency_decorator.py
  src/containerapp/azext_containerapp/containerapp_session_code_interpreter_decorator.py
  src/containerapp/azext_containerapp/containerapp_sessionpool_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/daprcomponent_resiliency_decorator.py
  src/containerapp/azext_containerapp/dotnet_component_decorator.py
  src/containerapp/azext_containerapp/java_component_decorator.py
Labels: Auto-Assign, ContainerApp

#7703 {AKS} Remove tokens from recordings
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_canary_upgrade.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_enable_disable.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_get_revisions.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_egress_gateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_ingress_gateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_pluginca.yaml
Labels: AKS, Auto-Assign

#7708 {Containerapp} Remove tokens from recordings
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_artifact_with_buildpack_java.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_source_with_acr_task_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_source_with_buildpack_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_source_with_buildpack_java.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_java_component_deprecated.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_environment_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_node18_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_python310_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_with_resource_group_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_patch_list_and_apply_without_arguments_e2e.yaml
Labels: Auto-Assign, ContainerApp

#7555 Address bastion native client Issues and add proper error messages
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/BastionServiceConstants.py
  src/bastion/azext_bastion/_params.py
  src/bastion/azext_bastion/aaz/latest/network/__cmd_group.py
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/tests/latest/recordings/test_bastion_host_crud.yaml
  src/bastion/setup.py
Labels: customer-reported

#7705 chore(arcdata): version bump to 1.5.15
  linter_exclusions.yml
  src/index.json
Labels: Auto-Assign

#7616 [monitor-control-service] Update api-version with issue fix
  src/monitor-control-service/HISTORY.rst
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/endpoint/_create.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/endpoint/_delete.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/endpoint/_list.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/endpoint/_show.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/endpoint/_update.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/endpoint/association/_list.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_create.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_delete.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_list.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_show.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_update.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/association/_create.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/association/_delete.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/association/_list.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/association/_list_by_resource.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/association/_show.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/association/_update.py
  src/monitor-control-service/azext_amcs/azext_metadata.json
  src/monitor-control-service/azext_amcs/custom.py
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_endpoint.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_endpoint_association.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_rule.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_amcs_data_collection_rule_json_arg.yaml
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_monitor_control_service_commands.yaml
  src/monitor-control-service/azext_amcs/tests/latest/rule_files/rule_file_test.json
  src/monitor-control-service/azext_amcs/tests/latest/test_monitor_control_service_scenario.py
  src/monitor-control-service/setup.py
Labels: Monitor

#7712 Containerapp job support keda msi
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventjob_identity_keda.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_identity.py
Labels: Auto-Assign, ContainerApp

#7692 {CI} Switch CredScan task
  azure-pipelines.yml
  scripts/ci/credscan/CredScanSuppressions.json
Labels: CI, Auto-Assign

#7713 {AKS} fix componentbyrelease in v20240402preview
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2024_04_02_preview/models/__init__.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2024_04_02_preview/models/_models_py3.py
Labels: AKS, Auto-Assign

#7722 [Containerapp] Release version 0.3.53
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#7721 {CI} Add codegen survey bot
  .github/workflows/ProcessCodeReview.yml
  scripts/ci/codegen_cal.py
Labels: CI, Code Gen, Auto-Assign

#7734 {CI} Set scripts from base branch
  .github/workflows/ProcessCodeReview.yml
Labels: CI, Auto-Assign

#7736 Update CODEOWNERS of the AOSM extension
  .github/CODEOWNERS
Labels: Auto-Assign, AOSM

#7739 {CI} Pin setuptools version to 70.0.0.
  .azure-pipelines/templates/azdev_setup.yml
Labels: CI, Auto-Assign

#7741 {AKS} Fix several linter & style issues
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/azext_metadata.json
Labels: AKS, Auto-Assign

#7742 {AKS} Fix AKS live test pipeline
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-live-test.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-unit-test.yaml
Labels: AKS, Auto-Assign

#7730 AKS: Add ephemeral disk volume type and nvme perf tier support to Azure Container Storage
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/azurecontainerstorage/_consts.py
  src/aks-preview/azext_aks_preview/azurecontainerstorage/_helpers.py
  src/aks-preview/azext_aks_preview/azurecontainerstorage/_validators.py
  src/aks-preview/azext_aks_preview/azurecontainerstorage/acstor_ops.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7732 [dataprotection] Add support for MUA for CMK operations
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/manual/helpers.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_and_restore_aks.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_and_restore_mysql.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_and_restore_pgflex.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_create_and_delete_blob.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_create_backup_delete_disk.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_list_from_resource_graph.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_blob_point_in_time.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_blob_recovery_point.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_disk.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_softdelete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_update_policy.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_update_protection.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_policy_create_and_delete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_policy_manual.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_create_and_delete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_create_with_cmk_update_and_delete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_list_from_resource_graph.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_update.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_cross_region_restore.yaml
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_backup_instance_create_and_delete.py
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#7724 {CI} Update resourceManagement.yml
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#7751 {CI} Update index.json for workloads extension
  src/index.json
Labels: CI, Auto-Assign
