Repository Azure/azure-cli-extensions, pull requests merged in 2024-08, with the labels that each got.

#7837 [Containerapp] Remove GA commands which exist in azure-cli version 2.62.0 and release 0.3.54
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_client_factory.py
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_transformers.py
  src/containerapp/azext_containerapp/azext_metadata.json
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_auth_decorator.py
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_msi_custom_domains.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_mtls.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_p2p_traffic_encryption.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_usages.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_get_customdomainverificationid_e2e.yaml
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp, release-version-block

#7845 {CI} Fix path exclude for version cal
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#7847 {CI} Fix shell and version extract scripts
  .github/workflows/VersionCalPRComment.yml
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7854 {CI} Adjust workflow vars
  .github/workflows/ProcessCodeReview.yml
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#7862 {Service Connector}fix sql connection command
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_credential_free.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#7863 Fix bug related to the --ampls-resource-id option in the `az aks enable-addons` command
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#6665 [Bastion] Allow to pass ssh_args in "az network bastion ssh"
  linter_exclusions.yml
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/_help.py
  src/bastion/azext_bastion/_params.py
  src/bastion/azext_bastion/custom.py
  src/bastion/setup.py
Labels: customer-reported, Network, Auto-Assign

#7867 [fleet] fix vmsize mapping to pass the value
  src/fleet/HISTORY.rst
  src/fleet/azext_fleet/custom.py
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet_hubful.yaml
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet_hubless.yaml
  src/fleet/azext_fleet/tests/latest/test_fleet_hubful_scenario.py
  src/fleet/setup.py
Labels: Auto-Assign

#7859 [AKS] `az aks create/update`: Support in place param updates for managed prom
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/azuremonitormetrics/azuremonitorprofile.py
  src/aks-preview/azext_aks_preview/azuremonitormetrics/helper.py
Labels: AKS, Auto-Assign

#7870 {AKS} Fix test case `test_aks_create_with_ossku`
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ossku.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_add_with_ossku.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_agentpool_os_sku.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign, skip-cal-version

#7872 {CI} Add skip job config and exit error for version cal
  .github/workflows/VersionCalPRComment.yml
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7865 [AKS] Adding Default NIC Config for App Routing
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_enable_with_internal_nginx_then_disable.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_app_routing_enabled_and_nginx_specified.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_app_routing_enabled_and_nginx_specified_abbrv.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: extension/aks-preview, AKS, Auto-Assign

#7860 feat(acns): add advanced network security fqdn policy feature to az aks create/update
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_acns.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_acns_complex.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_fqdn_policy.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_fqdn_policy_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_acns.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_fqdn_policy.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7857 Move Grafana CRUD commands to AAZ
  src/amg/HISTORY.rst
  src/amg/azext_amg/__init__.py
  src/amg/azext_amg/_help.py
  src/amg/azext_amg/_params.py
  src/amg/azext_amg/aaz/__init__.py
  src/amg/azext_amg/aaz/latest/__init__.py
  src/amg/azext_amg/aaz/latest/grafana/__cmd_group.py
  src/amg/azext_amg/aaz/latest/grafana/__init__.py
  src/amg/azext_amg/aaz/latest/grafana/_create.py
  src/amg/azext_amg/aaz/latest/grafana/_delete.py
  src/amg/azext_amg/aaz/latest/grafana/_list.py
  src/amg/azext_amg/aaz/latest/grafana/_show.py
  src/amg/azext_amg/aaz/latest/grafana/_update.py
  src/amg/azext_amg/aaz/latest/grafana/_wait.py
  src/amg/azext_amg/azext_metadata.json
  src/amg/azext_amg/commands.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_api_key_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_service_account_e2e.yaml
  src/amg/azext_amg/tests/latest/test_amg_scenario.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#7883 [dataprotection] Bug fix - missing parameter when calling `initialize-for-data-recovery`
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#7834 feat(acns): Add advanced networking observability tls management for az aks create and update commands
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_advanced_networking_observability_tls_management.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_acns.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_acns_complex.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_advanced_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_acns.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_advanced_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7876 [ContainerApp] support pull image using env msi
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/containerapp_job_registry_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_registry.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_msi.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_identity_registry.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_identity.py
Labels: Auto-Assign, ContainerApp

#7889 {ServiceConnector} add param --new
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_credential_free.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_params.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_resource_config.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/custom.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#7897 [Containerapp] Release version `0.3.55`
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_update.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#7884 Stable oracle-database for Azure CLI support
  src/oracle-database/HISTORY.rst
  src/oracle-database/azext_oracle_database/azext_metadata.json
  src/oracle-database/setup.py
Labels: stable

#7900 {AKS} Correct release history
  src/aks-preview/HISTORY.rst
Labels: AKS, Auto-Assign

#7886 [AKS] `az aks create/update`: Support UserAssigned Managed Identity for grafana linking in managed prometheus
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/azuremonitormetrics/amg/link.py
  src/aks-preview/setup.py
Labels: AKS, extension/grafana, Auto-Assign

#7901 {CI} Adjust comment hint and remove label check
  .github/workflows/BlockPRMerge.yml
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7903 {CI} Bypass intermediate changed files grep failure
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#7905 {CI} Block illegal extension version
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7909 {AKS} Fix test case `test_aks_create_and_update_with_http_proxy_config`
  src/aks-preview/README.rst
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
Labels: AKS, Auto-Assign

#7902 {AKS} Remove aks_create_with_loadbalancer_and_update_to_none_outbound
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_loadbalancer_and_update_to_none_outbound.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#7892 Create AMG list-all-available-plugins
  src/amg/HISTORY.rst
  src/amg/azext_amg/aaz/latest/grafana/__init__.py
  src/amg/azext_amg/aaz/latest/grafana/_list_available_plugin.py
  src/amg/azext_amg/aaz/latest/grafana/_update.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_dry_run.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_override.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_remapping.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_simple_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_api_key_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_service_account_e2e.yaml
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#7913 {Containerapp} Update recording files
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_azurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_nfsazurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_infrastructure_rg.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#7888 AKS: Update the VM SKU regex check to handle all vm skus possible for Azure Container Storage
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/azurecontainerstorage/_helpers.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7916 [connectedk8s] change to support breaking change introduced in k8s version 1.31.0
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_precheckutils.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#7918 {AKS} `az aks get-versions`: Add a new column `supportPlan` when the command output is in table format
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_check_network.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
Labels: AKS, Auto-Assign

#7904 Adding new bare metal infrastructure api version, 2024-08-01-preview
  src/baremetal-infrastructure/HISTORY.rst
  src/baremetal-infrastructure/README.md
  src/baremetal-infrastructure/azext_baremetal_infrastructure/__init__.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/_help.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/_params.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/__init__.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/__init__.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/__cmd_group.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/__init__.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/_create.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/_delete.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/_list.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/_restart.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/_show.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/_shutdown.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/_start.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalinstance/_update.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalstorageinstance/__cmd_group.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalstorageinstance/__init__.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalstorageinstance/_create.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalstorageinstance/_delete.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalstorageinstance/_list.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalstorageinstance/_show.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/aaz/latest/baremetalstorageinstance/_update.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/azext_metadata.json
  src/baremetal-infrastructure/azext_baremetal_infrastructure/commands.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/custom.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/tests/__init__.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/tests/latest/__init__.py
  src/baremetal-infrastructure/azext_baremetal_infrastructure/tests/latest/recordings/test_list_baremetalinstances_in_resourcegroup.yaml
  src/baremetal-infrastructure/azext_baremetal_infrastructure/tests/latest/recordings/test_list_baremetalinstances_in_subscription.yaml
  src/baremetal-infrastructure/azext_baremetal_infrastructure/tests/latest/recordings/test_list_baremetalstorageinstances_in_resourcegroup.yaml
  src/baremetal-infrastructure/azext_baremetal_infrastructure/tests/latest/recordings/test_list_baremetalstorageinstances_in_subscription.yaml
  src/baremetal-infrastructure/azext_baremetal_infrastructure/tests/latest/test_baremetal_infrastructure.py
  src/baremetal-infrastructure/setup.cfg
  src/baremetal-infrastructure/setup.py
  src/service_name.json
Labels: skip-cal-version

#7919 {Containerapp} Make test more stable for network resource requests
  src/containerapp/azext_containerapp/tests/latest/custom_preparers.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_nfsazurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_infrastructure_rg.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_nfsazurefile.py
Labels: Network, Auto-Assign, ContainerApp

#7908 remove node restriction from cli
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: major
