Repository Azure/azure-cli-extensions, pull requests merged in 2024-09, with the labels that each got.

#7928 [Containerapp] `az containerapp env create`: Support `--dapr-connection-string` and release version `1.0.0b1`
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_connection_string_extension.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_session_code_interpreter.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_session_code_interpreter_nodelts.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up_on_connected_env.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#7933 {storagesync} Remove ADAL dependencies
  src/storagesync/HISTORY.rst
  src/storagesync/azext_storagesync/_validators.py
  src/storagesync/azext_storagesync/tests/latest/recordings/test_storagesync.yaml
  src/storagesync/setup.py
Labels: Auto-Assign, Storagesync

#7923 {alertsmanagement} Remove ADAL dependencies
  src/alertsmanagement/HISTORY.rst
  src/alertsmanagement/azext_alertsmanagement/_params.py
  src/alertsmanagement/azext_alertsmanagement/_validators.py
  src/alertsmanagement/azext_alertsmanagement/custom.py
  src/alertsmanagement/azext_alertsmanagement/tests/latest/recordings/test_alertsmanagement_processing_rule.yaml
  src/alertsmanagement/setup.py
Labels: Alerts Management, Auto-Assign

#7956 [k8s-runtime] Migrate graphrbac to MS Graph sdk
  src/k8s-runtime/HISTORY.rst
  src/k8s-runtime/azext_k8s_runtime/custom_commands/common.py
  src/k8s-runtime/setup.py
Labels: Auto-Assign

#7958 {AKS} Remove dependency on `azure.graphrbac`
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/custom.py
Labels: AKS, Auto-Assign

#7935 AMG migrate short uid bugfix.
  src/amg/HISTORY.rst
  src/amg/azext_amg/migrate.py
  src/amg/azext_amg/restore.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_dry_run.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_override.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_remapping.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_simple_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_api_key_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_service_account_e2e.yaml
  src/amg/azext_amg/tests/latest/test_amg_migrate_scenario.py
  src/amg/azext_amg/tests/latest/test_definitions.py
  src/amg/azext_amg/utils.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#7925 AMG: dashboard sync bug fixes, add skip folder permissions arg for backup cmd, remove msrestazure dependency
  src/amg/HISTORY.rst
  src/amg/azext_amg/_params.py
  src/amg/azext_amg/backup.py
  src/amg/azext_amg/backup_core.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/sync.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_dry_run.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_override.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_remapping.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_simple_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_private_endpoint.yaml
  src/amg/azext_amg/tests/latest/recordings/test_api_key_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_service_account_e2e.yaml
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#7965 {AKS} Remove dependency on `msrestazure.azure_exceptions` and `msrestazure.tools`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_completers.py
  src/aks-preview/azext_aks_preview/_roleassignments.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/addonconfiguration.py
  src/aks-preview/azext_aks_preview/aks_diagnostics.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#7960 [AKS] Remove syntax sugar for az aks update --ssh-access and update help message
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_ssh.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign, major

#7953 {ServiceConnector passwordless}: Update `run_cli_cmd` by using `cli.invoke` for `az`-related cmds execution
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_utils.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/action.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#7976 [Containerapp] Release version `1.0.0b2`
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_identity_registry.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_identity.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#7977 {AKS} Add outbound type none and block
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_block_and_update_to_none_outbound.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2024_07_02_preview/models/_container_service_client_enums.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7983 Adding changes to sanities auth-key in datamigration register-integration-runtime
  src/datamigration/HISTORY.rst
  src/datamigration/azext_datamigration/manual/_help.py
  src/datamigration/azext_datamigration/manual/custom.py
  src/datamigration/azext_datamigration/manual/helper.py
  src/datamigration/setup.py
Labels: Data Migration, Auto-Assign

#7984 [connectedvmware] Enable VM using moName
  src/connectedvmware/HISTORY.rst
  src/connectedvmware/azext_connectedvmware/_help.py
  src/connectedvmware/azext_connectedvmware/_params.py
  src/connectedvmware/azext_connectedvmware/_validators.py
  src/connectedvmware/azext_connectedvmware/custom.py
  src/connectedvmware/azext_connectedvmware/vmware_utils.py
  src/connectedvmware/setup.py
Labels: Auto-Assign

#7975 {ServiceConnector-passwordless}: add `az aks connection create`
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_credential_free.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_help.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_resource_config.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/action.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/custom.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign, Service Connector

#7971 [AKS] add support for undrainable_node_behavior
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_undrainable_node_behavior.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7842 Enable configure option for IP connect and disable gateway scenarios
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/tests/latest/recordings/test_bastion_host_crud.yaml
  src/bastion/setup.py
Labels: customer-reported

#7990 [Containerapp] Handle drop msrestazure dependency, migrate `parse_resource_id`, `is_valid_resource_id`, `resource_id`
  src/containerapp/azext_containerapp/_archive_utils.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/containerapp_env_certificate_decorator.py
  src/containerapp/azext_containerapp/containerapp_job_decorator.py
  src/containerapp/azext_containerapp/containerapp_job_registry_decorator.py
  src/containerapp/azext_containerapp/containerapp_sessionpool_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/java_component_decorator.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_create_update_with_yaml.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_ingress_sticky_session.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_preview_scenario.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_crud.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_event_triggered_crud.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_executions.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_preview_scenario.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_identity.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_secrets.py
  src/containerapp/azext_containerapp/tests/latest/test_containerappjob_with_yaml.py
  src/containerapp/azext_containerapp/tests/latest/utils.py
Labels: Auto-Assign, ContainerApp

#7994 {CI} Fix minor tag return
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7996 {CI} Add files to CredScanSuppressions.json.
  scripts/ci/credscan/CredScanSuppressions.json
Labels: CI, Auto-Assign

#7955 {Azure Bastion} sdk update for bastion extension
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/aaz/latest/__init__.py
  src/bastion/azext_bastion/aaz/latest/network/__cmd_group.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/__cmd_group.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_create.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_delete.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_list.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_show.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_update.py
  src/bastion/azext_bastion/aaz/latest/network/bastion/_wait.py
  src/bastion/azext_bastion/azext_metadata.json
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/tests/latest/recordings/test_bastion_host_crud.yaml
  src/bastion/azext_bastion/tests/latest/test_bastion.py
  src/bastion/setup.py
Labels: Network, Auto-Assign

#7794 [Containerapp] `az containerapp create/update`: Update models to support new properties with `--yaml` for api-version 2024-02-02-preview
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_sdk_enums.py
  src/containerapp/azext_containerapp/_sdk_models.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_nfsazurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_vnet_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_workloadprofile_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_dapr_components.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_job_custom_executionstest_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_preview_create_with_environment_id.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_preview_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_resiliency.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_dapr_component_resiliency.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#8000 [Containerapp] Release version `1.0.0b3`
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#7969 Add monitor-pipeline-group extension
  src/monitor-pipeline-group/HISTORY.rst
  src/monitor-pipeline-group/README.md
  src/monitor-pipeline-group/azext_monitor_pipeline_group/__init__.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/_help.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/_params.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/__init__.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/__init__.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/__cmd_group.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/__init__.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/pipeline_group/__cmd_group.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/pipeline_group/__init__.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/pipeline_group/_create.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/pipeline_group/_delete.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/pipeline_group/_list.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/pipeline_group/_show.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/pipeline_group/_update.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/aaz/latest/monitor/pipeline_group/_wait.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/azext_metadata.json
  src/monitor-pipeline-group/azext_monitor_pipeline_group/commands.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/custom.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/__init__.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/__init__.py
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/data_files/exporters.json
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/data_files/extendedLocation.json
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/data_files/processors.json
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/data_files/receivers.json
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/data_files/service.json
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/data_files/servicepatch.json
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/recordings/test_monitor_pipeline_group.yaml
  src/monitor-pipeline-group/azext_monitor_pipeline_group/tests/latest/test_monitor_pipeline_group.py
  src/monitor-pipeline-group/setup.cfg
  src/monitor-pipeline-group/setup.py
Labels: Monitor, Auto-Assign

#8008 {AKS} Fix live test pipeline
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
Labels: AKS, Auto-Assign

#8011 {CI} Disable too-many-positional-arguments R0917
  pylintrc
Labels: CI, Auto-Assign

#8009 {ServiceConnector-passwordless}: fix no attribute error
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_credential_free.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/custom.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#8005 Email communication service - Send command - added an optional parameter wait-until and added a new command get email request status.
  src/communication/HISTORY.rst
  src/communication/azext_communication/manual/_help.py
  src/communication/azext_communication/manual/_params.py
  src/communication/azext_communication/manual/commands.py
  src/communication/azext_communication/manual/custom.py
  src/communication/azext_communication/version.py
Labels: customer-reported

#8007 {AKS} set the node vm size to empty string when the cluster sku name is automatic
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_automatic_sku.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7887 [fleet] add fleet auto upgrade profile commands
  src/fleet/HISTORY.rst
  src/fleet/azext_fleet/_client_factory.py
  src/fleet/azext_fleet/_help.py
  src/fleet/azext_fleet/_params.py
  src/fleet/azext_fleet/_validators.py
  src/fleet/azext_fleet/commands.py
  src/fleet/azext_fleet/custom.py
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet_hubful.yaml
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet_hubless.yaml
  src/fleet/azext_fleet/tests/latest/test_fleet_hubless_scenario.py
  src/fleet/azext_fleet/tests/latest/test_validators.py
  src/fleet/azext_fleet/vendored_sdks/_container_service_fleet_mgmt_client.py
  src/fleet/azext_fleet/vendored_sdks/_serialization.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/_container_service_fleet_mgmt_client.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/_vendor.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/aio/_container_service_fleet_mgmt_client.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/aio/operations/_auto_upgrade_profiles_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/aio/operations/_fleet_members_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/aio/operations/_fleet_update_strategies_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/aio/operations/_fleets_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/aio/operations/_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/aio/operations/_update_runs_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/operations/_auto_upgrade_profiles_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/operations/_fleet_members_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/operations/_fleet_update_strategies_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/operations/_fleets_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/operations/_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/operations/_update_runs_operations.py
  src/fleet/azext_fleet/vendored_sdks/v2024_05_02_preview/py.typed
  src/fleet/setup.py
Labels: Auto-Assign

#8040 [fleet] set autoupgradeprofile commands to preview mode
  src/fleet/HISTORY.rst
  src/fleet/azext_fleet/commands.py
  src/fleet/setup.py
Labels: Auto-Assign
