Repository Azure/azure-cli-extensions, pull requests merged in 2024-02, with the labels that each got.

#7234 [IoT] Adds IoT Operations extension v0.3.0b1
  src/index.json
Labels: IoT/CLI, Auto-Assign

#7233 {CI} Auto-version-calculation fix
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#7235 {CI} Add test py code
  .github/workflows/VersionCalPRComment.yml
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7087 upgrade connectedk8s to use Microsoft Graph
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_client_factory.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#7236 [Containerapp] az containerapp service: Fix deprecate version
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_customized_keys_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_customized_keys_yaml_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_none_client_type.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_managed_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#7237 {CI} Add cli bot token
  .github/workflows/VersionCalPRComment.yml
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign, auto-cal-version

#7213 [az fleet] Hubless-Hubful PUT and reconcile commands.
  src/fleet/HISTORY.rst
  src/fleet/azext_fleet/_help.py
  src/fleet/azext_fleet/commands.py
  src/fleet/azext_fleet/custom.py
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet_hubful.yaml
  src/fleet/azext_fleet/tests/latest/recordings/test_fleet_hubless.yaml
  src/fleet/azext_fleet/tests/latest/test_fleet_hubless_scenario.py
  src/fleet/setup.py
Labels: Auto-Assign

#6931 [AKS] Add Kaito preview CLI flags
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_abort.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_addon_disable_confcom_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_addon_disable_openservicemesh.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_approuting_zone_update.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_availability_zones.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_dualstack_with_default_network.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_none_private_dns_zone.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_or_update_with_load_balancer_backend_pool_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_private_cluster_public_fqdn.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_ai_toolchain_operator.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_cilium_dataplane.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ephemeral_disk.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_fips.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_enable_ai_toolchain_operator.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7241 {CI} Add message-id for comment action
  .github/workflows/AddPRComment.yml
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign, auto-cal-version

#7183 fix (InvalidRequestBody) Secret xxxxx value can't be null error when …
  src/load/HISTORY.rst
  src/load/azext_load/data_plane/utils/utils.py
  src/load/setup.py
Labels: customer-reported, Auto-Assign

#7251 revert connectedk8s 1.6.4
  src/index.json
Labels: Connected Kubernetes, Auto-Assign

#7155 Enable NFS Azure file Storage for managed environment
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_env_storage_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_azurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_nfsazurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_nfsazurefile.py
Labels: Auto-Assign, ContainerApp

#7250 fix tenant ID retrieval
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_clientproxyutils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#7254 {containerapp} `az containerapp env update`: Fix polling Url
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_mtls.yaml
Labels: Auto-Assign, ContainerApp

#7253 {AKS} Implicitly enable istio when ingress gateway is enabled for Azure Service Mesh
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#7263 {CI} Fix extension release pipeline: Migrate from storage sdk to azure cli commands.
  scripts/ci/sync_extensions.py
  scripts/ci/sync_extensions.sh
  scripts/ci/update_ext_cmd_tree.py
Labels: CI, Auto-Assign

#7266 {CI} Fix sync_extensions.py
  scripts/ci/sync_extensions.py
Labels: CI, Auto-Assign

#7272 [IoT] Add IoT Operations extension v0.3.0b2
  src/index.json
Labels: IoT/CLI, Auto-Assign

#7273 {CI} Merge CLI extension release scripts from release-scripts branch to main branch
  scripts/ci/sync_extensions.py
  scripts/ci/update_ext_cmd_tree.py
Labels: CI, Auto-Assign

#7232 Update deprecation message and doc
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/azext_quantum/_params.py
  src/quantum/azext_quantum/operations/job.py
  src/quantum/setup.py
Labels: needs-author-feedback

#7248 {AKS} Add new command: az aks nodepool delete-machines
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_delete_machines.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#7290 New ML release
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#7027 [AKS] Support disable SSH for nodepool
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_disable_ssh.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7265 [Spring] Enhance managed component log stream
  src/spring/HISTORY.md
  src/spring/azext_spring/managed_components/managed_component_operations.py
  src/spring/azext_spring/tests/latest/managed_component/test_managed_component_scenarios.py
  src/spring/setup.py
Labels: Auto-Assign

#7228 Container Apps Extension: Add Circuit Breaker Support for Dapr Component Resiliency
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/daprcomponent_resiliency_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_resiliency.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_dapr_component_resiliency.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_dapr_resiliency.py
Labels: Auto-Assign, ContainerApp

#7277 [az fleet] Add az fleet updaterun create --upgrade-type parameter "ControlPlaneOnly"
  src/fleet/HISTORY.rst
  src/fleet/azext_fleet/_help.py
  src/fleet/azext_fleet/_params.py
  src/fleet/azext_fleet/constants.py
  src/fleet/azext_fleet/custom.py
  src/fleet/setup.py
Labels: Auto-Assign

#7299 {AKS} Fix Section `Released version and adopted API version` in readme
  src/aks-preview/README.rst
Labels: AKS, Auto-Assign

#7284 [AKS] Added support for Private DNS Zone Contributor role assignment in app routing
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#7295 {Containerapp} `az containerapp env certificate list/upload`: Refactor command with decorator
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_env_certificate_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_certificate_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_certificate_upload_with_certificate_name.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#7302 [containerapp] 'az containerapp service': remove command group altogether per upcoming deprecation
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_customized_keys_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_customized_keys_yaml_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_none_client_type.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_customized_keys_yaml_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_none_client_type.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp, auto-cal-version

#7307 [IoT] Add IoT Operations extension v0.3.0b3
  src/index.json
Labels: IoT/CLI, Auto-Assign

#7306 Arc Appliance CLI 1.0.3 February Release
  src/index.json
Labels: Auto-Assign

#7305 {CI} Use ref to checkout base branch
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#7314 {containerapp} fix CVE issues in java test code
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_buildpack_java/pom.xml
Labels: Auto-Assign, ContainerApp

#7318 {CI} Remove cal version workflow
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#7260 [AKS] Replace guardrails with safeguards
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_guardrails.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_safeguards.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_guardrails.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_safeguards.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7216 [Containerapp] az containerapp env java-component: Support Java component
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_client_factory.py
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/java_component_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_addon_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_customized_keys_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_customized_keys_yaml_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_none_client_type.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_customized_keys_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_java_component.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_managed_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_java_component.py
Labels: Auto-Assign, ContainerApp

#7286 fix connectedk8s proxy test
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/tests/latest/test_connectedk8s_scenario.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign, auto-cal-version

#7288 Adding the cli command option for --pod-ip-allocation-mode for cluster creation and nodepool addition in AKS
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_pod_ip_allocation_mode_static_block.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign, auto-cal-version

#7198 Fixed issue when registry creds are provided for ACRs using `containerapp up` command
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_on_arc_auto_install_extension_e2e.yaml
Labels: Auto-Assign, ContainerApp

#7270 Add parameter to set revision `--revision` for the Azure Service Mesh addon while creating AKS cluster.
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_enable_disable.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_get_revisions.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_egress_gateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_ingress_gateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_pluginca.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign
