Repository Azure/azure-cli-extensions, pull requests merged in 2024-05, with the labels that each got.

#7572 [IoT] Adds IoT Operations extension v0.5.0b1
  src/index.json
Labels: IoT/CLI, Auto-Assign

#7527 {AKS} add static egress gateway related cli
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_and_agentpool_with_static_egress_gateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7382 [Containerapp] `az containerapp create/update`: Support java metrics
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_decorator_utils.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_nfsazurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_infrastructure_rg.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_runtime_java_metrics_create.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_runtime_java_metrics_update.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp, auto-cal-version

#7530 {CI} Add history, version detect and comparison
  .github/workflows/VersionCalPRComment.yml
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7570 [AKS] Create default role assignments for automatic sku
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_automatic_sku.yaml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7566 Managed Network Fabric extension release 6.1.0
  src/managednetworkfabric/HISTORY.rst
  src/managednetworkfabric/azext_managednetworkfabric/aaz/latest/networkfabric/device/__init__.py
  src/managednetworkfabric/azext_managednetworkfabric/aaz/latest/networkfabric/device/_update_admin_state.py
  src/managednetworkfabric/azext_managednetworkfabric/tests/latest/config.ini
  src/managednetworkfabric/azext_managednetworkfabric/tests/latest/recordings/test_GA_Device_UpdateAdminState_scenario1.yaml
  src/managednetworkfabric/azext_managednetworkfabric/tests/latest/test_device_rw.py
  src/managednetworkfabric/azext_managednetworkfabric/tests/latest/test_device_update_admin_state.py
  src/managednetworkfabric/setup.py
Labels: Network, Auto-Assign

#7562 feat(acns): add advanced network observability enable/disable for az …
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_advanced_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_advanced_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Network, Auto-Assign

#7575 Fix Missing Broken Import
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_clientproxyutils.py
  src/connectedk8s/setup.py
Labels: do-not-merge

#7574 {Containerapp} Update recording files
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_acr.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_azurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_nfsazurefile_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_addon_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_cors_policy.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_workloadprofile_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_customized_keys_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_customized_keys_yaml_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dev_add_on_binding_none_client_type.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_certificate_upload_with_certificate_name.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e_no_waits.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_system.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_user.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_traffic_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ip_restrictions_deny.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_job_custom_executionstest_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_job_executionstest_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_withidentity_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_withsecret_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_registry_msi.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_revision_label_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_revision_copy.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_dapr_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_dapr_component_resiliency.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_workload_profile_commands.py
Labels: Auto-Assign, ContainerApp

#7573 [Service Connector] `az webapp connection create`: add parameter to be compatible with CLI core
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_params.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/azext_metadata.json
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/custom.py
  src/serviceconnector-passwordless/setup.py
Labels: extension/webapp, App Services, Web Apps, Auto-Assign

#7580 {AKS} Set disable local accounts to true when creating an automatic cluster
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7539 [dataprotection] Support for vaulted blob backups
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureBlob.py
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureDatabaseForMySQL.py
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureDatabaseForPostgreSQL.py
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureDatabaseForPostgreSQLFlexibleServer.py
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureDisk.py
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureKubernetesService.py
  src/dataprotection/azext_dataprotection/manual/_help.py
  src/dataprotection/azext_dataprotection/manual/_params.py
  src/dataprotection/azext_dataprotection/manual/aaz_operations/backup_instance.py
  src/dataprotection/azext_dataprotection/manual/commands.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/manual/helpers.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_and_restore_aks.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_and_restore_mysql.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_and_restore_oss.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_create_and_delete_blob.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_create_backup_delete_disk.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_blob.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_blob_point_in_time.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_blob_recovery_point.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_disk.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_softdelete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_update_policy.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_policy_create_and_delete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_update.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_recovery_point_vaulted_blob.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_update_msi_permissions_disk.yaml
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_backup_and_restore_workloads.py
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_backup_instance_create_and_delete.py
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_backup_instance_restore.py
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_configs.py
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_recovery_point.py
  src/dataprotection/azext_dataprotection/tests/utils.py
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#7589 {Service Connector} Fix mismatched api-version issue
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_client_factory.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#7594 {CI} Use direct env var reference in version cal workflow
  .github/workflows/AddPRComment.yml
  .github/workflows/TriggerExtensionRelease.yml
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#7591 {Containerapp} Fix cannot import name 'CloudNameEnum'
  src/containerapp/azext_containerapp/_utils.py
Labels: Auto-Assign, ContainerApp

#7584 [Container app] `az containerapp update`: Fix `--scale-rule-tcp-concurrency` for TCP scale rule
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_scale_type_tcp.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#7595 {CI} Use env for ado job
  .github/workflows/AddPRComment.yml
  .github/workflows/TriggerExtensionRelease.yml
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#7597 [Service Connector] Fix no attribute error
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_credential_free.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#7598 [Container app] `az containerapp compose create`: Fix issue #7542 where the environment's location is not resolved from --location
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_compose_create_environment_to_target_location.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_compose_basic.py
Labels: Auto-Assign, ContainerApp

#7599 {CI} Fix code search pattern in version bot
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7590 {AKS} BREAKING CHANGE: `az aks create`: Updates to option `--enable-managed-identity`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_check_network.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7585 Adding support for CMK encryption settings
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/aaz/latest/__init__.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_create.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_list.py
  src/dataprotection/azext_dataprotection/aaz/latest/dataprotection/backup_vault/_update.py
  src/dataprotection/azext_dataprotection/azext_metadata.json
  src/dataprotection/azext_dataprotection/manual/aaz_operations/backup_vault.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_and_restore_aks.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_and_restore_pgflex.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_create_and_delete_blob.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_create_backup_delete_disk.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_list_from_resource_graph.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_blob_point_in_time.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_blob_recovery_point.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_restore_disk.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_softdelete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_update_policy.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_instance_update_protection.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_policy_create_and_delete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_policy_manual.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_create_and_delete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_create_with_cmk_update_and_delete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_list_from_resource_graph.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_backup_vault_update.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_cross_region_restore.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_job_list_and_show.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_recovery_point_list.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_recovery_point_show.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_recovery_point_vaulted_blob.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_resource_guard_create_and_delete.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_resource_guard_mapping.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_resource_guard_update.yaml
  src/dataprotection/azext_dataprotection/tests/latest/recordings/test_dataprotection_restorable_time_range_find.yaml
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_backup_vault.py
  src/dataprotection/setup.py
Labels: customer-reported

#7538 [Spring] Support job public preview
  src/spring/HISTORY.md
  src/spring/azext_spring/_buildservices_factory.py
  src/spring/azext_spring/_help.py
  src/spring/azext_spring/_params.py
  src/spring/azext_spring/_tanzu_component.py
  src/spring/azext_spring/_utils.py
  src/spring/azext_spring/_validators_enterprise.py
  src/spring/azext_spring/commands.py
  src/spring/azext_spring/custom.py
  src/spring/azext_spring/jobs/__init__.py
  src/spring/azext_spring/jobs/job.py
  src/spring/azext_spring/jobs/job_deployable_factory.py
  src/spring/azext_spring/jobs/job_validators.py
  src/spring/azext_spring/jobs/models/__init__.py
  src/spring/azext_spring/jobs/models/job_execution_instance.py
  src/spring/azext_spring/managed_components/managed_component.py
  src/spring/azext_spring/managed_components/managed_component_operations.py
  src/spring/azext_spring/service_registry.py
  src/spring/azext_spring/spring_instance.py
  src/spring/azext_spring/tests/latest/custom_preparers.py
  src/spring/azext_spring/tests/latest/custom_recording_processor.py
  src/spring/azext_spring/tests/latest/jobs/__init__.py
  src/spring/azext_spring/tests/latest/jobs/asa_job_test_utils.py
  src/spring/azext_spring/tests/latest/jobs/test_asa_job_execution_instance.py
  src/spring/azext_spring/tests/latest/jobs/test_asa_job_log_stream_validators.py
  src/spring/azext_spring/tests/latest/jobs/test_asa_job_scenario.py
  src/spring/azext_spring/tests/latest/jobs/test_asa_job_validators.py
  src/spring/azext_spring/tests/latest/jobs/test_asa_jobs.py
  src/spring/azext_spring/tests/latest/managed_component/test_managed_component_scenarios.py
  src/spring/setup.py
Labels: Auto-Assign

#7586 {AKS} Improve Windows OutboundNat test case by removing Windows OSSKU limitation
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_add_with_disable_windows_outbound_nat.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#7604 Update NGINX SKU to `standard_Monthly`
  src/nginx/HISTORY.rst
  src/nginx/azext_nginx/aaz/latest/nginx/deployment/_create.py
  src/nginx/setup.py
Labels: customer-reported

#7602 {AKS} Update CI configs
  src/aks-preview/azcli_aks_live_test/scripts/clean_up.sh
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
  src/aks-preview/azcli_aks_live_test/scripts/start_container.sh
  src/aks-preview/azcli_aks_live_test/scripts/test_cli_live.sh
  src/aks-preview/azcli_aks_live_test/scripts/test_ext_live.sh
  src/aks-preview/azcli_aks_live_test/scripts/transcribe_env.sh
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-clean-up.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-live-test.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-unit-test.yaml
Labels: CI, AKS, Auto-Assign

#7601 [Container app] `az containerapp up`: Fix issue for auto-creating resource group
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_managed_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_preview_environment_type.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_create_resource_group.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_on_arc_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
Labels: Auto-Assign, ContainerApp

#7464 [Container app] `az containerapp env create/update`: Support peer-to-peer traffic encryption with `--enable-peer-to-peer-encryption`
  linter_exclusions.yml
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_p2p_traffic_encryption.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: auto-cal-version

#7559 [Container app] az containerapp sessionpool: Support sessionpool command.
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/containerapp_sessionpool_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_sessionpool.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_sessionpool.py
Labels: customer-reported

#7564 [ContainerApp] Add CLI for DotNet Components
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/dotnet_component_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dotnet_component.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dotnet_component_create_with_unsupported_component_type.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_dotnet_component_with_component_type.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_managed_service_binding_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_dotnet_component.py
Labels: Auto-Assign, ContainerApp

#7614 [AKS]Add support for outbound type none
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_loadbalancer_and_update_to_none_outbound.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7620 Update the index.json for ml cli 2.26.0 release
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#7619 Deprecate scope for discovery list for self help 2024 03 01 preview
  src/self-help/HISTORY.rst
  src/self-help/azext_self_help/_params.py
  src/self-help/azext_self_help/aaz/latest/self_help/discovery_solution/_list.py
  src/self-help/azext_self_help/tests/latest/recordings/test_help_check_name_diagnostics.yaml
  src/self-help/azext_self_help/tests/latest/recordings/test_help_check_name_solutions.yaml
  src/self-help/azext_self_help/tests/latest/recordings/test_help_check_name_troubleshooters.yaml
  src/self-help/azext_self_help/tests/latest/recordings/test_help_diagnostics.yaml
  src/self-help/azext_self_help/tests/latest/recordings/test_help_discoverysolutions.yaml
  src/self-help/azext_self_help/tests/latest/recordings/test_help_self_help.yaml
  src/self-help/azext_self_help/tests/latest/recordings/test_help_simplified_solutions.yaml
  src/self-help/azext_self_help/tests/latest/recordings/test_help_solutions.yaml
  src/self-help/azext_self_help/tests/latest/recordings/test_help_troubleshooters.yaml
  src/self-help/azext_self_help/tests/latest/test_self_help.py
  src/self-help/setup.py
Labels: customer-reported, release-version-block

#7618 Release 1.0.1
  src/index.json
Labels: customer-reported

#7623 [ContainerApp] Bug fix update container name
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/HelloWorldApp.csproj
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Error.cshtml
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Error.cshtml.cs
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Index.cshtml
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Index.cshtml.cs
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Privacy.cshtml
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Privacy.cshtml.cs
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Shared/_Layout.cshtml
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Shared/_Layout.cshtml.css
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/Shared/_ValidationScriptsPartial.cshtml
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/_ViewImports.cshtml
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Pages/_ViewStart.cshtml
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Program.cs
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/Properties/launchSettings.json
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/README.md
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/appsettings.Development.json
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/appsettings.json
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/wwwroot/css/site.css
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/wwwroot/favicon.ico
  src/containerapp/azext_containerapp/tests/latest/data/source_built_using_source_to_cloud_dotnet/wwwroot/js/site.js
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_and_update_with_env_vars_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_create_update_with_source.py
  src/containerapp/azext_containerapp/tests/latest/utils.py
Labels: Auto-Assign, ContainerApp

#7625 {ContainerApp} Fix test to verify container name is container app name for cloud builds
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_and_update_with_env_vars_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/utils.py
Labels: Auto-Assign, ContainerApp

#7522 [ContainerApp] Modofied cloud build logic to use simplified ARM calls
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_cloud_build_utils.py
  src/containerapp/azext_containerapp/_up_utils.py
Labels: Logic App, Auto-Assign, ContainerApp

#7630 [Container app] Release version `0.3.51`
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#7629 [Containerapp] Update default value of enableMetrics under java runtime setting
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_runtime_java_create.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_runtime_java_metrics_create.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_runtime_java_metrics_update.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_runtime_java_update.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#7640 {CI} Add merge-block trigger cond on pr open and sync
  .github/workflows/BlockPRMerge.yml
Labels: CI, Auto-Assign

#7552 `az monitor data-collection rule/endpoint`: Removed the enum limitation for the `--kind` parameter.
  src/monitor-control-service/HISTORY.rst
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/__cmd_group.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/endpoint/_create.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/endpoint/_update.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_create.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_list.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_show.py
  src/monitor-control-service/azext_amcs/aaz/latest/monitor/data_collection/rule/_update.py
  src/monitor-control-service/azext_amcs/azext_metadata.json
  src/monitor-control-service/azext_amcs/tests/latest/recordings/test_monitor_control_service_commands.yaml
  src/monitor-control-service/setup.py
Labels: Monitor, Auto-Assign

#7406 [k8s-configuration] BREAKING CHANGE: `az k8s-configuration create`: Removal of create cmd for flux v1
  src/k8s-configuration/HISTORY.rst
  src/k8s-configuration/README.rst
  src/k8s-configuration/azext_k8s_configuration/_help.py
  src/k8s-configuration/azext_k8s_configuration/_params.py
  src/k8s-configuration/azext_k8s_configuration/commands.py
  src/k8s-configuration/azext_k8s_configuration/tests/latest/recordings/test_k8s_configuration_success.yaml
  src/k8s-configuration/azext_k8s_configuration/tests/latest/test_kubernetesconfiguration_scenario.py
  src/k8s-configuration/setup.py
Labels: Auto-Assign, auto-cal-version

#7600 {AKS} Support Mixed SKU VMs agentpool
  src/aks-preview/HISTORY.rst
  src/aks-preview/azcli_aks_live_test/configs/ext_matrix_default.json
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_vms_agentpool_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7635 [Container app] az containerapp sessionpool create: Fix default container name to be lower case letters
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/containerapp_sessionpool_decorator.py
Labels: Documentation

#7644 {Containerapp} Remove redeclared `ManagedServiceIdentity` and `CustomDomainCOnfiguration`
  src/containerapp/azext_containerapp/_models.py
Labels: Auto-Assign, ContainerApp

#7633 [containerapp] Support keda msi
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_identity_keda.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#7643 [containerapp] fix sessionpool registryServer to Server and fix appending of secrets
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_sessionpool_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_sessionpool_registry.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_sessionpool.py
Labels: Auto-Assign, ContainerApp

#7648 [Container app] Release version `0.3.52`
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#7646 [Spring] Fix subnet address prefix validation issue
  src/spring/HISTORY.md
  src/spring/azext_spring/_validators.py
  src/spring/setup.py
Labels: Auto-Assign

#7649 {CI} Fix script re for version extract
  scripts/ci/release_version_cal.py
Labels: CI, Auto-Assign

#7642 [dataprotection] Support for AKS Vaulted Backups
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/manual/Manifests/AzureKubernetesService.py
  src/dataprotection/azext_dataprotection/manual/_params.py
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/tests/latest/test_dataprotection_configs.py
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#7658 [IoT] Adds IoT Operations extension v0.5.0b2
  src/index.json
Labels: IoT/CLI, Auto-Assign

#7652 {Service Connector}: add prompt for postgresql server Entra auth
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_credential_free.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_utils.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/commands.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#7654 [AKS]: Add warnings to `az aks mesh` commands for out of support asm revision in use
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_canary_upgrade.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_enable_disable.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_get_revisions.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_get_upgrades.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_egress_gateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_ingress_gateway.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_azure_service_mesh_with_pluginca.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#7661 {AKS} `az aks create`: Update help message of option `--enable-managed-identity`
  src/aks-preview/azext_aks_preview/_help.py
Labels: AKS, Auto-Assign

#7664 {Container app} Update recording files
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_eventjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_manualjob_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
Labels: Auto-Assign, ContainerApp

#7657 [devcenter] Update show logs environment command output to reflect escape characters in string
  src/devcenter/HISTORY.rst
  src/devcenter/azext_devcenter/custom.py
  src/devcenter/setup.py
Labels: Auto-Assign

#7634 update(acns): add missing help for adv networking in aks create, and add note for additional costs for feature enablement
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
Labels: AKS, Auto-Assign

#7668 {AKS} Update AKS live test pipeline
  src/aks-preview/azcli_aks_live_test/scripts/setup_venv.sh
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-live-test.yaml
  src/aks-preview/azcli_aks_live_test/vsts-azcli-aks-unit-test.yaml
Labels: AKS, Auto-Assign

#7665 Update ML extension for hotfix 2.26.1
  src/index.json
Labels: extension/ml, Machine Learning, Auto-Assign

#7667 [Container app] `az containerapp env update`: Fix logs configuration about removing destination with `--logs-destination none`
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_la_dynamic_json.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp
