Repository Azure/azure-cli-extensions, pull requests merged in 2024-11, with the labels that each got.

#8221 {AKS} Update preview flag name in test
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#8229 {AKS} [BREAKING CHANGE]: `az aks create/update`: Remove `--uptime-sla` and `--no-uptime-sla` options
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign, skip-cal-version

#8207 AMG: validate dashboard json prior to import
  src/amg/HISTORY.rst
  src/amg/azext_amg/custom.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#8236 [Containerapp] `az containerapp create/update`: `--yaml` support property pollingInterval and cooldownPeriod
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_preview_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#8228 [AKS] BREAKING CHANGE: `az aks create`: Remove legacy AAD related parameters when creating AKS cluster
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_aadv1_and_update_with_managed_aad.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign, major

#8217 [AKS] BREAKING CHANGE: Update ACNS preview CLI commands to align with GA CLI
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_advanced_networking_observability_tls_management.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_acns.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_acns_complex.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_advanced_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_fqdn_policy.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_fqdn_policy_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_advanced_network_observability.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_acns.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_fqdn_policy.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign, major

#8233 AKS: Fix storage pool name validation for Azure Container Storage
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign, skip-cal-version, minor

#8245 {CI} Disable persist credentials
  .azure-pipelines/breaking-change-tests.yml
Labels: CI, Auto-Assign

#8239 [Azure Load Testing] Adding disable-public-ip argument in load extension
  src/load/HISTORY.rst
  src/load/azext_load/data_plane/load_test/custom.py
  src/load/azext_load/data_plane/load_test/params.py
  src/load/azext_load/data_plane/utils/argtypes.py
  src/load/azext_load/data_plane/utils/utils.py
  src/load/azext_load/data_plane/utils/validators.py
  src/load/azext_load/tests/latest/constants.py
  src/load/azext_load/tests/latest/recordings/test_load_app_component.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_app_component.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_create.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_create_and_update_vnet.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_create_with_args.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_delete.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_download_files.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_file.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_list.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_create.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_delete.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_download_files.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_list.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_metrics.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_server_metric.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_show.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_stop.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_run_update.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_server_metric.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_show.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_update.yaml
  src/load/azext_load/tests/latest/recordings/test_load_test_update_with_config.yaml
  src/load/azext_load/tests/latest/resources/config-disable-public-ip-false.yaml
  src/load/azext_load/tests/latest/resources/config-disable-public-ip-true.yaml
  src/load/azext_load/tests/latest/test_load_test.py
  src/load/setup.py
Labels: Auto-Assign

#8243 [AKS] BREAKING CHANGE: `az aks trustedaccess rolebinding create`: Remove deprecated `-r` and `-s` options
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign, major

#8254 {AKS} Fix test case `test_aks_create_with_monitoring_aad_auth_msi_with_datacollectionsettings_and_otheraddon`
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#8187 AVNM, IPAM, VNV updates for 2024-05-01 swagger
  src/network-manager/HISTORY.rst
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/_get_pool_usage.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/_list_associated_resource.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/_update.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/_wait.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/static_cidr/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/static_cidr/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/static_cidr/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/static_cidr/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/static_cidr/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/ipam_pool/static_cidr/_wait.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_update.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/_wait.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/rule_collection/rule/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/rule_collection/rule/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/rule_collection/rule/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/rule_collection/rule/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/security_admin_config/rule_collection/rule/_update.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/_update.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/_wait.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_intent/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_intent/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_intent/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_intent/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_intent/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_run/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_run/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_run/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_run/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_run/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/verifier_workspace/reachability_analysis_run/_wait.py
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_admin_rule_collection_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_admin_rule_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_reachability_analysis_run.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_security_admin_config_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_security_admin_config_v2.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_static_cidr_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/test_network_scenario.py
  src/network-manager/setup.py
Labels: skip-cal-version, minor

#8237 [dataprotection] Minor bugfix for AKS Vaulted Backups and support for new paired region
  src/dataprotection/HISTORY.rst
  src/dataprotection/azext_dataprotection/manual/custom.py
  src/dataprotection/azext_dataprotection/manual/helpers.py
  src/dataprotection/setup.py
Labels: Data Protection, Auto-Assign

#8259 {serviceconnector-passwordless}: Fix argument missing
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_credential_free.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#8244 AMG: fix issue with create role assignment step
  src/amg/HISTORY.rst
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/integrations.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_integrations_monitor.yaml
  src/amg/azext_amg/tests/latest/test_amg_scenario.py
  src/amg/azext_amg/utils.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#7588 update to support disconnected environment
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/tests/latest/README.md
  src/connectedk8s/azext_connectedk8s/tests/latest/config.json.dist
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#8268 {virtual-network-tap} Add scenario tests
  src/virtual-network-tap/azext_vnettap/tests/__init__.py
  src/virtual-network-tap/azext_vnettap/tests/latest/__init__.py
  src/virtual-network-tap/azext_vnettap/tests/latest/recordings/test_vnet_tap.yaml
  src/virtual-network-tap/azext_vnettap/tests/latest/test_virtual_network_tap.py
Labels: Network, Auto-Assign

#8257 {AKS} Fix the test failure of network isolated cluster feature
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_artifact_source.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#8267 [Containerapp] Release `1.1.0b1` version
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp, minor

#8263 [AKS] az aks create/update: Update ACNS Enablement for 2024-09-02-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_acns.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_enable_acns_complex.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_enable_acns.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8290 AMG: Set service-account token default TTL to 1 day
  src/amg/HISTORY.rst
  src/amg/azext_amg/custom.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#8256 Updating healthcareapis information to Health Data Services.
  src/service_name.json
Labels: extension/healthcare, Auto-Assign

#8292 [connectedk8s] Update extension CLI to v1.10.3
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/__init__.py
  src/connectedk8s/azext_connectedk8s/_client_factory.py
  src/connectedk8s/azext_connectedk8s/_clientproxyutils.py
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_format.py
  src/connectedk8s/azext_connectedk8s/_help.py
  src/connectedk8s/azext_connectedk8s/_params.py
  src/connectedk8s/azext_connectedk8s/_precheckutils.py
  src/connectedk8s/azext_connectedk8s/_troubleshootutils.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/_validators.py
  src/connectedk8s/azext_connectedk8s/action.py
  src/connectedk8s/azext_connectedk8s/commands.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/tests/latest/test_connectedk8s_scenario.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_configuration.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_connected_kubernetes_client.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_serialization.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_vendor.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/_version.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/models/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/models/_connected_kubernetes_client_enums.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/models/_models_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/models/_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/operations/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/operations/_connected_cluster_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/operations/_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2022_10_01/operations/_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/_configuration.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/_connected_kubernetes_client.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/_serialization.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/_vendor.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/_version.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/models/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/models/_connected_kubernetes_client_enums.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/models/_models_py3.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/models/_patch.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/operations/__init__.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/operations/_connected_cluster_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/operations/_operations.py
  src/connectedk8s/azext_connectedk8s/vendored_sdks/preview_2023_11_01/operations/_patch.py
  src/connectedk8s/pyproject.toml
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#8308 [connectedk8s] Update extension CLI to v1.10.4
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/__init__.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#8193 Qumulo cli refresh
  src/qumulo/HISTORY.rst
  src/qumulo/azext_qumulo/aaz/latest/__init__.py
  src/qumulo/azext_qumulo/aaz/latest/qumulo/storage/file_system/_create.py
  src/qumulo/azext_qumulo/aaz/latest/qumulo/storage/file_system/_delete.py
  src/qumulo/azext_qumulo/aaz/latest/qumulo/storage/file_system/_list.py
  src/qumulo/azext_qumulo/aaz/latest/qumulo/storage/file_system/_show.py
  src/qumulo/azext_qumulo/aaz/latest/qumulo/storage/file_system/_wait.py
  src/qumulo/azext_qumulo/azext_metadata.json
  src/qumulo/azext_qumulo/tests/latest/recordings/test_file_system.yaml
  src/qumulo/azext_qumulo/tests/latest/test_qumulo.py
  src/qumulo/setup.py
Labels: customer-reported

#7945 [Containerapp] Support debug console
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_ssh_utils.py
  src/containerapp/azext_containerapp/_validators.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_debug.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_scenario.py
Labels: Auto-Assign, ContainerApp

#8321 {CI} Add `--min-severity medium` to `azdev linter` to align with the main repository
  scripts/ci/azdev_linter_style.py
Labels: CI, Auto-Assign

#8340 {Containerapp} Update recording files
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_ingress_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_managed_service_binding_e2e.yaml
Labels: Auto-Assign, ContainerApp

#8348 {CI} Update index.json from pr base branch
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#8352 {CI} Add ccoa announcement
  .github/workflows/CCOA.yml
Labels: CI, Auto-Assign
