Repository Azure/azure-cli-extensions, pull requests merged in 2025-07, with the labels that each got.

#8913 {AKS} udpate description for --pod-cidr and --pod-cidrs
  src/aks-preview/azext_aks_preview/_help.py
Labels: AKS, Auto-Assign

#8881 [AMG]: Deprecate api-key command group
  src/amg/HISTORY.rst
  src/amg/azext_amg/_help.py
  src/amg/azext_amg/commands.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#8918 updating mongodb cli to stable version
  src/mongo-db/HISTORY.rst
  src/mongo-db/azext_mongo_db/aaz/latest/mongo_db/__cmd_group.py
  src/mongo-db/azext_mongo_db/aaz/latest/mongo_db/atlas/__cmd_group.py
  src/mongo-db/azext_mongo_db/aaz/latest/mongo_db/atlas/organization/__cmd_group.py
  src/mongo-db/azext_mongo_db/aaz/latest/mongo_db/atlas/organization/_create.py
  src/mongo-db/azext_mongo_db/aaz/latest/mongo_db/atlas/organization/_delete.py
  src/mongo-db/azext_mongo_db/aaz/latest/mongo_db/atlas/organization/_list.py
  src/mongo-db/azext_mongo_db/aaz/latest/mongo_db/atlas/organization/_show.py
  src/mongo-db/azext_mongo_db/aaz/latest/mongo_db/atlas/organization/_wait.py
  src/mongo-db/azext_mongo_db/tests/latest/recordings/test_mongo_db.yaml
  src/mongo-db/azext_mongo_db/tests/latest/test_mongo_db.py
  src/mongo-db/setup.py
Labels: skip-cal-version

#8936 register command group for security-policy waf
  src/alb/HISTORY.rst
  src/alb/azext_alb/_help.py
  src/alb/azext_alb/commands.py
  src/alb/azext_alb/tests/latest/test_alb_commands.py
  src/alb/setup.py
Labels: skip-cal-version

#8987 Version change in history and setup for ArizeAI
  src/arize-ai/HISTORY.rst
  src/arize-ai/setup.py
Labels: skip-cal-version

#8989 az connectedk8s -Release v1.10.8
  .github/CODEOWNERS
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_precheckutils.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/clientproxyhelper/_binaryutils.py
  src/connectedk8s/azext_connectedk8s/clientproxyhelper/_proxylogic.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/tests/latest/test_connectedk8s_scenario.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#8997 {AKS} `az aks update`: Fix the bug affecting VMAS to VMS migration
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8928 Remove ingress min-replicas, max-replicas parameters
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#9001 {aks} Update IMDS restriction test suite to enable OIDC issuer
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_enable_imds_restriction.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#8912 {AKS} `az aks bastion`: Add command to enable connections to managed Kubernetes clusters via Azure Bastion.
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/bastion/__init__.py
  src/aks-preview/azext_aks_preview/bastion/bastion.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9000 [fleet] add support for inline json to --stages argument in CLI
  src/fleet/HISTORY.rst
  src/fleet/azext_fleet/_params.py
  src/fleet/azext_fleet/custom.py
  src/fleet/azext_fleet/tests/latest/test_stages_json.py
  src/fleet/setup.py
Labels: skip-cal-version
