Repository Azure/azure-cli-extensions, pull requests merged in 2025-09, with the labels that each got.

#9105 {AKS} remove aks agent from aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agent/__init__.py
  src/aks-preview/azext_aks_preview/agent/agent.py
  src/aks-preview/azext_aks_preview/agent/prompt.py
  src/aks-preview/azext_aks_preview/agent/telemetry.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agent.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9106 {AKS} add aks-agent extension
  src/aks-agent/HISTORY.rst
  src/aks-agent/README.rst
  src/aks-agent/azext_aks_agent/__init__.py
  src/aks-agent/azext_aks_agent/_consts.py
  src/aks-agent/azext_aks_agent/_help.py
  src/aks-agent/azext_aks_agent/_params.py
  src/aks-agent/azext_aks_agent/_validators.py
  src/aks-agent/azext_aks_agent/agent/__init__.py
  src/aks-agent/azext_aks_agent/agent/agent.py
  src/aks-agent/azext_aks_agent/agent/prompt.py
  src/aks-agent/azext_aks_agent/agent/telemetry.py
  src/aks-agent/azext_aks_agent/azext_metadata.json
  src/aks-agent/azext_aks_agent/commands.py
  src/aks-agent/azext_aks_agent/custom.py
  src/aks-agent/azext_aks_agent/tests/__init__.py
  src/aks-agent/azext_aks_agent/tests/latest/__init__.py
  src/aks-agent/azext_aks_agent/tests/latest/test_agent.py
  src/aks-agent/azext_aks_agent/tests/latest/test_validators.py
  src/aks-agent/azext_aks_agent/tests/latest/utils.py
  src/aks-agent/setup.cfg
  src/aks-agent/setup.py
Labels: AKS, Auto-Assign

#9085 {Spring} Remove DATA_COSMOS_TABLE and DATA_STORAGE references
  src/spring/HISTORY.md
  src/spring/azext_spring/_breaking_change.py
  src/spring/azext_spring/_deployment_deployable_factory.py
  src/spring/azext_spring/_deployment_uploadable_factory.py
  src/spring/azext_spring/_stream_utils.py
  src/spring/azext_spring/custom.py
  src/spring/azext_spring/tests/latest/recordings/test_asa_export.yaml
  src/spring/azext_spring/tests/latest/test_asa_app_scenario.py
  src/spring/azext_spring/tests/latest/test_asa_application_accelerator.py
  src/spring/azext_spring/tests/latest/test_asa_application_live_view.py
  src/spring/setup.py
Labels: skip-cal-version

#9093 [DataMigration] - [CLI] - Publish stable API version - 2025-06-30
  src/datamigration/HISTORY.rst
  src/datamigration/azext_datamigration/tests/latest/recordings/test_datamigration_Scenario.yaml
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/_configuration.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/_configuration.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_database_migrations_sql_db_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_database_migrations_sql_mi_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_database_migrations_sql_vm_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_files_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_projects_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_resource_skus_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_service_tasks_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_services_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_sql_migration_services_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_tasks_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/aio/operations/_usages_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_database_migrations_sql_db_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_database_migrations_sql_mi_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_database_migrations_sql_vm_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_files_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_projects_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_resource_skus_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_service_tasks_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_services_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_sql_migration_services_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_tasks_operations.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/operations/_usages_operations.py
  src/datamigration/setup.py
Labels: Data Migration, Auto-Assign

#9113 Show the extension reference doc
  src/spring/HISTORY.md
  src/spring/azext_spring/_breaking_change.py
  src/spring/setup.py
Labels: skip-cal-version

#9120 {AKS} Remove the sku preview flag from help command for AKS automatic
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9071 [AKS] `az aks create`: Add new parameter `--kms-infrastructure-encryption` to enable KMS infrastructure encryption
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_kms_infrastructure_encryption.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9121 [AKS] `az aks add nodepool` support machines pool
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_create_machines_pool.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9126 [k8s-extension] Update extension CLI to v1.7.0
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/__init__.py
  src/k8s-extension/azext_k8s_extension/_help.py
  src/k8s-extension/azext_k8s_extension/_params.py
  src/k8s-extension/azext_k8s_extension/commands.py
  src/k8s-extension/azext_k8s_extension/consts.py
  src/k8s-extension/azext_k8s_extension/custom.py
  src/k8s-extension/azext_k8s_extension/utils.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#9125 Update AVNM connectivity configuration CLI to use 2024-07-01 API version
  src/network-manager/HISTORY.rst
  src/network-manager/azext_network_manager/aaz/latest/network/manager/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/connect_config/__cmd_group.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/connect_config/_create.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/connect_config/_delete.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/connect_config/_list.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/connect_config/_show.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/connect_config/_update.py
  src/network-manager/azext_network_manager/aaz/latest/network/manager/connect_config/_wait.py
  src/network-manager/azext_network_manager/azext_metadata.json
  src/network-manager/azext_network_manager/tests/latest/preparers.py
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_connect_config_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_connect_config_with_capabilities.yaml
  src/network-manager/azext_network_manager/tests/latest/recordings/test_network_manager_security_user_config_crud.yaml
  src/network-manager/azext_network_manager/tests/latest/test_network_scenario.py
  src/network-manager/setup.py
Labels: Network, Auto-Assign, Network - Network Manager

#9045 [AKS] Add machine cli preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/machine.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_machine_add_cmds.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/linter_exclusions.yml
Labels: AKS, Auto-Assign

#9128 Remove essential SKU resource creation
  src/amg/HISTORY.rst
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_override.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_simple_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_private_endpoint.yaml
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#9132 feat: Improve user experience of az aks agent with aks-mcp
  .github/CODEOWNERS
  src/aks-agent/HISTORY.rst
  src/aks-agent/azext_aks_agent/_consts.py
  src/aks-agent/azext_aks_agent/_help.py
  src/aks-agent/azext_aks_agent/_params.py
  src/aks-agent/azext_aks_agent/agent/agent.py
  src/aks-agent/azext_aks_agent/agent/binary_manager.py
  src/aks-agent/azext_aks_agent/agent/config_generator.py
  src/aks-agent/azext_aks_agent/agent/error_handler.py
  src/aks-agent/azext_aks_agent/agent/mcp_manager.py
  src/aks-agent/azext_aks_agent/agent/prompt.py
  src/aks-agent/azext_aks_agent/agent/status.py
  src/aks-agent/azext_aks_agent/agent/status_models.py
  src/aks-agent/azext_aks_agent/agent/user_feedback.py
  src/aks-agent/azext_aks_agent/custom.py
  src/aks-agent/azext_aks_agent/tests/latest/conftest.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_binary_manager.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_config_generator.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_error_handler.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_mcp_integration.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_mcp_manager.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_parameters.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_smart_refresh.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_status.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_status_command.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_status_models.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_user_feedback.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_validators.py
  src/aks-agent/setup.py
Labels: AKS, Auto-Assign

#9141 CLI v2 release - 2.39.0
  src/machinelearningservices/CHANGELOG.rst
  src/machinelearningservices/HISTORY.rst
  src/machinelearningservices/azext_mlv2/manual/custom/_ssh_command.py
  src/machinelearningservices/azext_mlv2/manual/custom/_ssh_connector.py
  src/machinelearningservices/azext_mlv2/manual/custom/compute.py
  src/machinelearningservices/azext_mlv2/manual/requirements.txt
  src/machinelearningservices/setup.py
Labels: skip-cal-version

#9171 chore: Disable aks-mcp by default, offer --aks-mcp flag to enable it
  src/aks-agent/HISTORY.rst
  src/aks-agent/README.rst
  src/aks-agent/azext_aks_agent/_help.py
  src/aks-agent/azext_aks_agent/_params.py
  src/aks-agent/azext_aks_agent/agent/agent.py
  src/aks-agent/azext_aks_agent/agent/binary_manager.py
  src/aks-agent/azext_aks_agent/agent/error_handler.py
  src/aks-agent/azext_aks_agent/agent/mcp_manager.py
  src/aks-agent/azext_aks_agent/agent/status_models.py
  src/aks-agent/azext_aks_agent/custom.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_error_handler.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_mcp_integration.py
  src/aks-agent/azext_aks_agent/tests/latest/test_aks_agent_parameters.py
  src/aks-agent/setup.py
Labels: AKS, Auto-Assign

#8999 Add blue green upgrade support for aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_blue_green_upgrade_nodepool.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_run_blue_green_upgrade.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_update_agentpool_profile_preview.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#9182 Managed Network Fabric - Removing the `externalnetwork update-bfd-administrative-state` command as it is not supported by the API.
  src/managednetworkfabric/HISTORY.rst
  src/managednetworkfabric/azext_managednetworkfabric/aaz/latest/networkfabric/externalnetwork/__init__.py
  src/managednetworkfabric/azext_managednetworkfabric/aaz/latest/networkfabric/externalnetwork/_update_bfd_administrative_state.py
  src/managednetworkfabric/azext_managednetworkfabric/aaz/latest/networkfabric/fabric/_validate_configuration.py
  src/managednetworkfabric/azext_managednetworkfabric/tests/latest/test_externalnetwork_update_bfd_admin_state.py
  src/managednetworkfabric/setup.py
Labels: skip-cal-version

#9178 [AKS] Add option Windows2025 to --os-sku for az aks nodepool add
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_add_with_ossku_windows2025.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#9231 [AKS] Fix --aks-mcp flag to accept true/false values
  src/aks-agent/HISTORY.rst
  src/aks-agent/azext_aks_agent/_params.py
Labels: AKS, Auto-Assign

#9236 [AKS Agent] Bump aks-mcp version to v0.0.9
  src/aks-agent/HISTORY.rst
  src/aks-agent/azext_aks_agent/_consts.py
  src/aks-agent/setup.py
Labels: AKS, Auto-Assign

#9179 {stream-analytics} Support with Azure Function
  src/stream-analytics/HISTORY.rst
  src/stream-analytics/azext_stream_analytics/__init__.py
  src/stream-analytics/azext_stream_analytics/aaz/__init__.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/__init__.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/__cmd_group.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/__init__.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/output/__cmd_group.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/output/__init__.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/output/_create.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/output/_delete.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/output/_list.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/output/_show.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/output/_test.py
  src/stream-analytics/azext_stream_analytics/aaz/latest/stream_analytics/output/_update.py
  src/stream-analytics/azext_stream_analytics/azext_metadata.json
  src/stream-analytics/azext_stream_analytics/generated/_client_factory.py
  src/stream-analytics/azext_stream_analytics/generated/commands.py
  src/stream-analytics/azext_stream_analytics/generated/custom.py
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_cluster_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_function_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_input_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_job_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_job_scale.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_output_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_private_endpoint_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/recordings/test_transformation_crud.yaml
  src/stream-analytics/azext_stream_analytics/tests/latest/test_stream_analytics_commands.py
  src/stream-analytics/setup.py
Labels: Stream Analytics, Auto-Assign

#9138 AKS: Change --enable-azure-container-storage --disable-azure-container -storage behavior and add --container-storage-version
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/azurecontainerstorage/_consts.py
  src/aks-preview/azext_aks_preview/azurecontainerstorage/_helpers.py
  src/aks-preview/azext_aks_preview/azurecontainerstorage/_validators.py
  src/aks-preview/azext_aks_preview/azurecontainerstorage/acstor_ops.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9189 Add JWT Authenticator commands to aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/jwtauthenticator.py
  src/aks-preview/azext_aks_preview/tests/latest/data/jwtauthenticator.json
  src/aks-preview/azext_aks_preview/tests/latest/data/jwtauthenticator_update.json
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_jwtauthenticator_cmds.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#9254 [connectedk8s] Update extension CLI to v1.10.10
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_breaking_change.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign
