Repository Azure/azure-cli-extensions, pull requests merged in 2025-02, with the labels that each got.

#8450 [Quantum] Disable blob public access and set minimum TLS version (31013)
  src/quantum/azext_quantum/operations/templates/create-workspace-and-assign-role.json
Labels: Quantum, Auto-Assign

#8441 [CosmosDB] 2024-12-01-preview release package versioning.
  src/cosmosdb-preview/HISTORY.rst
  src/cosmosdb-preview/setup.py
Labels: CosmosDB, Auto-Assign, minor

#8366 add support for bastion developer create
  src/bastion/HISTORY.rst
  src/bastion/azext_bastion/aaz/latest/network/bastion/_create.py
  src/bastion/azext_bastion/custom.py
  src/bastion/azext_bastion/tests/latest/recordings/test_bastion_host_crud.yaml
  src/bastion/azext_bastion/tests/latest/test_bastion.py
  src/bastion/setup.py
Labels: customer-reported, Network, Auto-Assign

#8454 [connectedk8s] Update extension CLI to v1.10.5
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/_fileutils.py
  src/connectedk8s/azext_connectedk8s/_troubleshootutils.py
  src/connectedk8s/azext_connectedk8s/_utils.py
  src/connectedk8s/azext_connectedk8s/clientproxyhelper/__init__.py
  src/connectedk8s/azext_connectedk8s/clientproxyhelper/_binaryutils.py
  src/connectedk8s/azext_connectedk8s/clientproxyhelper/_enums.py
  src/connectedk8s/azext_connectedk8s/clientproxyhelper/_proxylogic.py
  src/connectedk8s/azext_connectedk8s/clientproxyhelper/_utils.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/tests/latest/test_connectedk8s_scenario.py
  src/connectedk8s/azext_connectedk8s/tests/unittests/test_utils_.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#8443 fix 'az aks nodepool upgrade' cannot set 'node-soak-duration' to 0
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8456 [AKS] `az aks create/az aks nodepool add`: Emit error message when using `--asg-ids` alone without `--allowed-host-ports`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8476 [connectedk8s] Update extension CLI to v1.10.6
  src/connectedk8s/HISTORY.rst
  src/connectedk8s/azext_connectedk8s/_constants.py
  src/connectedk8s/azext_connectedk8s/custom.py
  src/connectedk8s/azext_connectedk8s/tests/latest/test_connectedk8s_scenario.py
  src/connectedk8s/setup.py
Labels: Connected Kubernetes, Auto-Assign

#8490 Correct the description of `--custom-ca-certificates`
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/setup.py
Labels: customer-reported, AKS, Auto-Assign

#8496 [Containerapp] Release a new extension version `1.1.0b3`
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#8472 [Containerapp] az containerapp create: Support --kind {functionapp}
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_models.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_kind_functionapp.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Functions, Auto-Assign, ContainerApp

#8437 [ImageCopy] Fixing accessSAS according to latest CodeGen migration
  src/image-copy/HISTORY.rst
  src/image-copy/azext_imagecopy/azext_metadata.json
  src/image-copy/azext_imagecopy/custom.py
  src/image-copy/setup.py
Labels: customer-reported, Compute, Auto-Assign, skip-cal-version

#8478 aks-preview-extension: Add --max-unavailablemto the `az aks nodepool add/update/upgrade` commands
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_nodepool_max_unavailable.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8499 [AKS] az aks create/update: Update recording rule group create logic for managed prometheus addon
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/azuremonitormetrics/recordingrules/common.py
  src/aks-preview/azext_aks_preview/azuremonitormetrics/recordingrules/create.py
  src/aks-preview/setup.py
Labels: AKS, Logic App, Alerts Management, extension/grafana, Auto-Assign

#8503 {ServiceConnector-Passwordless} Fix Fabric SQL target interactive mode
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_params.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_resource_config.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/custom.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign
