Repository Azure/azure-cli-extensions, pull requests merged in 2025-01, with the labels that each got.

#8396 {CI} Discard local data changes when checkout branch
  .github/workflows/VersionCalPRComment.yml
Labels: CI, Auto-Assign

#8395 {Containerapp} Fix integration test
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#8314 [Subscription]`az account create`: Fix `--owner-upn` and ` --owner-spn ` not working
  src/subscription/HISTORY.rst
  src/subscription/azext_subscription/custom.py
  src/subscription/setup.py
Labels: Subscription, Auto-Assign

#8373 AMG: fix issue with dashboard json validation
  src/amg/HISTORY.rst
  src/amg/azext_amg/aaz/latest/grafana/__cmd_group.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_override.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_simple_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_private_endpoint.yaml
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#8386 {CI} add azdev scan - Pro task
  azure-pipelines.yml
Labels: CI, Auto-Assign

#8302 [containerapp] Add new commands for httprouteconfig
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_clients.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_http_route_config_crudoperations_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_env_http_route_config.py
Labels: Auto-Assign, ContainerApp

#8349 [Spring] Detect failed Update App operation during polling
  src/spring/HISTORY.md
  src/spring/azext_spring/app.py
  src/spring/setup.py
Labels: do-not-merge, Auto-Assign

#8405 [Containerapp] `az containerapp create/update`: Fix --bind/--unbind when cloud is not AzureCloud
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_client_factory.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/containerapp_decorator.py
Labels: Auto-Assign, ContainerApp

#8402 {CI} Refine error guidance for azdev scan (medium confidence) task
  azure-pipelines.yml
Labels: CI, Auto-Assign

#8389 [Playwright] Add CLI support for Playwright testing extension
  src/playwright-cli-extension/HISTORY.rst
  src/playwright-cli-extension/README.md
  src/playwright-cli-extension/azext_playwright_cli_extension/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/_help.py
  src/playwright-cli-extension/azext_playwright_cli_extension/_params.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/__cmd_group.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/_check_name_availability.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/quota/__cmd_group.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/quota/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/quota/_list.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/quota/_show.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/__cmd_group.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/_create.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/_delete.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/_list.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/_show.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/_update.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/_wait.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/quota/__cmd_group.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/quota/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/quota/_list.py
  src/playwright-cli-extension/azext_playwright_cli_extension/aaz/latest/playwright_testing/workspace/quota/_show.py
  src/playwright-cli-extension/azext_playwright_cli_extension/azext_metadata.json
  src/playwright-cli-extension/azext_playwright_cli_extension/commands.py
  src/playwright-cli-extension/azext_playwright_cli_extension/custom.py
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/__init__.py
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/recordings/test_create_playwright_workspace.yaml
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/recordings/test_delete_playwright_workspace.yaml
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/recordings/test_list_playwright_quota_by_subscription.yaml
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/recordings/test_list_playwright_workspaces.yaml
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/recordings/test_playwright_workspace_quota_not_found.yaml
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/recordings/test_show_playwright_quota_by_name.yaml
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/recordings/test_show_playwright_workspace.yaml
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/recordings/test_update_playwright_workspace.yaml
  src/playwright-cli-extension/azext_playwright_cli_extension/tests/latest/test_playwright_cli_extension.py
  src/playwright-cli-extension/setup.cfg
  src/playwright-cli-extension/setup.py
  src/service_name.json
Labels: Auto-Assign

#8370 [Eventgrid] Remove old commands which have been covered in main CLI
  src/eventgrid/HISTORY.rst
  src/eventgrid/azext_eventgrid/_client_factory.py
  src/eventgrid/azext_eventgrid/_help.py
  src/eventgrid/azext_eventgrid/_params.py
  src/eventgrid/azext_eventgrid/advanced_filter.py
  src/eventgrid/azext_eventgrid/commands.py
  src/eventgrid/azext_eventgrid/custom.py
  src/eventgrid/azext_eventgrid/event_channel_filter.py
  src/eventgrid/azext_eventgrid/inbound_ip_rules.py
  src/eventgrid/azext_eventgrid/tests/latest/recordings/test_namespace_client_and_client_group.yaml
  src/eventgrid/azext_eventgrid/tests/latest/test_eventgrid_commands.py
  src/eventgrid/azext_eventgrid/vendored_sdks/__init__.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/__init__.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/_configuration.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/_event_grid_management_client.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/models/__init__.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/models/_event_grid_management_client_enums.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/models/_models.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/models/_models_py3.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/models/_paged_models.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/__init__.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_domain_topics_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_domains_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_event_channels_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_event_subscriptions_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_extension_topics_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_partner_namespaces_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_partner_registrations_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_partner_topic_event_subscriptions_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_partner_topics_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_private_endpoint_connections_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_private_link_resources_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_system_topic_event_subscriptions_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_system_topics_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_topic_types_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/operations/_topics_operations.py
  src/eventgrid/azext_eventgrid/vendored_sdks/eventgrid/version.py
  src/eventgrid/setup.py
Labels: Event Grid, Auto-Assign

#8392 {CI} Auto create release tag.
  .github/workflows/CreateReleaseTag.yml
  scripts/automation/create_release_tag.py
Labels: CI, Auto-Assign

#8385 [DataMigration]: Update SQL Assessment Console App Package Download URL.
  src/datamigration/HISTORY.rst
  src/datamigration/azext_datamigration/manual/helper.py
  src/datamigration/setup.py
Labels: do-not-merge

#8320 [Container app] az containerapp env java-component: Support new configuration parameters on java component
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/java_component_decorator.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_gateway_for_spring_component.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_java_component.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_java_component_configurations.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_java_component.py
Labels: skip-cal-version

#8343 Switch to stable API 2024-09-20
  src/healthcareapis/HISTORY.rst
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/_create.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/_delete.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/_list.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/_show.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/_update.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/_wait.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/identity/_assign.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/identity/_remove.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/identity/_show.py
  src/healthcareapis/azext_healthcareapis/aaz/latest/healthcareapis/deidservice/identity/_wait.py
  src/healthcareapis/azext_healthcareapis/tests/latest/recordings/test_deidservice_lifecycle.yaml
  src/healthcareapis/setup.py
Labels: extension/healthcare, Auto-Assign

#8388 [Quantum] Remove resource estimator references (29126)
  src/quantum/azext_quantum/operations/job.py
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
  src/quantum/azext_quantum/tests/latest/test_quantum_targets.py
  src/quantum/azext_quantum/tests/latest/utils.py
Labels: Quantum, Auto-Assign

#8408 Fix deserialize issue in AMG notification channel test
  src/amg/HISTORY.rst
  src/amg/azext_amg/custom.py
  src/amg/setup.py
Labels: customer-reported, extension/grafana, Auto-Assign

#8137 Add commands for NSP Logging configuration - Microsoft.Network
  src/nsp/HISTORY.rst
  src/nsp/azext_nsp/aaz/latest/network/perimeter/logging_configuration/__cmd_group.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/logging_configuration/__init__.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/logging_configuration/_create.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/logging_configuration/_delete.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/logging_configuration/_show.py
  src/nsp/azext_nsp/aaz/latest/network/perimeter/logging_configuration/_update.py
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_accessrule_crud.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_accessrule_inbound.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_association_crud.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_crud.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_link_linkreference_crud.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_logging_configuration_crud.yaml
  src/nsp/azext_nsp/tests/latest/recordings/test_nsp_profile_crud.yaml
  src/nsp/azext_nsp/tests/latest/test_nsp.py
  src/nsp/setup.py
Labels: do-not-merge, customer-reported, Network, Auto-Assign

#8357 az k8s-extension create | Attempt to register a Resource Provider that is already registered
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/EntraWorkloadIAM.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/helper.py
  src/k8s-extension/setup.py
Labels: customer-reported, Auto-Assign, skip-cal-version

#8433 {AKS} Update test case `test_aks_create_and_update_with_http_proxy_config`
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#8428 [Containerapp]: az containerapp arc: Enable setup custom core dns for Aks AzureCore on Arc.
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_arc_utils.py
  src/containerapp/azext_containerapp/_constants.py
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_utils.py
  src/containerapp/azext_containerapp/commands.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/custom_preparers.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_arc_setup_core_dns_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_arc_commands.py
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#8436 {CI} Add git hook notice
  .github/template/git-hooks-note.md
  .github/workflows/GitHookNotice.yml
Labels: CI, Auto-Assign

#8435 [Containerapp] Release version `1.1.0b2`
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#8431 [devcenter] Fix examples and show-logs-by-operation command output
  src/devcenter/HISTORY.rst
  src/devcenter/azext_devcenter/_help.py
  src/devcenter/azext_devcenter/custom.py
  src/devcenter/setup.py
Labels: Auto-Assign

#8448 [devcenter] Update delay all/delay action commands to handle if no scheduled next time
  src/devcenter/HISTORY.rst
  src/devcenter/azext_devcenter/custom.py
  src/devcenter/azext_devcenter/utils.py
  src/devcenter/setup.py
Labels: Auto-Assign
