Repository Azure/azure-cli-extensions, pull requests merged in 2025-06, with the labels that each got.

#8813 Fixes device run-ro command failure when response is missing some fields, and updates tests
  src/managednetworkfabric/HISTORY.rst
  src/managednetworkfabric/azext_managednetworkfabric/operations/custom_properties.py
  src/managednetworkfabric/azext_managednetworkfabric/tests/latest/recordings/test_GA_Device_Ro_scenario3.yaml
  src/managednetworkfabric/azext_managednetworkfabric/tests/latest/test_device_ro.py
  src/managednetworkfabric/setup.py
Labels: customer-reported

#8825 {AKS} Wrap the ARG call logic in the managed namespace list command
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_managed_namespace.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Logic App, Auto-Assign

#8822 [aks-preview] Add command example
  src/aks-preview/azext_aks_preview/_help.py
Labels: AKS, Auto-Assign

#8833 [ServiceConnector-passwordless] improvements for pkg_resources is deprecated
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_credential_free.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/_utils.py
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign

#8820 {zones} new resource types & bugfix - version 1.0.0b4
  src/zones/HISTORY.rst
  src/zones/README.md
  src/zones/azext_zones/_argHelper.py
  src/zones/azext_zones/resource_type_validators/microsoft_app.py
  src/zones/azext_zones/resource_type_validators/microsoft_network.py
  src/zones/setup.py
Labels: Auto-Assign, ContainerApp

#8784 feat(acns): add transit encryption options for az create and update commands
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_transit_encryption_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_update_with_transit_encryption_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8826 [AKS] `az aks update`: Add `--enable-http-proxy` option
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8853 [Session Code Execute] Extend maximum supported value of --timeout-in-seconds from 180 to 220
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_validators.py
Labels: Auto-Assign, ContainerApp

#8890 {appservice-kube} Release appservice-kube 0.1.11
  src/appservice-kube/setup.py
Labels: extension/webapp, App Services, Web Apps, Auto-Assign, skip-cal-version

#8591 {AKS} Update test for network isolated cluster
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#8902 {AKS} fix test case when AGIC with Azure CNI Overlay
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#8884 [Containerapp] `az containerapp job create`: Fix message with `--help`
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_secret_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_container_app_mount_secret_update_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_create_enable_workload_profiles_three_state_flag.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_la_dynamic_json.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_env_public_network_access.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_gateway_for_spring_component.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_java_component.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_java_component_configurations.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_preview_create_with_environment_id.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_resiliency.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_environment_id.yaml
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_create_update_with_yaml.py
Labels: Auto-Assign, ContainerApp

#8893 [Storage-Actions] GA 2023-01-01
  src/storage-actions/HISTORY.rst
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/__cmd_group.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/__cmd_group.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_create.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_delete.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_list.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_list_assignment.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_list_report.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_preview_action.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_show.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_update.py
  src/storage-actions/azext_storage_actions/aaz/latest/storage_actions/task/_wait.py
  src/storage-actions/azext_storage_actions/azext_metadata.json
  src/storage-actions/azext_storage_actions/tests/latest/recordings/test_storage_actions_task_preview_action_scenarios.yaml
  src/storage-actions/azext_storage_actions/tests/latest/recordings/test_storage_actions_task_scenarios.yaml
  src/storage-actions/azext_storage_actions/tests/latest/test_storage_actions.py
  src/storage-actions/setup.py
Labels: skip-cal-version
