Repository Azure/azure-cli-extensions, pull requests merged in 2025-05, with the labels that each got.

#8718 [Elastic-SAN] `az elastic-san create`: Make `--base-size-tib` and `--extended-capacity-size-tib` optional with default value of 20 and 0
  src/elastic-san/HISTORY.rst
  src/elastic-san/azext_elastic_san/aaz/latest/elastic_san/_create.py
  src/elastic-san/azext_elastic_san/commands.py
  src/elastic-san/azext_elastic_san/custom.py
  src/elastic-san/azext_elastic_san/tests/latest/recordings/test_elastic_san_customer_managed_key_system_assigned_identity_scenarios.yaml
  src/elastic-san/azext_elastic_san/tests/latest/recordings/test_elastic_san_customer_managed_key_user_assigned_identity_scenarios.yaml
  src/elastic-san/azext_elastic_san/tests/latest/recordings/test_elastic_san_scenarios.yaml
  src/elastic-san/azext_elastic_san/tests/latest/recordings/test_elastic_san_snapshot_scenarios.yaml
  src/elastic-san/azext_elastic_san/tests/latest/recordings/test_elastic_san_soft_delete_scenarios.yaml
  src/elastic-san/azext_elastic_san/tests/latest/recordings/test_elastic_san_test_restore_backup_scenarios.yaml
  src/elastic-san/azext_elastic_san/tests/latest/recordings/test_elastic_san_volume_group_and_volume_scenarios.yaml
  src/elastic-san/azext_elastic_san/tests/latest/test_elastic_san.py
  src/elastic-san/setup.py
Labels: skip-cal-version

#8650 [AKS] Remove TrustedAccess commands in aks-preview
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_trustedaccess_rolebinding.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_get_trustedaccess_roles.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_list_trustedaccess_roles.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#8717 [Spring] Fix clear config file pattern with empty string
  src/spring/HISTORY.md
  src/spring/azext_spring/_deployment_factory.py
  src/spring/setup.py
Labels: Auto-Assign

#8723 {AKS} Fix API server access profile related test cases
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#8702 Restrict VirtualMachines node pool manual profile vm_sizes field to support single sku size
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_vms_agentpool_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: major

#8665 add aks core extensions cli commands
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/action.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_monitoring_legacy_auth.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_extension.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_extension_backup.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_extension_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_extension_type_backup.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8734 remove flux as core extension
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_helpers.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_extension.yaml
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_extension_type.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: skip-cal-version

#8736 [AKS] BREAKING CHANGE: Change default VM size changes to "" and clear test cases
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: major

#8711 Add --migrate-vmas-to-vms option to support VMAS migration to VMS agent pool
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8741 Defaulting vm_size for VMS AP
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8743 {CI} Update paths in update_extension_list.py and HISTORY.rst for Latest-version
  scripts/ci/avail-ext-doc/update_extension_list.py
  src/managednetworkfabric/HISTORY.rst
  src/networkcloud/HISTORY.rst
Labels: CI, Auto-Assign

#8748 [datamigration]: Add support for blob to Sql MI identity migrations
  src/datamigration/HISTORY.rst
  src/datamigration/azext_datamigration/generated/_help.py
  src/datamigration/azext_datamigration/manual/_help.py
  src/datamigration/azext_datamigration/manual/helper.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/models/_models.py
  src/datamigration/azext_datamigration/vendored_sdks/datamigration/models/_models_py3.py
  src/datamigration/setup.py
Labels: Data Migration, Auto-Assign

#8744 [Containerapp] Adding Foundry deployment support in `containerapp up`
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
  src/containerapp/azext_containerapp/_params.py
  src/containerapp/azext_containerapp/_up_utils.py
  src/containerapp/azext_containerapp/containerapp_env_decorator.py
  src/containerapp/azext_containerapp/custom.py
  src/containerapp/azext_containerapp/tests/latest/recordings/test_containerapp_up_foundry_model_e2e.yaml
  src/containerapp/azext_containerapp/tests/latest/test_containerapp_up.py
  src/containerapp/azext_containerapp/tests/latest/utils.py
Labels: Auto-Assign, ContainerApp

#8755 [Containerapp] Release version `1.0.0b5`
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp

#8720 [AKS] Remove `--enable-pod-security-policy` and `--disable-pod-security-policy` as it's deprecated
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign, major

#8757 {CI} Disable milestone comments from the bot.
  .github/azure-client-tools-bot/config.yml
Labels: CI, Auto-Assign

#8740 [connectedmachine] release preview version 2024-11-10
  src/connectedmachine/HISTORY.rst
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/_upgrade_extension.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/image/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/extension/image/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/license_profile/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_endpoint_connection/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_resource/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_resource/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/_wait.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/network_security_perimeter_configuration/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/network_security_perimeter_configuration/_reconcile.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/private_link_scope/network_security_perimeter_configuration/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_create.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_delete.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_list.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_show.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_update.py
  src/connectedmachine/azext_connectedmachine/aaz/latest/connectedmachine/run_command/_wait.py
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_esu_license.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_machine_and_extension.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_netowrk_configuration.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_private_link.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/recordings/test_run_command.yaml
  src/connectedmachine/azext_connectedmachine/tests/latest/test_ConnectedMachineAndExtension_scenario.py
  src/connectedmachine/azext_connectedmachine/tests/latest/test_ESULicense_scenario.py
  src/connectedmachine/azext_connectedmachine/tests/latest/test_NetworkConfigurationPerimeter_scenario.py
  src/connectedmachine/azext_connectedmachine/tests/latest/test_PrivateLinkAndPrivateEndpointConnection_scenario.py
  src/connectedmachine/azext_connectedmachine/tests/latest/test_RunCommand_scenario.py
  src/connectedmachine/setup.py
Labels: Auto-Assign

#8752 Informatica: udpated azure cli commands description
  src/informatica/HISTORY.rst
  src/informatica/README.md
  src/informatica/azext_informatica/aaz/latest/informatica/__cmd_group.py
  src/informatica/azext_informatica/aaz/latest/informatica/data_management/__cmd_group.py
  src/informatica/azext_informatica/aaz/latest/informatica/data_management/organization/__cmd_group.py
  src/informatica/azext_informatica/aaz/latest/informatica/data_management/organization/_create.py
  src/informatica/azext_informatica/aaz/latest/informatica/data_management/organization/_delete.py
  src/informatica/azext_informatica/aaz/latest/informatica/data_management/organization/_list.py
  src/informatica/azext_informatica/aaz/latest/informatica/data_management/organization/_show.py
  src/informatica/azext_informatica/aaz/latest/informatica/data_management/organization/_wait.py
  src/informatica/azext_informatica/azext_metadata.json
  src/informatica/azext_informatica/tests/latest/recordings/test_informatica.yaml
  src/informatica/azext_informatica/tests/latest/test_informatica.py
  src/informatica/setup.py
Labels: customer-reported

#8731 {aks}: Add support for basic lb migration
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/managed_cluster_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_create_with_basiclb_and_update_to_standardlb.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_managed_cluster_decorator.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#8785 [Service Connector] Release 3.3.3
  src/serviceconnector-passwordless/HISTORY.rst
  src/serviceconnector-passwordless/azext_serviceconnector_passwordless/config.py
  src/serviceconnector-passwordless/setup.py
Labels: Auto-Assign, skip-cal-version

#8808 fix: replacing the default e2e workspace and fixing e2e tests
  src/quantum/azext_quantum/tests/latest/recordings/test_get_provider.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_job_errors.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_jobs.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_offerings_errors.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_submit.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_target_errors.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_targets.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_version_check.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace_create_destroy.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace_errors.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace_keys.yaml
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
  src/quantum/azext_quantum/tests/latest/test_quantum_targets.py
  src/quantum/azext_quantum/tests/latest/test_quantum_workspace.py
  src/quantum/azext_quantum/tests/latest/utils.py
  src/quantum/tests.live/Run.ps1
Labels: Quantum, Auto-Assign

#8814 [k8s-extension] Update extension CLI to v1.6.5
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/DataProtectionKubernetes.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/recordingrules/create.py
  src/k8s-extension/azext_k8s_extension/partner_extensions/azuremonitormetrics/recordingrules/delete.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#8816 [Containerapp] Release version `1.2.0b1`
  src/containerapp/HISTORY.rst
  src/containerapp/setup.py
Labels: Auto-Assign, ContainerApp, minor
