Repository Azure/azure-cli-extensions, pull requests merged in 2025-08, with the labels that each got.

#9024 [Azure Container Apps] Fix session execute path examples
  src/containerapp/HISTORY.rst
  src/containerapp/azext_containerapp/_help.py
Labels: Auto-Assign, ContainerApp

#9034 {Quantum} Fix resource SDK import error
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/azext_metadata.json
  src/quantum/azext_quantum/operations/workspace.py
  src/quantum/setup.py
Labels: Auto-Assign

#9043 [k8s-extension] Update extension CLI to v1.6.7
  src/k8s-extension/HISTORY.rst
  src/k8s-extension/azext_k8s_extension/partner_extensions/ContainerInsights.py
  src/k8s-extension/setup.py
Labels: Auto-Assign

#9040 [AKS] `az aks machine show/list`: Show more details
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_format.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_machine_cmds.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9046 Quantum: -o output breaks when newer extension version exists + test updates
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/__init__.py
  src/quantum/azext_quantum/tests/latest/recordings/test_get_provider.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_jobs.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_submit.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_targets.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_version_check.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace_create_destroy.yaml
  src/quantum/azext_quantum/tests/latest/recordings/test_workspace_keys.yaml
  src/quantum/azext_quantum/tests/latest/test_quantum_jobs.py
  src/quantum/azext_quantum/tests/latest/utils.py
  src/quantum/setup.py
Labels: Auto-Assign

#8724 [AKS] identity binding commands
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_client_factory.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/aks_identity_binding/__init__.py
  src/aks-preview/azext_aks_preview/aks_identity_binding/commands.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_identity_binding_usages.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_identity_binding.py
  src/aks-preview/linter_exclusions.yml
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9050 {Quantum} Update minCliCoreVersion
  src/quantum/HISTORY.rst
  src/quantum/azext_quantum/azext_metadata.json
  src/quantum/setup.py
Labels: Auto-Assign

#9055 Support subfolders folder related commands
  src/amg/HISTORY.rst
  src/amg/azext_amg/_params.py
  src/amg/azext_amg/backup_core.py
  src/amg/azext_amg/custom.py
  src/amg/azext_amg/tests/latest/recordings/test_amg_api_key_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_backup_restore.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_crud.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_integrations_monitor.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_dry_run.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_override.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_remapping.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_migrate_simple_e2e.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_private_endpoint.yaml
  src/amg/azext_amg/tests/latest/recordings/test_amg_service_account_e2e.yaml
  src/amg/azext_amg/tests/latest/test_amg_scenario.py
  src/amg/setup.py
Labels: extension/grafana, Auto-Assign

#8990 {AKS} Add framework for interactive AI agent tool
  linter_exclusions.yml
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agent/__init__.py
  src/aks-preview/azext_aks_preview/agent/agent.py
  src/aks-preview/azext_aks_preview/agent/prompt.py
  src/aks-preview/azext_aks_preview/agent/telemetry.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/custom.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9062 Managed Network Fabric CLI: 30-day notice of breaking changes announcement for 9.0.x CLI
  src/managednetworkfabric/HISTORY.rst
  src/managednetworkfabric/azext_managednetworkfabric/_breaking_change.py
  src/managednetworkfabric/setup.py
Labels: Network, Auto-Assign

#9038 fixing help description for kind argument in `az containerapp create` command
  src/containerapp/azext_containerapp/_params.py
Labels: Auto-Assign, ContainerApp

#9056 {CI} Update pipeline to use Python 3.13
  azure-pipelines.yml
Labels: CI, Auto-Assign

#9067 {CI} Add artifact publishing for built wheels in CI pipeline
  azure-pipelines.yml
  scripts/ci/test_source.py
Labels: CI, Auto-Assign

#9059 {AKS} Add interactive AI-powered deubugging tool az aks agent
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/_consts.py
  src/aks-preview/azext_aks_preview/_help.py
  src/aks-preview/azext_aks_preview/_params.py
  src/aks-preview/azext_aks_preview/_validators.py
  src/aks-preview/azext_aks_preview/agent/prompt.py
  src/aks-preview/azext_aks_preview/agent/telemetry.py
  src/aks-preview/azext_aks_preview/commands.py
  src/aks-preview/azext_aks_preview/tests/latest/test_agent.py
  src/aks-preview/azext_aks_preview/tests/latest/test_validators.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9092 {AKS} Refactor code to suppress ssh access warning message when creating an automatic cluster
  src/aks-preview/HISTORY.rst
  src/aks-preview/azext_aks_preview/agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/recordings/test_aks_automatic_sku.yaml
  src/aks-preview/azext_aks_preview/tests/latest/test_agentpool_decorator.py
  src/aks-preview/azext_aks_preview/tests/latest/test_aks_commands.py
  src/aks-preview/setup.py
Labels: AKS, Auto-Assign

#9073 Update request idle timeout range
  src/containerapp/azext_containerapp/_params.py
Labels: Auto-Assign, ContainerApp
